﻿<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Change Password</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css' />
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="css/responsive.css" type="text/css" rel="stylesheet" />
</head>

<!--<body>-->
    <!--<div class="header">
        <div class="inner_container">
            <div class="logo"></div>


        </div>
    </div>-->
    <div id="main_container">

        <div class="login_container">
            <div class="login_heading">Change Password</div>
            <div class="login_inner_box">
                <ul class="logininput">
                    <li>
                        <span><em class="password_icon"></em></span><font class="forgot_pw">Old password</font>
                        <label><input name="" ng-model="OldPassword" type="{{showpassword ? 'text' : 'password'}}" placeholder="Enter Old Password" /></label>
                    </li>

                    <li>
                        <span><em class="old_password_icon"></em></span><font class="forgot_pw">New password</font>
                        <label><input name="" ng-model="NewPassword" type="{{showpassword ? 'text' : 'password'}}" placeholder="Enter New Password" /></label>
                    </li>
                   
                    <li>
                        <span><em class="new_password_icon"></em></span><font class="forgot_pw">Re-enter New Password</font>
                        <label><input name="" ng-model="ConfirmNewPassword" type="{{showpassword ? 'text' : 'password'}}" placeholder="Confirm New Password" /></label>
                    </li>
                    
                </ul>
                <input type="checkbox" ng-model="showpassword" ng-checked="false" class="chk_pass" />
                <label class="passwrd_lbl">Show Password</label>
                   
                <p style="color:red">{{Msg}}</p>
                <div class="button_block">
                    <button type="button" ng-click="ChangePassword()">

                        {{UserMgmtData.ButtonLabel.Submit}}
                    </button>
                </div>


            </div>
        </div>

    </div>
<!--</body>-->

