﻿
<div class="header" >
    <div class="inner_container">
        <div class="logo"></div>

        <div class="login_block" ng-if="UserDetails != null">
            <label>Hi {{UserDetails.Name}},</label>
            <span id="show" ng-click="toggleClick()">
                <em class="login_icon"></em>
                <div class="user_list">
                    <em class="arrow_box"></em>
                    <ul class="change_list">
                        <li ng-click="LogOut(2)" ng-if="UserDetails.UserType==1"><em class=""></em><label>Dashboard</label></li>

                        <li ng-click="LogOut(4)" ng-if="UserDetails.UserType==2"><em class=""></em><label>Dashboard</label></li>
                        <li ng-click="LogOut(5)"><label>Change Password</label></li>
                        <!--<li ng-click="LogOut(6)" ng-if="UserDetails.UserType==1 && UserDetails.UserRole==1"><em class=""></em><label>Manage Users</label></li>-->
                        <li ng-click="LogOut(6)" ng-if="UserDetails.UserID == 4 ||  UserDetails.UserID == 31 ||  UserDetails.UserID == 32 ||  UserDetails.UserID == 57"><em class=""></em><label>Manage Users</label></li>
                        <li ng-click="LogOut(1)"><em class="logout"></em><label>Logout</label></li>
                    </ul>
                </div>
            </span>
        </div>
    </div>
</div>