﻿
<div class="container_block">
    <div class="inner_container">

        <!--<div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li><a href="">Dashboard »</a></li>
            </ul>
            <div class="insurer_logo">
                <img src="http://health.policybazaar.com/images/supplier-logo-png/{{UserDetails.InsurerName.replace(' ', '_')}}.png" width="150" height="46" />
            </div>
        </div>-->
        <div class="inner_container form_container">
            <ul class="formbox">
                <li><span><label>Customer ID</label></span> <span> <input name="" type="text" class="form-control" maxlength="15" ng-model="CustomerId" /></span></li>
                <li><span><label>Inspection ID</label></span><span><input name="" type="text" class="form-control" maxlength="25" ng-model="InspectionId" /></span></li>
                <li><span><label>Vehicle Number</label></span><span><input name="" type="text" class="form-control" maxlength="15" ng-model="VehicleNumber" /></span></li>
                <li><span><label>Mobile Number</label></span> <span><input name="" type="text" class="form-control" maxlength="10" ng-model="MobileNumber" /></span></li>
                <li><span><label>Latest Booking ID</label></span> <span><input name="" type="number" class="form-control" maxlength="10" ng-model="BookingId" /></span></li>
                <li><span><label>Latest Lead ID</label></span> <span><input name="" type="number" class="form-control" maxlength="10" ng-model="LeadId" /></span></li>
                <li>
                    <span><label>Status</label></span><span>
                        <select ng-model="Selected.InsurerStatus" class="form-control" ng-options="data.StatusName for data in AllStatusCollection | unique: 'StatusId' track by data.StatusId">
                            <option value="">Select Status</option>
                        </select>
                    </span>
                </li>
                <li>
                    <span>
                        <label>Insurer </label>
                    </span>
                    <span>
                        <select class="insurer_box" ng-disabled="IsInsurerDrpDwnEnable" ng-model="Selected.Insurer" ng-options="data.InsurerName for data in AllInsurerCollection track by data.InsurerId">
                            <option value="">Select</option>
                        </select>
                    </span>
                </li>
                <li>
                    <span><label>Inspection From</label></span>
                    <span>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="FromDate" is-open="popup1.opened" readonly
                               datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open1()"></em>
                    </span>
                </li>
                <li>
                    <span><label>Inspection To</label></span>
                    <span>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="ToDate" is-open="popup2.opened" readonly
                               datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open2()"></em>
                    </span>
                </li>

            </ul>
            <!--<ul class="formbox">
            <li class="sml_field">
                <span>
                    <label>From</label>
                    <span>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="FromDate" is-open="popup1.opened" readonly
                               datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open1()"></em>
                    </span>
                </span>
            </li>
            <li class="sml_field">
                <label>To</label>
                <span>
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           ng-model="ToDate" is-open="popup2.opened" readonly
                           datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <em class="calendar_icon" data-provide="datepicker" ng-click="open2()"></em>
                </span>
            </li>
        </ul>-->
            <button type="button" class="view_detail" ng-disabled="PBInspectionLoad" ng-click="GetPBInspectionDetail()">{{PBInspectionLoad ? 'Please Wait ...' : 'Search' }}</button>
            &nbsp;&nbsp;
            <button type="button" class="view_detail" ng-click="ClearPBController()">Clear Filter</button>

            &nbsp;&nbsp;
            
            <!--<button type="button" class="view_detail" ng-click="DownloadExcel()">Clear Filter</button>-->
        </div>



        <div class="form_container">
            <div class="heading">

                <h2>
                    Search Result
                    <span ng-if="AllPBInspectionDetails.length > 0">
                        &nbsp;
                        <b>( Count: <span ng-bind="AllPBInspectionDetails.length"></span>)</b>
                    </span>
                </h2>
                <button ng-disabled="PDFPBInspectionLoad" class="btn btn-link pull-right" ng-click="exportToExcel('#tableToExport')">
                    <span ng-hide="PDFPBInspectionLoad"><span class="glyphicon glyphicon-share"></span> Export to Excel</span>
                    <span ng-show="PDFPBInspectionLoad">Please Wait...</span>
                </button>
            </div>

            <!--<div class="table_responsive">
                <table id="tableToExport" class="table table-bordered no-margin table-hover" ts-wrapper >
                    <thead>
                        <tr>
                            <th class="th_bg">SNo</th>
                            <th class="th_bg" ts-criteria="InspectionId|lowercase">InspectionId</th>
                            <th class="th_bg" ts-criteria="UploadedDate|parseDate">Inspection Date</th>
                            <th class="th_bg">Vehicle Number</th>
                            <th class="th_bg" ts-criteria="CustomerName|lowercase">Customer Name</th>
                            <th class="th_bg" ts-criteria="BookingId|parseInt">Latest Booking Id</th>
                            <th class="th_bg" ts-criteria="LeadId|parseInt">Latest LeadId</th>
                            <th class="th_bg" ts-criteria="InsurerName|lowercase">Insurer Name</th>
                            <th class="th_bg" ts-criteria="StatusName|lowercase">Status</th>
                            <th class="th_bg">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in AllPBInspectionDetails" ts-repeat>
                            <td>{{$index + 1}}</td>
                            <td>{{data.InspectionId}}</td>
                            <td>{{data.UploadedDate}}</td>
                            <td>{{data.VehicleNumber}}</td>
                            <td>{{data.CustomerName}}</td>
                            <td>{{data.BookingId}}</td>
                            <td>{{data.LeadId}}</td>
                            <td>{{data.InsurerName}}</td>
                            <td>{{data.StatusName}}</td>
                            <td><em class="view_icon" ng-click="OpenPBBooking(data)"></em></td>
                        </tr>
                    </tbody>
                </table>
            </div>-->
            <div>
                <table id="example1" class="table table-bordered table-striped display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="7%">SNo</th>
                            <th>InspectionId</th>
                            <th width="15%">Ins. Date</th>
                            <th>Vehicle Number</th>
                            <th>Cust. Name</th>
                            <th>Booking Id</th>
                            <th>Insurer Name</th>
                            <th>LeadId</th>
                            <th>Lead Source</th>
                            <th width="7%">Status</th>
                            <th width="7%">Action</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>
