﻿
<div class="container_block">
    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li><a href="/home.html#/MotorInspection/PB/InspectionDashboard"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back</a></li>
            </ul>
            <!--<div class="insurer_logo"><img src="http://health.policybazaar.com/images/supplier-logo-png/{{UserDetails.InsurerName.replace(' ', '_')}}.png" width="150" height="46" /></div>-->

        </div>
        <div class="form_container">
            <div class="heading">
                <h2>InspectionID: {{LabelInspectionID}}</h2>
                <button class="btn btn-primary pull-right" ng-click="ReplicateData()" >Replicate</button> 
            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin table-hover">
                    <thead>
                        <tr>
                            <th class="th_bg">SNo</th>
                            <th class="th_bg">InspectionId</th>
                            <th class="th_bg">Inspection Date</th>
                            <th class="th_bg">Vehicle Number</th>
                            <th class="th_bg">Customer Name</th>
                            <th class="th_bg">Latest BookingId</th>
                            <th class="th_bg">Insurer Name</th>
                            <th class="th_bg">Latest LeadId</th>
                            <th class="th_bg">Lead Source</th>
                            <th class="th_bg">Status</th>
                            <th class="th_bg">Edit VehicleNo.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" data in PBInspectionUnderWritingDetails">
                            <td>{{$index + 1}}</td>
                            <td>{{data.InspectionId}}</td>
                            <td style="font-size: 13px">{{data.UploadedDate}}</td>
                            <td ng-show="showvehicleno">{{data.VehicleNumber}}</td>
                            <td ng-hide="showvehicleno"><input type="text" id="vehicleno{{$index + 1}}" style="width: 100px;" ng-model="data.NewVehicleNumber"></td>
                            <td>{{data.CustomerName}}</td>
                            <td>{{data.BookingId}}</td>
                            <td>{{data.InsurerName}}</td>
                            <td>{{data.LeadId}}</td>                           
                            <td>{{data.LeadSource}}</td>
                            <td>{{data.StatusName}}</td>
                            <td><button class="btn btn-primary" style=" font-size: 10px" ng-click="showvehicleno = !showvehicleno; showedit = !showedit;data.NewVehicleNumber = data.VehicleNumber" ng-hide="showedit">Edit</button>
                                <button class="btn btn-primary" ng-show="showedit" style=" font-size: 10px" ng-click="UpdateVehicleNo(data.NewVehicleNumber)">Save</button>
                                <button class="btn btn-primary" ng-show="showedit" style=" font-size: 10px" ng-click="showedit = !showedit; showvehicleno = !showvehicleno">Cancel</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="savebutton" ng-click="divhide = !divhide">Inspection Rollback</button>

        </div>
        <div id="inspectionrollback" class="form_container col-md-12" ng-show="divhide">
            <ul class="formbox">

                <h2>InspectionID: {{LabelInspectionID}}</h2>

            </ul>
            <div class="formbox col-md-12">
                <div class="col-md-6">
                    <ul class="formbox" style="width:420%">
                        <li>
                            <label>Current Status</label>
                            <span>
                                <input id="CurrentStatus" type="text" ng-model="PBInspectionUnderWritingDetails[0].StatusName" disabled="disabled"><br />
                            </span>
                        </li>
                    </ul><ul class="formbox" style="width: 420%">
                        <li>
                            <label>Current SubStatus</label>
                            <span>
                                <input id="CurrentSubStatus" type="text" ng-model="PBInspectionUnderWritingDetails[0].SubStatusName" disabled="disabled"><br />
                            </span>
                        </li>
                    </ul><ul class="formbox" style="width: 420%">
                        <li>
                            <label>Current Insurer</label>
                            <span>
                                <input id="CurrentInsurer" type="text" ng-model="PBInspectionUnderWritingDetails[0].InsurerName" disabled="disabled" /><br />
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="formbox" style="width: 420%">
                        <li>
                            <label>Status</label>
                            <span>
                                <select class="insurer_box" ng-model="Selected.InsurerStatus1" ng-change="GetInsurers()"
                                        ng-options="data.StatusName for data in AllStatusCollection | unique: 'StatusId' track by data.StatusId">
                                    <option value="">Select</option>
                                </select>
                            </span>
                        </li>
                    </ul>
                    <ul ng-show="InsurerStatus1Visible" class="formbox" style="width:420%">
                        <li>
                            <label>SubStatus</label>
                            <span>
                                <select class="insurer_box" ng-model="Selected.InsurerSubStatus1" ng-options="data.SubStatusName for data in AllStatusCollection | filter: {StatusId:Selected.InsurerStatus1.StatusId}:true track by data.SubStatusId">
                                    <option value="">Select</option>
                                </select>
                            </span>
                        </li>
                    </ul>
                    <ul class="formbox" style="width:420%">
                        <li>
                            <label>Insurer</label>
                            <span>
                                <select class="insurer_box" ng-model="Selected.Insurer1" ng-options="data.InsurerName for data in AllInsurerCollection track by data.InsurerId">
                                    <option value="">Select</option>
                                </select>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="savebutton" ng-click="SaveInspectionStatus()" style="float:right;">Save</button>
        </div>
     <ul class="formbox">
                <li>
                        <label >Status</label>
                    <span>
                        <select class="insurer_box" ng-disabled="IsStatusDrpDwnEnable" ng-model="Selected.InsurerStatus" ng-change="GetInsurers()"
                                ng-options="data.StatusName for data in AllStatusCollection | unique: 'StatusId' track by data.StatusId">
                            <option value="">Select</option>
                        </select>
                    </span>
                </li>
                <li ng-show="IsSubStatusVisible">
                        <label>SubStatus</label>
                    <span>
                        <select class="insurer_box" ng-disabled="IsSubStatusDrpDwnEnable" ng-model="Selected.InsurerSubStatus" ng-options="data.SubStatusName for data in AllStatusCollection | filter: {StatusId:Selected.InsurerStatus.StatusId}:true track by data.SubStatusId">
                            <option value="">Select</option>
                        </select>
                    </span>
                </li>
                <li ng-show="IsInsurerVisible">
                        <label>Insurer</label>
                    <span>
                        <select class="insurer_box" ng-disabled="IsInsurerDrpDwnEnable" ng-model="Selected.Insurer" ng-options="data.InsurerName for data in AllInsurerCollection track by data.InsurerId">
                            <option value="">Select</option>
                        </select>
                    </span>
                </li>
         <li>
             <input ng-model="file"
                    onchange="angular.element(this).scope().file_changed(this)"
                    type="file" accept=".pdf,.jpg,.png,.jpeg,.docx,.doc" />
            
         </li>
         <li><button class="savebutton" ng-click="UploadDocuments()">Upload Documents</button><!--<span style="color:red">{{Error}}</span> <span style="color:green">{{Msg}}</span></li>-->
                <li class="remarks_block">
                    <label>Remarks</label>
                    <span>
                        <em class="right_mark"></em>
                        <textarea class="form-control" ng-model="Remarks" rows="3" maxlength="500"></textarea>
                    </span>
                </li>
            </ul>
            <div class="buttons">
                <button class="savebutton" ng-click="UpdatePbBookingDetails()">Update</button>
                <!--<button class="savebutton" ng-click="GetMediaFileUrl()">{{urlButtonTxt}}</button>-->
                <button class="savebutton" ng-click="GetMediaFileUrl()">Generate Lead</button>
            </div>
            <div class="form_container">
                <div class="heading">
                    <h2>Media Files</h2>
                </div>
                <div class="table_responsive">
                    <table class="table table-bordered no-margin table-hover">
                        <thead>
                            <tr>
                                <th class="th_bg">SNo</th>
                                <th class="th_bg">Media File</th>
                                <th class="th_bg">Download</th>
                                <th class="th_bg">Fast Download</th>
                                <th class="th_bg" ng-hide="viewmf">PBee Inspection Panel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in FileUrl">
                                <td>{{$index + 1}}</td>
                                <td>{{data.Fileinfo.FileName}}</td>
                                <td><button class="view_detail" ng-click="DownloadFile(data.Fileinfo.FileUrl)">Download</button></td>
                                <!--<td><button class="view_detail" ng-copy="data.Fileinfo.FileUrlInternal">Fast Download</button></td>-->
                                <td><button ng-if="data.Fileinfo.FileUrlInternal.length > 1" class="view_detail" copy-to-clipboard text-to-copy="data.Fileinfo.FileUrlInternal">Copy Link</button></td>
                                <td ng-hide="viewmf"><button class="view_detail" ng-click="DownloadFile(AutoInspectionURL)">View</button></td>
                             </tr>
                        </tbody>
                    </table>
                    <p><b>NOTE: Please use regular download if fast download link doesn’t work</b></p>
                </div>
            </div>
                
        <div class="form_container">
            <div class="heading">
                <h2>Inspection Documents</h2>
            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin table-hover">
                    <thead>
                        <tr>
                            <th class="th_bg">SNo</th>
                            <th class="th_bg">File Name</th>
                            <th class="th_bg">Uploaded By</th>
                            <th class="th_bg">Uploaded On</th>
                            <th class="th_bg">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in InspectionDocumentsURL">
                            <td>{{$index + 1}}</td>
                            <td>{{data.FileName}}</td>
                            <td>{{data.CreatedBy}}</td>
                            <td>{{data.CreatedOn}}</td>
                            <td><button class="view_detail" ng-click="DownloadFile(data.DocURL)">Click To Open</button>&nbsp;&nbsp;<button class="view_detail" ng-click="DeleteFile(data.DocURL)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

            <div class="form_container">
                <div class="heading">
                    <h2>Transaction Audit Trails</h2>
                </div>
                <div class="table_responsive">
                    <table class="table table-bordered no-margin">
                        <thead>
                            <tr>
                                <th class="th_bg">SNo</th>
                                <th class="th_bg">Name</th>
                                <th class="th_bg">Status Name</th>
                                <th class="th_bg">SubStatus Name</th>
                                <th class="th_bg">Remarks</th>
                                <th class="th_bg">Remarks By</th>
                                <th class="th_bg">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" data in AllInsurerInspectionHistory">
                                <td>{{$index + 1}}</td>
                                <td>{{data.CustomerName}}</td>
                                <td>{{data.StatusName}}</td>
                                <td>{{data.SubStatusName}}</td>
                                <td>{{data.Remarks}}</td>
                                <td>{{data.UserName}}</td>
                                <td>{{data.UploadedDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

