﻿
<div class="container_block">
    <div class="inner_container">
        <div class="breadcrum_strip">
            <div class="insurer_logo">
                <img src="http://health.policybazaar.com/images/supplier-logo-png/{{UserDetails.InsurerName.replace(' ', '_')}}.png" width="150" height="45" />
            </div>
            </div>
            <div class="form_container">
                <ul class="formbox">
                    <li>
                        <span>
                            <label>Inspection ID</label>
                        </span><span><input name="" type="text" class="form-control" maxlength="15" ng-model="inspectionId" /></span>
                    </li>
                    <li><span><label>Vehicle Number</label></span><span><input name="" type="text" class="form-control" maxlength="15" ng-model="vehicleNumber" /></span></li>
                    <li>
                        <span>
                            <label>Inspection From</label>
                        </span>
                        <span>
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                   ng-model="FromDate" is-open="popup1.opened" readonly
                                   datepicker-options="dateOptions"
                                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <em class="calendar_icon" data-provide="datepicker" ng-click="open1()"></em>
                        </span>

                    </li>
                    <li>
                        <label>Inspection To</label>
                        <span>
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                   ng-model="ToDate" is-open="popup2.opened" readonly
                                   datepicker-options="dateOptions"
                                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <em class="calendar_icon" data-provide="datepicker" ng-click="open2()"></em>
                        </span>
                    </li>
                </ul>
                <button type="button" class="view_detail" ng-click="GetInsurerInspectionDetail()">Search</button>
            </div>

            <div class="form_container">
                <div class="heading">
                    <h2>Search Result</h2>
                </div>
                <div class="table_responsive">
                    <table class="table table-bordered no-margin table-hover">
                        <thead>
                            <tr>
                                <th class="th_bg">SNo</th>
                                <th class="th_bg">InspectionId</th>
                                <th class="th_bg">Inspection Date</th>
                                <th class="th_bg">Vehicle Number</th>
                                <th class="th_bg">Customer Name</th>
                                <th class="th_bg">Insurer Name</th>
                                <th class="th_bg">Status</th>
                                <th class="th_bg">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" data in AllInsurerInspectionDetails">
                                <td>{{$index + 1}}</td>
                                <td>{{data.InspectionId}}</td>
                                <td>{{data.UploadedDate}}</td>
                                <td>{{data.VehicleNumber}}</td>
                                <td>{{data.CustomerName}}</td>
                                <td>{{data.InsurerName}}</td>
                                <td>{{data.StatusName}}</td>
                                <!--<td><button class="view_detail" ng-click="OpenBooking(data)">View</button></td>-->
                                <td><em class="view_icon" ng-click="OpenBooking(data)"></em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

     
    </div>
</div>
