﻿
<div class="container_block">
    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li><a href="/home.html#/MotorInspection/Insurer/InsurerDashboard">Dashboard »</a></li>
            </ul>
            <div class="insurer_logo"><img src="http://health.policybazaar.com/images/supplier-logo-png/{{UserDetails.InsurerName.replace(' ', '_')}}.png" width="150" height="46" /></div>

        </div>
        <div class="form_container">
            <div class="heading">
                <h2>InspectionID: {{LabelInspectionID}}</h2>
            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <th class="th_bg">SNo</th>
                            <th class="th_bg">InspectionId</th>
                            <th class="th_bg">Inspection Date</th>
                            <th class="th_bg">Vehicle Number</th>
                            <th class="th_bg">Customer Name</th>
                            <th class="th_bg">Insurer Name</th>
                            <th class="th_bg">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" data in AllInsurerInspectionDetails">
                            <td>{{$index + 1}}</td>
                            <td>{{data.InspectionId}}</td>
                            <td>{{data.UploadedDate}}</td>
                            <td>{{data.VehicleNumber}}</td>
                            <td>{{data.CustomerName}}</td>
                            <td>{{data.InsurerName}}</td>
                            <td>{{data.StatusName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="formbox">
            <li>
                <span><label>Status</label></span>
                <span>
                    <select class="insurer_box" ng-disabled="IsStatusDrpDwnEnable" ng-model="Selected.InsurerStatus" ng-change="CheckSubStatus()"
                            ng-options="data.StatusName for data in AllStatusCollection | unique: 'StatusId' track by data.StatusId">
                        <option value="">Select</option>
                    </select>
                </span>
            </li>
            <li ng-show="IsSubStatusVisible">
                <span><label>SubStatus</label></span>
                <span>
                    <select class="insurer_box" ng-disabled="IsSubStatusDrpDwnEnable" ng-model="Selected.InsurerSubStatus" ng-options="data.SubStatusName for data in AllStatusCollection | filter: {StatusId:Selected.InsurerStatus.StatusId}:true track by data.SubStatusId">
                        <option value="">Select</option>
                    </select>
                </span>
            </li>
            <li class="remarks_block">
                <span><label>Remarks</label></span>
                <span>
                    <em class="right_mark"></em>
                    <!--<input name="" type="text" placeholder="Remarks" ng-model="Remarks" maxlength="250" />-->
                    <textarea class="form-control" ng-model="Remarks" rows="3" maxlength="500"></textarea>
                </span>
            </li>
        </ul>
        <div class="buttons">
            <button class="savebutton" ng-click="UpdateBookingDetails()">Update</button>
            <!--<button class="savebutton" ng-click="GetMediaFileUrl()">{{urlButtonTxt}}</button>-->
        </div>
        <div class="form_container">
            <div class="heading">
                <h2>Media Files</h2>
            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin table-hover">
                    <thead>
                        <tr>
                            <th class="th_bg">SNo</th>
                            <th class="th_bg">Media File</th>
                            <th class="th_bg">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" data in FileUrl">
                            <td>{{$index + 1}}</td>
                            <td>{{data.Fileinfo.FileName}}</td>
                            <td><button class="view_detail" ng-click="DownloadFile(data.Fileinfo.FileUrl)">Download</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form_container">
            <div class="heading">
                <h2>Inspection Documents</h2>
            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin table-hover">
                    <thead>
                        <tr>
                            <th class="th_bg">SNo</th>
                            <th class="th_bg">File Name</th>
                            <th class="th_bg">Uploaded By</th>
                            <th class="th_bg">Uploaded On</th>
                            <th class="th_bg">Click To Open</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in InspectionDocumentsURL">
                            <td>{{$index + 1}}</td>
                            <td>{{data.FileName}}</td>
                            <td>{{data.CreatedBy}}</td>
                            <td>{{data.CreatedOn}}</td>
                            <td><button class="view_detail" ng-click="DownloadFile(data.DocURL)">Click To Open</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form_container">
            <div class="heading">
                <h2>Transaction Result</h2>
            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <th class="th_bg">SNo</th>
                            <th class="th_bg">Status Name</th>
                            <th class="th_bg">SubStatus Name</th>
                            <th class="th_bg">Remarks</th>
                            <th class="th_bg">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" data in AllInsurerInspectionHistory">
                            <td>{{$index + 1}}</td>
                            <td>{{data.StatusName}}</td>
                            <td>{{data.SubStatusName}}</td>
                            <td>{{data.Remarks}}</td>
                            <td>{{data.UploadedDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
