﻿<div class="login_container">
    <div class="login_heading">Login</div>
    <div class="login_inner_box">
        <ul class="logininput">
            <li>
                <span><em class="user_icon"></em></span><font>Username</font>
                <label><input name="" type="text" value="" placeholder="User Name" ng-model="LoginID" /></label>
            </li>
            <li>
                <span><em class="password_icon"></em></span><font>Password</font>
                <label><input name="" type="password" value="" placeholder="Password" ng-model="Password" my-enter="Login()" /></label>
            </li>
        </ul>
        <p><a href="">{{Msg}}</a></p>
        <button type="button" ng-click="Login()">Sign In</button>
    </div>
</div>