﻿<div class="container_block">

    <div class="inner_container inner_container1">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li>Update User Information</li>

            </ul>
        </div>
        <div class="form_container">
            <ul class="formbox">
                <li>
                    <label>Name</label>
                    <span>
                        <input id="Name" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="UserInfo.Name" ng-required="true" placeholder="Enter Name" /><br />
                        <!--<input id="Name" type="text" ng-model="UserInfo.Name" /><br />-->
                    </span>
                </li>
                <li>
                    <label>EmailID</label>
                    <span>
                        <input id="EmailID" class="insurer_box" type="email" ng-model="UserInfo.EmailID" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" /><br />
                    </span>
                </li>

            </ul>
            <ul class="formbox">
                <li>
                    <label>MobileNo</label>
                    <span>
                        <input id="MobileNo" type="text" ng-model="UserInfo.MobileNo" /><br />
                    </span>
                </li>
                <li>
                    <label>UserType</label>
                    <span>
                        <select class="insurer_box" id="UserType" ng-model="Selected.UserTypeName" ng-options="data.Name for data in UserMgmtData.UserTypeName track by data.ID" ng-required="true">
                            <!--<option value=''>--Select--</option>-->
                        </select>
                    </span>
                </li>
            </ul>
            <ul class="formbox">
                <li>
                    <label>LoginID</label>
                    <span>
                        <input id="LoginID" type="text" ng-model="UserInfo.LoginID" />
                        <br />
                    </span>
                </li>
                <li>
                    <label>Password</label>
                    <span>
                        <input id="Password" type="text" ng-model="UserInfo.Password" />
                        <br />
                    </span>
                </li>
            </ul>
            <ul class="formbox">
                <li>
                    <div id="change" ng-hide="Selected.UserTypeName.ID=='2'">
                        <label>UserRole</label>
                        <span>
                            <select class="insurer_box" id="UserRole" ng-model="Selected.UserRoleName" ng-options="data.Name for data in UserMgmtData.UserRoleName track by data.ID" ng-required="true">
                                <!--<option value=''>--Select--</option>-->
                            </select>
                            <br />
                        </span>
                    </div>

                </li>
                <li>
                    <div id="change" ng-hide="Selected.UserTypeName.ID=='1'">
                        <label>InsurerName</label>
                        <span>
                            <select class="insurer_box" ng-model="Selected.InsurerName" ng-options="i.InsurerName for i in SupplierList track by i.InsurerID" ng-required="true">
                                <!--<option value=''>--Select--</option>-->
                            </select>
                        </span>
                    </div>

                </li>
            </ul>


            <p style="color: red">{{Msg}}</p>
            <button class="savebutton" ng-click="UpdateUserInfo()" style="float:right">
                {{UserMgmtData.ButtonLabel.Update}}
            </button>




        </div>
    </div>
</div>


<!--<div>
    <label>Update User Information</label>
    <br />
    <br />-->
    <!--{{UserDetails.UserID}};-->
    <!--<label>Name &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;</label><input id="Name" type="text" ng-model="UserInfo.Name"  /><br />
    <label>EmailID   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label><input id="EmailID" type="email" ng-model="UserInfo.EmailID" /><br />
    <label>MobileNo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; </label><input id="MobileNo" type="text" ng-model="UserInfo.MobileNo" /><br />
    <label>LoginID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label><input id="LoginID" type="text" ng-model="UserInfo.LoginID" /><br />
    <label>Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; </label><input id="Password" type="text" ng-model="UserInfo.Password" /><br />
    <label>UserType&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; </label><select id="UserType" ng-model="Selected.UserType" ng-options="data.Name for data in UserMgmtData.UserType track by data.ID" ng-required="true"></select><br />
    <label>UserRole&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; </label><select id="UserRole" ng-model="Selected.UserRole" ng-options="data.Name for data in UserMgmtData.UserRole track by data.ID" ng-required="true"></select><br />
    <label>InsurerName&nbsp;:&nbsp; </label><select ng-model="Selected.Insurer" ng-options="i.InsurerName for i in SupplierList" ng-required="true"></select>
    <br />
    <br />
    <input id="Update" type="button" value="Update" ng-click="UpdateUserInfo()" />
</div>-->