﻿<!--<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
    <script src="../Scripts/angu-fixed-header-table.js"></script>
    <script src="../Scripts/angular-dirPagination.js"></script>
</head>-->
<!--<body>-->
<div class="container_block">

    <div class="inner_container">
        <div class="breadcrum_strip strip_c hd_1">
            <ul class="breadcrum_hd">
                <li>User Details</li>
                <li style="float: right;"> <button style="background-color: #76c6dc;float:right" ng-click="AddNewUser()">Add User</button></li>

            </ul>

        </div>
        <div class="form_container form_c">
            <!--<label>User Details</label>
            <br />
            <br />-->
            <ul class="formbox hd_2">
                <li>
                    <label>Search</label>
                    <span>
                        <input ng-model="search" type="text" id="search" placeholder="Search"  />
                    </span>
                </li>
            </ul>
            <!--<center>
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    Previous
                </button>
                {{currentPage+1}}/{{numberOfPages()}}
                <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next
                </button>
            </center>-->

            <div id="scrollable-area">

                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <th> S.No</th>
                            <th> Name</th>
                            <th> EmailId</th>
                            <th> MobileNo</th>
                            <th> LoginId</th>
                            <!--<th> Password</th>-->
                            <th> UserType</th>
                            <th> UserRole</th>
                            <th> InsurerName</th>
                            <th> InsurerID</th>
                            <!--<th> ApplicationType</th>-->
                            <th>Update Information</th>


                        </tr>
                    </thead>

                    <tbody>


                        <tr ng-repeat="data in Userlist | filter:search">
                            <!--| startFrom:currentPage*10 | limitTo:10">-->



                            <td>{{$index+1}}</td>
                            <td>{{data.Name}}</td>
                            <td>{{data.EmailID}}</td>
                            <td>{{data.MobileNo}}</td>
                            <td>{{data.LoginID}}</td>
                            <!--<td>{{data.Password}}</td>-->
                            <td>{{data.UserType}}</td>
                            <td>{{data.UserRole}}</td>
                            <td>{{data.InsurerName}}</td>
                            <td>{{data.InsurerID}}</td>
                            <!--<td>{{data.ApplicationType}}</td>-->
                            <!--<td><button class="savebutton" ng-click="Edit(data)">
                            {{UserMgmtData.ButtonLabel.Edit}}
                            </button></td>-->
                            <td><button ng-click="Edit(data)"><strong>Edit</strong></button></td>
                            <!--<a href="/home.html#/HealthExchange/Admin/UpdateUserInfo/{{$index}}">-->
                            <!--ng-click="accept($index)"-->
                        </tr>





                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>
<!--</body>
</html>-->
<style>
    #scrollable-area {
        height: 310px;
        overflow-y: scroll;
    }

    table {
        width: 100%;
    }

    thead {
        background: #fff;
    }
</style>
