﻿@charset "utf-8";
/* CSS Document */

body{background-color:#f2f2f2; padding:0; margin:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {border:0 none;font:inherit;margin:0;padding:0;vertical-align:baseline;list-style:none; font-family: "Lato",sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
button{ cursor:pointer;}
.clearfix{ clear:both;}

#main_container{ width:100%; margin:0 auto; }
.header{ background:#0388c9; padding:5px 0 0 0;}
h1{ margin:0 auto; padding:0; text-align:center; color:#ffffff; font-size:22px; background:none; text-transform:uppercase; font-weight:300; border-bottom: 5px solid #006fa5;    display: table; line-height:40px; letter-spacing: 0.1em;}
.inner_container{ width:100%; margin:15px auto; background:#ffffff; padding:20px 0; box-sizing:border-box;  border-radius:4px;  display: table; box-shadow:1px 2px 5px -1px #a0a0a0;}
h2{color: #026ca0; font-size: 20px; font-weight: 400; letter-spacing: 0.1em; margin:0 auto 25px; padding: 0; text-align: center; text-transform: uppercase; background:none;}
h3{float:left; color: #026ca0; font-size: 20px; font-weight: 400; letter-spacing: 0.1em; margin:0 auto 5px; padding:0 0 0px 0; text-align: center; background:none;}
.container_block { box-sizing: border-box; margin: 0 auto; padding:0; width: 100%;}
.top_heading{ color: #026ca0; font-size:15px; font-weight:400;letter-spacing: 0.1em;margin: 0 auto 5px;padding: 0;text-align: center;}
.fr {float:right;}
.document_list{border:1px solid #e3e3e3; border-radius:6px 6px 0 0; width:100%; box-sizing:border-box; background:#fcfcfc;  padding:15px;}
.document_list ul{ display:table; margin:0; padding:0; width:100%;}
.document_list ul li{ background: #ffffff; border: 1px solid #bababa; border-radius: 6px; color: #4f5d64; display: inline-block; font-size: 13px; margin: 0 10px 0 0; padding:7px;
    text-align: center;}
.document_uploadtable{  background: #ffffff; border-bottom: 1px solid #e3e3e3;border-left: 1px solid #e3e3e3;border-radius: 0 0 6px 6px;border-right: 1px solid #e3e3e3;margin: 0;}	
.document_uploadtable ul.heading{ background:#efefef;margin:0; padding:0; width:100%; display:table; box-sizing: border-box;}
.document_uploadtable ul.heading li{ margin:0; padding:15px 10px; font-size:13px;  color:#aeaeae; text-align:left; display: table-cell; }
.document_uploadtable ul.heading li.block1{ width:5%;}
.document_uploadtable ul.heading li.block2{ width:15%;}
.document_uploadtable ul.heading li.block3{ width:15%;}
.document_uploadtable ul.heading li.block4{ width:15%;}
.document_uploadtable ul.heading li.block5{ width:15%;}
.document_uploadtable ul.heading li.block6{ width:20%;}
.document_uploadtable ul.heading li.block7{ width:15%;}
.document_uploadtable ul.heading li.block7 select{ width:100%; background:none; border:1px solid #e3e3e3;}
.document_uploadtable ul.document_grid{ margin:0; padding:0; width:100%; display:table;  box-sizing: border-box; border-bottom:1px solid #f2f2f2;}
.document_uploadtable ul.document_grid li{margin:0; padding:15px 10px; font-size:13px;  color:#aeaeae; text-align:left; display: table-cell;}
.document_uploadtable ul.document_grid li select{border-radius:6px; border:1px solid #b1b1b1; padding:5px; width: 100%; box-sizing:border-box; }
.document_uploadtable ul.document_grid li input[type="text"]{border-radius:6px; border:1px solid #b1b1b1; padding:5px; font-size:13px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
.document_uploadtable ul.document_grid li input[type="file"]{ width:100%; margin:0; padding:0;}
.document_uploadtable ul.document_grid li input[type="checkbox"]{ margin:0; padding:0; height:13px; width:13px;}
.document_uploadtable ul.document_grid li.block1{ width:5%;}
.document_uploadtable ul.document_grid li.block2{ width:15%;}
.document_uploadtable ul.document_grid li.block3{ width:15%;}
.document_uploadtable ul.document_grid li.block4{ width:15%;}
.document_uploadtable ul.document_grid li.block5{ width:15%;}
.document_uploadtable ul.document_grid li.block6{ width:20%;}
.document_uploadtable ul.document_grid li.block7{ width:15%;}
.document_uploadtable ul.button_section{ background:none; margin:0; padding:0; width:100%; display:table;}
.document_uploadtable ul.button_section li{ margin:0; padding:15px 10px; display:table-cell; text-align:center;}
.document_uploadtable ul.button_section li.block1{width:10%;}
.document_uploadtable ul.button_section li .block2{width:80%;}
.savebutton{  border: 1px solid #0395dc; border-radius: 4px; color: #ffffff; font-size: 16px; min-width:100px; padding:6px 5px; background:#039be5; text-align: center; position:relative; min-width: 100px; box-shadow: 1px 2px 5px -1px #a0a0a0;}	
.add_more_block{ width:100%; display:block;  padding: 20px 0;}
.add_button{ background:#818a91; border-radius:4px; color:#ffffff; font-size:13px; border:1px solid #bbbbbb; text-align:center; font-weight:400; padding: 6px 3px; margin:0;}
.inner_block{padding:0 20px; box-sizing:border-box;}
.viewicon{background:url(../images/sprite.png) no-repeat -169px -70px; float:left; width:18px; height:11px; margin:0 0 0 9px;}

.modal-content-softcopy {  box-sizing:border-box; padding:0 20px;}
.cancel_dropbox{margin: 0; border: none;padding: 7px; margin: 0 7px 0 0; width: 15%; color: #797979;font-size: 14px; font-weight: 400;font-family: "Lato",sans-serif;border: 1px solid #e1e1e1;border-radius: 6px;}
.soft_copytext { padding:0 10px 0 0;}
.category_block.planame {padding:25px 0 0 0; text-align: left;}
.container_block{width: 100%; box-sizing: border-box; margin: 0 auto; padding: 2% 1% 0 1%;}
.endorsement_button {border: 1px solid #0395dc; border-radius: 4px;  color: #ffffff;  font-size: 13px;  min-width: 150px; padding: 4px 0; background: #039be5; text-align: center;
    position: relative;  min-width: 132px; box-shadow: 1px 2px 5px -1px #a0a0a0; margin: 0 15px 0 0;}
.category_block div span {color:#039be5;}
.status_block {margin: 0 auto;padding: 7px 10px;  margin-top: 21px;     text-align: center;}
.status_block_text {margin: 0 auto;  border: 1px solid #ddd;  padding: 7px 10px;   background: #eee;  border-radius: 3px; font-size: 14px; text-align: center;}
ul.endorsement_list{ width:100%; display:table; padding:0; margin:0;}
ul.endorsement_list li{ list-style:none; display:table-cell; vertical-align:middle; padding:10px 0; margin:0; position:relative; width: 20%; box-sizing:border-box; border-bottom:1px solid #e1e1e1;}
ul.endorsement_list li label{ font-size:13px; color:#aeaeae; text-align:left; display:block; padding: 0 0 7px;}
ul.endorsement_list li.last-box{ padding-right:0;}
ul.endorsement_list li span.datablock {border-radius:4px; border:1px solid #def0f8; font-size:16px; padding:7px; margin:0; width:100%; box-sizing:border-box; color:#039be5;box-shadow:0 2px 9px -1px #def0f8;}
ul.endorsement_list li span input[type="text"]{border-radius:4px;  font-size:15px; padding:10px 0; margin:0; border:none; width:100%; box-sizing:border-box; color:#4f5d64; background:none;}

.close_button{ background: #039be5; border: 1px solid #039be5; border-radius: 80px; color: #ffffff;font-weight: bold; height: 36px;line-height: 35px;position: absolute; right: -1%;
    text-align: center; text-decoration: none; top: 0%;width: 36px;}



.inner_container_kyc{ width:100%; margin:0 auto; padding:10px 0 10px 0; box-sizing:border-box}
h2{color:#026ca0; font-size: 20px; font-weight: 400; letter-spacing: 0.1em; margin:0 auto 25px; padding: 0; text-align: center; text-transform: uppercase; background:none;}
h3{color:#026ca0; font-size: 20px; font-weight: 400; letter-spacing: 0.1em; margin:0 auto 0px; padding:15px 0; text-align:left; text-transform:capitalize; background:none;}
.container_block_kyc { box-sizing: border-box; margin: 0 auto; padding:0; width: 100%;}
.document_list_kyc{border:1px solid #e3e3e3; border-radius:6px 6px 0 0; width:100%; box-sizing:border-box; background:#fcfcfc;  padding:15px;}
.document_list_kyc ul{ display:table; margin:0; padding:0; width:100%;}
.document_list_kyc ul li{ background: #ffffff; border: 1px solid #bababa; border-radius: 6px; color: #4f5d64; display: inline-block; font-size: 13px; margin: 0 10px 0 0; padding:7px;
    text-align: center;}
.document_uploadtable_kyc{  background: #ffffff; border-bottom: 1px solid #e3e3e3;border-left: 1px solid #e3e3e3;border-radius: 0 0 6px 6px;border-right: 1px solid #e3e3e3;margin: 0;     float: left;
    width: 100%;}	
.document_uploadtable_kyc ul.heading{ background:#efefef;margin:0; padding:0; width:100%; display:table; box-sizing: border-box;border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;}
.document_uploadtable_kyc ul.heading li{ margin:0; padding:15px 10px; font-size:15px;  color:#aeaeae; text-align:left; display: table-cell; }
.document_uploadtable_kyc ul.heading li.block1{ width:20%;}
.document_uploadtable_kyc ul.heading li.block2{ width:20%;}
.document_uploadtable_kyc ul.heading li.block3{ width:20%;}
.document_uploadtable_kyc ul.heading li.block4{ width:20%;}
.document_uploadtable_kyc ul.heading li.block5{ width:10%;}
.document_uploadtable_kyc ul.heading li.block6{ width:10%;}
.document_uploadtable_kyc ul.document_grid{ margin:0; padding:0; width:100%; display:table;  box-sizing: border-box; border-bottom:1px solid #f2f2f2;}
.document_uploadtable_kyc ul.document_grid li{margin:0; padding:15px 10px; font-size:14px;  color:#aeaeae; text-align:left; display: table-cell;vertical-align: middle; 
    word-break: break-all;}
.document_uploadtable_kyc ul.document_grid li button{ background:#999999; border-radius:4px; padding:6px 5px; color:#fff; font-size:15px; border:none; width:100%; margin: 0 0 7px 0;}
.document_uploadtable_kyc ul.document_grid li button.verify{ background:#2d9add; border-radius:4px; padding:6px 5px; color:#fff;  border:none; width:100%;}
.document_uploadtable_kyc ul.document_grid li a.verify{ background:#2d9add; border-radius:4px; padding:6px 5px; color:#fff;  border:none; width:100%; text-align:center;}
.document_uploadtable_kyc ul.document_grid li button.rejected{ background:#e94d3c;}
.document_uploadtable_kyc ul.document_grid li i.date_timeformat{font-size:11px; display:block;}
.document_uploadtable_kyc ul.document_grid li a{ display:table; color:#0099FF; text-decoration:none; margin: 0 0 10px 0; 
    word-break: break-all;}
.document_uploadtable_kyc ul.document_grid li a span{display: table-cell; vertical-align: middle;}
.document_uploadtable_kyc ul.document_grid li a em{display: table-cell; margin: 0 5px 0 0; float: left; vertical-align: middle;}
.document_uploadtable_kyc ul.document_grid li em{ display:inline; padding:0 0 0 0; margin:0;}
.document_uploadtable_kyc ul.document_grid li em.word_doc{ background: url(../images/sprite_icon.png) no-repeat -1px -1px; width:17px; height:17px; display:inline-block;}
.document_uploadtable_kyc ul.document_grid li em.excel_doc{ background: url(../images/sprite_icon.png) no-repeat -1px -22px; width:17px; height:17px; display:inline-block;}
.document_uploadtable_kyc ul.document_grid li em.pdf_doc{ background: url(../images/sprite_icon.png) no-repeat -1px -43px; width:17px; height:17px; display:inline-block;}
.document_uploadtable_kyc ul.document_grid li em.img_file{ background: url(../images/sprite_icon.png) no-repeat -1px -64px; width:17px; height:17px; display:inline-block;}
.document_uploadtable_kyc ul.document_grid li select{border-radius:6px; border:1px solid #b1b1b1; padding:5px; width: 100%; box-sizing:border-box; }
.document_uploadtable_kyc ul.document_grid li input[type="text"]{border-radius:6px; border:1px solid #b1b1b1; padding:5px; font-size:13px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
.document_uploadtable_kyc ul.document_grid li input[type="file"]{ width:100%; margin:0; padding:0;}
.document_uploadtable_kyc ul.document_grid li input[type="checkbox"]{ margin:0; padding:0; height:13px; width:13px;}
.document_uploadtable_kyc ul.document_grid li.block1{ width:20%;}
.document_uploadtable_kyc ul.document_grid li.block2{ width:20%;}
.document_uploadtable_kyc ul.document_grid li.block3{ width:20%;}
.document_uploadtable_kyc ul.document_grid li.block4{ width:20%;}
.document_uploadtable_kyc ul.document_grid li.block5{ width:10%;}
.document_uploadtable_kyc ul.document_grid li.block6{ width:10%;}
.document_uploadtable_kyc ul.button_section{ background:none; margin:0; padding:0; width:100%; display:table;}
.document_uploadtable_kyc ul.button_section li{ margin:0; padding:15px 10px; display:table-cell; text-align:center;}
.document_uploadtable_kyc ul.button_section li.block1{width:10%;}
.document_uploadtable_kyc ul.button_section li .block2{width:80%;}
.savebutton_kyc{  border: 1px solid #0395dc; border-radius: 4px; color: #ffffff; font-size: 16px; min-width:100px; padding:6px 5px; background:#039be5; text-align: center; position:relative; min-width: 100px; box-shadow: 1px 2px 5px -1px #a0a0a0;}	
.add_more_block_kyc{ width:100%; display:block;  padding: 20px 0;}
.add_button_kyc{ background:#818a91; border-radius:4px; color:#ffffff; font-size:14px; border:1px solid #bbbbbb; text-align:center; font-weight:400; padding: 6px 5px; margin:0;}
.inner_block{padding:0 20px 10px 20px; box-sizing:border-box; background:#ffffff;  border-radius:4px;  display: table; box-shadow:1px 2px 5px -1px #a0a0a0; border: 1px solid #e3e3e3;width:100%; margin: 0 0 24px 0;}
.button_block_kyc{ margin:0 auto; text-align:center; width:100%; display:block; margin-top:20px;margin-bottom: 10px;}
.submit_button_kyc{ background:#999999; border-radius:4px; padding:10px 5px; color:#fff; font-size:16px; border:none; width:230px; margin: 16px 0 0 0;}
.booking_detail_kyc{ width:100%; display:table; padding:0px 0 20px 0;}
.booking_detail_kyc span.top_heading{ color: #026ca0; display: table-cell; font-size:14px; font-weight:400;letter-spacing: 0.1em;margin: 0 auto 5px;padding: 0;text-align: left;text-transform: capitalize;}
.booking_detail_kyc span.last_block{ text-align:right;}
.booking_detail_kyc span.last_block a{ text-decoration:none; color:#026ca0;}
#fancybox-content{width:1102px;}
.doc_submit{background: #2d9add; border-radius: 4px; padding: 10px 5px; color: #fff; font-size: 16px; border: none; width: 230px; margin: 16px 0 0 0;}