﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Health Exchange</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css' />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/ui-bootstrap-custom-tpls-1.3.2.min.js"></script>

    <!--<script src="app.js"></script>-->
    <script>

        var app = angular.module("HexUnderwriting", ["ngRoute", "ui.bootstrap"]).config(["$routeProvider",
          function ($routeProvider) {

          }]);

    </script>
    <script src="Resources.js"></script>
    <script src="Scripts/HealthExchange/InsurerDecisionController.js"></script>
    <script src="Scripts/HealthExchange/InsurerDecisionService.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" type="text/css" rel="stylesheet" />





</head>
<body ng-app="HexUnderwriting">
    <div class="header">
        <div class="inner_container">
            <div class="logo"></div>


        </div>
    </div>
    <div id="main_container" ng-controller="InsurerDecisionCtrl">
        <div class="form_container">

            <div class="heading">
                <h2>Response</h2>
            </div>

            <div ng-repeat="data in PBInsurerUnderwritingDetails.InsurerUnderwritingDetails " class="expand_block">
                <div class="insurer_resp_block">
                    <div class="expan_tab">
                        <span class="heading_text">{{data.InsurerDetails.InsurerName}} ({{data.InsurerDetails.PlanName}})</span>
                    </div>

                    <div class="result_block  animate-show-hide">
                        <ul class="planinfobox">
                            <li>
                                <label>Plan Name</label>
                                <span>
                                    <input name="" type="text" value="{{data.InsurerDetails.PlanName}}" disabled="disabled" />
                                </span>
                            </li>
                            <li>
                                <label>Sum Insured</label>
                                <span>
                                    <input name="" type="text" value="{{data.InsurerDetails.SumInsured}}" disabled="disabled" />
                                </span>
                            </li>
                            <li>
                                <label>Premium</label>
                                <span>
                                    <input name="" type="text" value="{{data.InsurerDetails.BasePremium}}" disabled="disabled" />
                                </span>
                            </li>
                        </ul>
                        <h3>Decision</h3>

                        <ul class="planinfobox">
                            <li>
                                <input type="radio" ng-checked="data.InsurerActionDetails.Accept" disabled="disabled" />
                                <label class="inputfd">Accept</label>
                            </li>
                            <li>
                                <input type="radio" ng-checked="data.InsurerActionDetails.Reject" disabled="disabled" />
                                <label class="inputfd">Reject</label>
                            </li>
                            <li>
                                <input type="radio" ng-checked="data.InsurerActionDetails.AcceptWithConditions" disabled="disabled" />
                                <label class="inputfd">Accept with Conditions</label>
                            </li>
                            <li>
                                <input type="radio" ng-checked="data.InsurerActionDetails.AdditionalInfoRequired" disabled="disabled" />
                                <label class="inputfd">
                                    Additional Info Required
                                </label>
                            </li>
                        </ul>

                        <ul class="planinfobox">
                            <li ng-if="data.InsurerStatusID == 8">
                                <input type="radio" checked="checked" disabled="disabled" />
                                <label class="inputfd">Case Closed</label>
                            </li>
                            <li ng-if="data.InsurerStatusID == 7">
                                <input type="radio" checked="checked" disabled="disabled" />
                                <label class="inputfd">Accepted By Customer</label>
                            </li>
                            <li ng-if="data.InsurerStatusID == 9">
                                <input type="radio" checked="checked" disabled="disabled" />
                                <label class="inputfd">Payment Done & Closed</label>
                            </li>
                        </ul>
                        <div ng-if="data.InsurerActionDetails.AcceptWithConditions">
                            <h3>Conditions</h3>
                            <ul class="planinfobox">
                                <li>
                                    <input name="ss" type="checkbox" value="" ng-model="data.IsCoPay" disabled="disabled" />
                                    <label class="inputfd wAuto">Copay</label>

                                </li>


                            </ul>
                            <div class="mLeft">

                                <ul class="planinfobox">
                                    <li>
                                        <div class="">
                                            <input name="CopayType" type="radio" value="1" ng-model="data.CopayType" disabled="disabled" />
                                            <label>Overall Copay(%)</label>
                                            <input name="ss" type="number" min="0" max="99" maxlength="2" ng-model="data.CoPay"
                                                   disabled="disabled" />
                                        </div>
                                    </li>
                                </ul>

                                <ul class="planinfobox">
                                    <li>
                                        <label class="inputfd">
                                            <input name="CopayType" type="radio" value="2" ng-model="data.CopayType" disabled="disabled" />
                                            Member Level Copay
                                        </label>
                                    </li>
                                </ul>

                                <ul class="planinfobox">
                                    <li>

                                        <div class="inpInline">
                                            <table width="50%" cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                                                <tr>
                                                    <td>
                                                        Member Name
                                                    </td>
                                                    <td>
                                                        Copay(%)
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="dataCoveredMembers in data.CopayDetailsList">
                                                    <td>
                                                        {{dataCoveredMembers.MemberName}}
                                                    </td>
                                                    <td>
                                                        <input name="ss" type="number" ng-model="dataCoveredMembers.Copay"
                                                               disabled="disabled" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <ul class="planinfobox">


                                <li ng-if="data.ProposerDetails.CoveredMembers.length>1 && data.IsMemberExclusion">
                                    <input name="" type="checkbox" value="" ng-model="data.IsMemberExclusion" disabled="disabled" />
                                    <label class="inputfd">Member Rejection</label>
                                    <div class="hidden_fd" ng-repeat="data in data.ProposerDetails.CoveredMembers">
                                        <input name="" type="checkbox" value="" ng-model="data.IsExcluded" disabled="disabled" />
                                        <label class="inputfd">{{data.Name}}</label>
                                        <div class="inpInline"><input name="" type="text" ng-model="data.ExclusionReason" disabled="disabled" /></div>
                                    </div>

                                </li>
                                <li ng-if="data.IsDiseaseExclusion">
                                    <input name="" type="checkbox" value="" ng-model="data.IsDiseaseExclusion" disabled="disabled" />
                                    <label class="inputfd">Disease Exclusions</label>
                                    <div class="hidden_fd">
                                        <input name="" type="checkbox" value="" ng-model="data.IsDiseaseExclusionPerm" disabled="disabled" />
                                        <label class="inputfd wAuto">Permanent</label>
                                        <div class="inpInline">
                                            <textarea name="" cols="" rows="" class="textarea_block" ng-init="" ng-model="data.DiseaseExclusionPerm" disabled="disabled"></textarea>

                                        </div>
                                    </div>
                                    <div class="hidden_fd">
                                        <input name="" type="checkbox" value="" ng-model="data.IsDiseaseExclusionTemp" disabled="disabled" />
                                        <label class="inputfd wAuto">Temporary</label>
                                        <div class="inpInline">
                                            <textarea name="" cols="" rows="" class="textarea_block" ng-init="" ng-model="data.DiseaseExclusionTemp" disabled="disabled"></textarea>
                                        </div>
                                    </div>
                                </li>

                            </ul>


                            <h3>Final Premium (Including Loading)</h3>
                            <ul class="planinfobox">
                                <li>
                                    <input name="dd" type="checkbox" value="" ng-model="data.IsLoadPremium" disabled="disabled" />
                                    <label class="inputfd">Loaded Premium</label>
                                </li>
                            </ul>
                            <div class="mLeft">

                                <ul class="planinfobox">
                                    <li>
                                        <div class="">
                                            <input name="LoadingType" type="radio" value="1" ng-model="data.LoadingType" disabled="disabled" />
                                            <label>Overall Loading(%)</label>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="finalPremium" ng-if="data.LoadingType==1">
                                    <li>
                                        <label>Please enter the % value</label>
                                        <input name="ss" type="number" ng-model="data.PremLoadingPerc" id="txtPremLoadingPerc" disabled="disabled" />
                                    </li>
                                    <li>
                                        <label>Loading Amount</label>
                                        <input name="ss" type="number" ng-model="data.PremLoadingAmount" id="txtPremLoadingAmount" disabled="disabled" />
                                    </li>
                                    <li>
                                        <label>Final Amount</label>
                                        <input name="ss" type="number" ng-model="data.FinalPremium" id="txtFinalPremium" disabled="disabled" />

                                    </li>
                                    <li> </li>
                                </ul>
                                <ul class="planinfobox">
                                    <li>
                                        <label class="inputfd">
                                            <input name="LoadingType" type="radio" value="2" ng-model="data.LoadingType" disabled="disabled" />
                                            Member Level Loading
                                        </label>
                                    </li>
                                </ul>

                                <ul class="planinfobox" ng-if="data.LoadingType==2">
                                    <li>

                                        <div class="inpInline">
                                            <table width="50%" cellpadding="0" cellspacing="0" border="0" class="table table-bordered" ng-if="data.InsurerActionDetails.AcceptWithConditions">
                                                <tr>
                                                    <td>
                                                        Member Name
                                                    </td>
                                                    <td>
                                                        Loading(%)
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="dataCoveredMembers in data.LoadingDetailsList">
                                                    <td>
                                                        {{dataCoveredMembers.MemberName}}
                                                    </td>
                                                    <td>
                                                        <input name="ss" type="number" ng-model="dataCoveredMembers.MemberLoading" disabled="disabled" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div ng-if="data.InsurerActionDetails.AdditionalInfoRequired">

                            <div class="heading"><h3>Additional Info</h3> </div>
                            <div class="table_responsive">
                                <table class="table table-bordered no-margin">
                                    <thead>
                                    </thead>
                                    <th class="th_bg">Task Pending</th>
                                    <th class="th_bg">Members</th>
                                    <th class="th_bg">Comments</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in data.InsurerAdditionalInfoDeatilsList">

                                            <td>
                                                {{data.InfoName}}
                                            </td>
                                            <td>
                                                {{data.MemberName}}
                                            </td>
                                            <td> {{data.Comments}}</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <h3>Comments</h3>
                        <ul class="planinfobox">
                            <li><span><textarea name="" cols="" rows="" class="textarea_block" ng-model="data.InsurerComment" disabled="disabled"></textarea></span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

