﻿

<div class="inner_container inner_conwid">
    <h2>{{Documentsdetails.SupplierName}} &nbsp; {{Documentsdetails.PlanName}}</h2>

    <div class="category_block">
        <div>{{Documentsdetails.ProductName}}</div>
        <div class="right">Booking ID : {{Documentsdetails.LeadID}} </div>
    </div>

    <div class="tabbing-continer">
        <div class="tabmenu">
            <ul>
                <li class="health-menu {{Category.Active}}" ng-repeat="Category in Documentsdetails.docOptionsByCategory">
                    <a class="btn {{Category.Active}}" id={{Category.DocCategoryID}} href="javascript:void(0)" ng-click="TabActivate(Category)">

                        <em class="checkmark" ng-if="Category.LeadDocument.length>0"></em>

                        {{Category.DocCategoryName}}
                    </a>
                </li>
            </ul>
            <div class="tabbed-cont">
                <div id='{{Category.DocCategoryID}}_box' class="box" ng-repeat="Category in Documentsdetails.docOptionsByCategory" ng-if="Category.Active=='active_tab'">
                    <div class="upload_document">

                        <ul class="document_list" ng-repeat="doc in Category.LeadDocument ">

                            <li class="check_block"><span class="checkmark"></span></li>
                            <li class="list_block"><a href={{doc.DocumentUrl}} target="_blank">{{doc.Document}} &nbsp;{{doc.HostName}}</a></li>

                        </ul>


                        <!--<div class="add_more_block"><button type="button" class="add_button">+ Add Another Document</button></div>-->

                        <div class="user_detail" ng-if="Category.CustomerDocument.length>0">
                            <p>We already have your document(s) which can be used as Address proof. You can view & select another document</p>
                            <ul>
                                <li ng-repeat="doc in Category.CustomerDocument ">

                                    <input name="" type="checkbox" ng-change="uploadExistingFile(doc)" ng-model="doc.Checked" /> <a href={{doc.DocumentUrl}} target="_blank">{{doc.HostName}} &nbsp;{{doc.Document}}</a>
                                </li>

                            </ul>
                        </div>
                        <div class="upload_block">
                            <p>Upload a new document</p>
                            <ul>
                                <li class="data_list">
                                    <select ng-model="selectedDoc" ng-options="doc.Document for doc in Category.MasterDocument track by doc.DocumentID">
                                        <option value="">--Select Document--</option>
                                    </select>
                                </li>
                                <li class="name"><input name="" type="text" ng-model="selectedDoc.HostName" placeholder="Enter Doc Name" /></li>
                                <li class="upload">
                                    <!--<button class="upload_button"><em></em>Upload</button> -->
                                    <!--<input type="file"  id="uploadFile" placeholder="Choose File" />-->
                                    <!--<input type="file" name="file" data-url="home/upload" ng-files="getTheFiles($files)" ng-model="Category.FileDetails">-->
                                    <input type="file" file-model="myFile" />
                                    <button ng-click="uploadFile(selectedDoc)" class="fileUpload">Upload</button>
                                </li>
                            </ul>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="done_block done-section">
        <button type="button" class="cancel" ng-click="cancel()">Cancel</button>
        <button type="button" ng-click="SaveChanges()">Done</button>

    </div>-->
</div>
