﻿

<div class="inner_container inner_conwid" >
    <a href="javascript:void(0)" ng-click="cancel()" class="close_button"><em></em>X</a>
    <!--<h2>{{Documentsdetails.SupplierName}} &nbsp; {{Documentsdetails.PlanName}}</h2>-->
    <h3>Booking ID: {{Documentsdetails.LeadID}} &nbsp; Supplier : {{Documentsdetails.SupplierName}} </h3>
    <div class="category_block">
        <!--<div>{{Documentsdetails.ProductName}}</div>-->
        <!--<div class="right">Booking ID : {{Documentsdetails.LeadID}} </div>-->

    </div>
    <div id="DocumentDiv" ng-if="ShowDiv==1">
        <div class="tabbing-continer">
            <div class="tabmenu">
                <ul>
                    <li class="health-menu {{Category.Active}}" ng-repeat="Category in Documentsdetails.docOptionsByCategory">
                        <a class="btn {{Category.Active}}" id={{Category.DocCategoryID}} href="javascript:void(0)" ng-click="TabActivate(Category)">

                            <em class="checkmark" ng-if="Category.LeadDocument.length>0"></em>

                            {{Category.DocCategoryName}}
                        </a>
                    </li>
                </ul>
                <div class="tabbed-cont">
                    <div id='{{Category.DocCategoryID}}_box' class="box" ng-repeat="Category in Documentsdetails.docOptionsByCategory" ng-if="Category.Active=='active_tab'">
                        <div class="upload_document">

                            <ul class="document_list" ng-repeat="doc in Category.LeadDocument ">

                                <li class="check_block"><span class="checkmark"></span></li>
                                <li class="list_block"><a href={{doc.DocumentUrl}} target="_blank">{{doc.HostName}} &nbsp;{{doc.Document}}</a></li>

                            </ul>


                            <!--<div class="add_more_block"><button type="button" class="add_button">+ Add Another Document</button></div>-->

                            <div class="user_detail" ng-if="Category.CustomerDocument.length>0">
                                <p>We already have your document(s) which you can use.</p>
                                <ul>
                                    <li ng-repeat="doc in Category.CustomerDocument ">

                                        <input name="" type="checkbox" ng-change="uploadExistingFile(doc)" ng-model="doc.Checked" /> <a href={{doc.DocumentUrl}} target="_blank">{{doc.HostName}} &nbsp;{{doc.Document}}</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="upload_block">
                                <p>Upload a new document</p>
                                <ul>
                                    <li class="data_list">
                                        <select ng-model="selectedDoc" ng-options="doc.Document for doc in Category.MasterDocument track by doc.DocumentID">
                                            <option value="">Select</option>
                                        </select>
                                    </li>
                                    <li class="name"><input name="" type="text" ng-model="selectedDoc.HostName" placeholder="Enter Doc Name" /></li>
                                    <li class="upload">
                                        <!--<button class="upload_button"><em></em>Upload</button> -->
                                        <!--<input type="file"  id="uploadFile" placeholder="Choose File" />-->
                                        <!--<input type="file" name="file" data-url="home/upload" ng-files="getTheFiles($files)" ng-model="Category.FileDetails">-->
                                        <input type="file" file-model="myFile" id="fluploadFile" accept="application/pdf,application/vnd.oasis.opendocument.spreadsheet" />
                                        <button ng-if="! buttonClick" ng-click="uploadFile(selectedDoc,this)" class="fileUpload">Upload</button>
                                        <button ng-if="buttonClick" class="fileUpload">Please wait...</button>
                                        
                                    </li>
                                </ul>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="done_block done-section">
            <button type="button" class="cancel" ng-click="cancel()">Cancel</button>
            <button type="button" ng-click="ConfirmRaiseEndorsement()">Save</button>

        </div>
    </div>
    <div id="FieldListDiv" ng-if="ShowDiv==2">
        <div class="seprate_block">
            <ul class="userdetail">
                <li>
                    <label>Field Name</label>

                </li>
                <li>
                    <label>Current Value</label>

                </li>

                <li>
                    <label>New Value</label>

                </li>
                <li class="last-box">
                    <label>Docs Required</label>

                </li>

            </ul>

            <ul class="userdetail" ng-repeat="Endorsement in EndorsementDetail.EndorsementFieldMasterList">
                <li>
                    <span>
                        <input type="text" disabled="disabled" ng-model="Endorsement.FieldName" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" />

                    </span>
                </li>
                <li>
                    <span><input type="text" disabled="disabled" ng-model="Endorsement.OldValue" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" /></span>

                </li>
                <li>
                    <span><input type="text" disabled="disabled" ng-model="Endorsement.NewValue" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" /></span>

                </li>
                <li class="last-box">
                    <span> <input type="text" disabled="disabled" ng-model="Endorsement.DocReq" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" /></span>

                </li>

            </ul>
            
        </div>
        <div class="done_block done-section">

            <button type="button" ng-if="! buttonClick" ng-click="SaveChanges()">Submit</button>
            <button type="button"  ng-if="buttonClick" >Please wait...</button>
            <button type="button" class="cancel" ng-click="cancelSaveChanges()">Cancel</button>
        </div>
    </div>
</div>

<script>
    var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png", ".pdf"];
  
    function handleFilefluploadFile(evt) {
        var files = evt.target.files; // FileList object
        // files is a FileList of File objects. List some properties.
        var output = [];

        for (var i = 0, f; f = files[i]; i++) {
          
            var PolicyFile = files[i]
            debugger;
        }
    }
 
    $(document).ready(function () {
       // setTimeout(function () { document.getElementById('fluploadFile').addEventListener('change', handleFilefluploadFile, false); }, 300)
       
    });
</script>