﻿<!--Doc verification -->

    <div class="doc_verification">
        <a href="javascript:void(0)" ng-click="cancel()" class="close_button"><em></em>X</a>
        <p ng-if="DocVerificationList.Show!=0">Doc. Verification</p>
        <p ng-if="DocVerificationList.Show==0">Documents</p>

        <div class="doc_container">
            <ul>
                <!--<li class="tableheading" >Doc Category</li>-->
                <li class="tableheading nxtcol">Doc Name</li>
                <li class="borderight tableheading nxtcol" >Action</li>
            </ul>
            <div class="doc_block">
                <ul class="hd_topborder" ng-repeat=" CategoryList in DocVerificationList.DocCategoryList">
                    <!--<li>{{CategoryList.CategoryName}}</li>-->

                    <li><label ng-repeat=" Documents in CategoryList.DocumentsList"><a href={{Documents.DocumentUrl}} target="_blank" >{{Documents.DocumentName}}</a></label></li>

                    <li class="borderight" >
                        <span ng-repeat=" Documents in CategoryList.DocumentsList">
                            <select ng-disabled="DocVerificationList.Show==0" ng-model="Documents.SelectedStatus" ng-options="VerificationStatus.VerificationStatusName for  VerificationStatus in DocVerificationList.DocVerificationStatusList  track by VerificationStatus.VerificationStatusId">
                                <option>Select</option>
                            </select>
                        </span>
                    </li>
                </ul>               
            </div>

        </div>
        <div class="done-section popupbutton" ng-if="DocVerificationList.Show==1"><button type="button" class="cancel" ng-click="cancel()">Cancel</button>
        <button type="button" ng-click="SaveDocVerification()">Confirm</button></div>
    </div>



<!--Doc verification End-->