﻿<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
</style>
<script>
    function checkValue(val, type) {
        $("#NewValueText").val(val.toUpperCase());
        alert(type);
    }
</script>
<div class="header"> <h1>Endorsement</h1></div>
<div class="container_block">
    <h3>Booking ID: {{EndorsementListDetails.LeadID}} &nbsp; Supplier : {{EndorsementListDetails.SupplierName}} </h3>
    <a href="index.html#/EndorsementApp/User/Details/{{userID}}/{{Role}}/{{EndorsementListDetails.LeadID}}/0/2" ng-if="EndorsementListDetails.IsEligible ==1 ">Raise New Endorsement</a>

    <div ng-if="EndorsementListDetails.IsEligible == 0">

       <h3> Endorsement can be raised only if PCD is Closed and Booking Status is at Soft Copy Received or above.</h3>
    </div>

    <div class="inner_container" ng-if="EndorsementListDetails.EndorsementList.length>0">
        <div>
            <div class="inner_block">
                <div class="seprate_block">
                    <ul class="endorsement_list">
                        <li>
                            <label>Endorsement ID</label>

                        </li>
                        <li>
                            <label>Created Date</label>

                        </li>

                        <li>
                            <label>Current Status</label>

                        </li>
                        <li class="last-box">
                            <label>Next Action</label>

                        </li>

                     

                    </ul>

                    <ul class="endorsement_list" ng-repeat="Endorsement in EndorsementListDetails.EndorsementList">
                        <li>
                            <span>
                                <a href="index.html#/EndorsementApp/User/Details/{{userID}}/{{Role}}/{{EndorsementListDetails.LeadID}}/{{Endorsement.DetailsID}}/1">ENDT{{Endorsement.DetailsID}}</a>
                            </span>
                        </li>
                        <li>
                            <span>
                                {{Endorsement.CreatedDate}}
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="javascript:void(0)" ng-click="OpenDetails(Endorsement.DetailsID)">
                                    {{Endorsement.StatusMasterName}}
                                </a>
                                </span>
                                <!--ReasonName-->
</li>
                        <li class="last-box">
                            <span>
                                <!--{{Endorsement.NextStatus}}-->
                                <a href="index.html#/EndorsementApp/User/Details/{{userID}}/{{Role}}/{{EndorsementListDetails.LeadID}}/{{Endorsement.DetailsID}}/1">{{Endorsement.NextStatus}}</a>
                            </span>

                        </li>

                       

                    </ul>

                </div>
            </div>

        </div>

    </div>
</div>