﻿<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
</style>

<div class="header"> <h1>Endorsement</h1></div>
<div class="container_block">
    <h3>Booking ID: {{EndorsementDetail.LeadID}} &nbsp; Supplier : {{EndorsementDetail.SupplierName}} </h3>
    <h3 ng-if="EndorsementDetail.DetailsID != 0 && EndorsementDetail.DetailsID!=undefined"> Endorsement ID : ENDT{{EndorsementDetail.DetailsID}}</h3>
    <div class="status_block" ng-if="EndorsementDetail.EndorsementStatus.StatusMasterName != undefined && EndorsementDetail.EndorsementStatus.StatusMasterName !=''">
        <span class="status_block_text"> Status : <span> {{EndorsementDetail.EndorsementStatus.StatusMasterName}}</span></span>
    </div>
    <a href="index.html#/EndorsementApp/User/List/{{EndorsementDetail.UserID}}/{{Role}}/{{EndorsementDetail.LeadID}}" class="home_icon" title="Home">&nbsp;</a>
    <br />
   
    <div class="inner_container">
        <div>
            <div class="inner_block">

                <!--<div class="category_block planame">Product:  {{EndorsementDetail.ProductName}}</div>-->
                <div class="seprate_block" ng-if="EndorsementDetail.EndorsementStatus.StatusMasterID == 99">

                    Endorsement is eligible only when PCD is closed and satus is at soft copy received and above.
                </div>
                <div class="seprate_block">
                    <ul class="userdetail">
                        <li>
                            <label>Field Name </label>

                        </li>
                        <li>
                            <label>Existing Value</label>

                        </li>

                        <li>
                            <label>New Value</label>

                        </li>
                        <li class="last-box">
                            <label>Docs Required</label>

                        </li>
                        <li>
                            <span>

                            </span>
                        </li>
                    </ul>
                   
                    <ul class="userdetail" ng-if="AddNewVisible && EndorsementDetail.IsDocReceived == 1 &&
                         (EndorsementDetail.EndorsementStatus.StatusMasterID == 0
                            || EndorsementDetail.EndorsementStatus.StatusMasterID == -1
                            || EndorsementDetail.EndorsementStatus.StatusMasterID == 1001)">
                        <li>

                            <span>



                                <input type="text" ng-model="selected.EndorsementField"
                                       placeholder="Please Enter" typeahead-show-hint="true"
                                       typeahead-editable="false"
                                       typeahead-on-select="onSelect($item, $model, $label)"
                                       uib-typeahead="EndorsementField as EndorsementField.FieldName for EndorsementField in EndorsementDetail.EndorsementFieldMasterList | filter:{FieldName:$viewValue}"
                                       typeahead-min-length="1" typeahead-editable="true" />

                            </span>
                        </li>
                        <li>


                            <span><input name="" type="text" ng-model="selected.EndorsementField.OldValue" disabled= disabled /></span>
                        </li>

                        <li>

                            <span ng-if="selected.EndorsementField.MasterType==0">



                                <input ng-if="selected.EndorsementField.FieldType == 'DATETIME'" name="" type="text" placeholder="MM/DD/YYYY" ng-model="selected.EndorsementField.NewValue" ng-keyup="checkValue(selected.EndorsementField)"
                                       maxlength="20" />

                                <input ng-if="selected.EndorsementField.FieldType != 'DATETIME'" name="" type="text" ng-model="selected.EndorsementField.NewValue" ng-keyup="checkValue(selected.EndorsementField)"
                                       maxlength="20" />

                              
                            </span>
                            <span ng-if="selected.EndorsementField.MasterType==1">
                                <select ng-model="selected.EndorsementField.NewValue"
                                        ng-options="data.Text for data in selected.EndorsementField.FieldMasterDataList track by data.Value">
                                    <option value="">--Select--</option>
                                </select>

                            </span>
                            <span ng-if="selected.EndorsementField.MasterType==2">
                                <select ng-model="selected.EndorsementField.NewValue"
                                        ng-options="data.Text for data in selected.EndorsementField.FieldMasterDataList track by data.Value">
                                    <option value="">--Select--</option>
                                </select>

                            </span>
                        </li>
                        <li >

                            <span><input name="" type="text" ng-model="selected.EndorsementField.DocReq" disabled= disabled /></span>

                        </li>
                       
                        <li>
                            <span class="save_button" ng-click="AddEndorsement()"></span>
                      
                            <span class="remove_button" ng-click="RemoveAdd()"></span>
                        </li>
                    </ul>
                 
                </div>

                <div class="seprate_block" ng-if="EndorsementDetail.EndorsementStatus.StatusMasterID != 99">
                    

                    <ul class="userdetail" ng-repeat="Endorsement in EndorsementDetail.EndorsementFieldListDetails">
                        <li>
                            <span>
                                <input type="text" disabled="disabled" ng-model="Endorsement.FieldName" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" />

                            </span>
                        </li>
                        <li>
                            <span><input type="text" disabled="disabled" ng-model="Endorsement.OldValue" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" /></span>

                        </li>
                        <li>
                            <span><input type="text" disabled="disabled" ng-model="Endorsement.NewValue" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" /></span>

                        </li>
                        <li >
                            <span> <input type="text" disabled="disabled" ng-model="Endorsement.DocReq" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" /></span>

                        </li>
                        <li>
                            <span class="uploadbutton" ng-click="UploadFieldDocs(EndorsementDetail.LeadID,Endorsement.FieldID,EndorsementDetail.DetailsID,Endorsement.DocReq)" ng-if="Endorsement.IsDocReceived==0">

                            </span>
                      
                            <span class="remove_button" ng-click="RemoveEndorsementField(Endorsement.FieldID)" ng-if="EndorsementDetail.EndorsementStatus.StatusMasterID == 0
                            || EndorsementDetail.EndorsementStatus.StatusMasterID == -1
                            || EndorsementDetail.EndorsementStatus.StatusMasterID == 1001"></span>
                          
                        </li>

                    </ul>
                    <button type="button" class="add_button" ng-click="AddNewField()" ng-if="!AddNewVisible && EndorsementDetail.IsDocReceived == 1 &&
                         (EndorsementDetail.EndorsementStatus.StatusMasterID == 0
                            || EndorsementDetail.EndorsementStatus.StatusMasterID == -1
                            || EndorsementDetail.EndorsementStatus.StatusMasterID == 1001)">
                        Add Field
                    </button>
                    <div class="upload_doc" ng-if=" EndorsementDetail.EndorsementFieldListDetails.length>0"><span><a ng-click="DocVerify(0)" href="javascript:void(0)"><em class="view_doc"></em>View Documents</a></span></div>
                </div>

              






            </div>
            <div class="inner_block" ng-if="(EndorsementDetail.EndorsementStatus.StatusMasterID == 1001 || EndorsementDetail.EndorsementStatus.StatusMasterID == 3) && EndorsementDetail.IsDocReceived == 1">
                <div class="done-section">
                    <div class="upload_doc">
                        <span>
                            <button type="button" ng-click="RaiseFreshEndorsement()">Raise Endorsement</button>
                        </span>
                    </div>

                </div>
            </div>


            <div class="inner_block" ng-if="EndorsementDetail.EndorsementStatus.StatusMasterID == 1 || EndorsementDetail.EndorsementStatus.StatusMasterID == 5">
                <!--<div class="done-section">
                    <div class="upload_doc"><span><a ng-click="DocVerify()" href="javascript:void(0)"><em class="view_doc"></em>Doc. Verification</a></span></div>
                    <button class="cancel" type="button">Reject</button>
                </div>-->
                <div class="done-section" ng-if="DocumentVerification.ButtonDiv">
                    <div class="upload_doc"><span><a ng-click="DocVerify(1)" href="javascript:void(0)"><em class="view_doc"></em>Verify Documents</a></span></div>
                    <button class="cancel" type="button" ng-click="RejectEndorsement(6)">Reject</button>
                </div>
                <div class="done-section" ng-if="DocumentVerification.Rejection.Display">

                    <select ng-options="RejectionReasonList.StatusMasterName for RejectionReasonList in EndorsementDetail.RejectionReasonList track by RejectionReasonList.StatusMasterID "
                            ng-model="selected.RejectionStatus" class="cancel_dropbox"></select>
                    <button type="button" ng-click="SaveRejection()">Save</button>
                    <button class="cancel" type="button" ng-click="CancelRejection(6)">Cancel</button>
                </div>
            </div>

            <div class="light_blue_box" ng-if="PremiumStatus.ContentDiv">

                <ul class="premium">
                    <li>
                        <label>Change in Premium ?</label>
                        <div>
                            <input type="radio" value="0" name="a1" ng-disabled="PremiumStatus.Disabled" id="rdbNoChange" ng-checked="EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange == 0" ng-click="ChangePremium(0)" /><label for="rdbNoChange">No Change</label>
                            <input type="radio" value="1" name="a1" ng-disabled="PremiumStatus.Disabled" id="rdbIncreased" ng-checked="EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange == 1" ng-click="ChangePremium(1)" /><label for="rdbIncreased">Increased</label>
                            <input type="radio" value="2" name="a1" ng-disabled="PremiumStatus.Disabled" id="rdbReduced" ng-checked="EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange == 2" ng-click="ChangePremium(2)" /><label for="rdbReduced">Reduced</label>
                        </div>

                    </li>
                </ul>

                <ul class="refund_value" ng-if="EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange > 0">
                    <li>
                        <label ng-if="EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange == 1">Additional Amount</label>
                        <label ng-if="EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange == 2">Refund Amount</label>
                        <span>
                            <input name="" ng-model="EndorsementDetail.EndorsementAddtionalInformation.PremiumChange"
                                   ng-disabled="EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange == 0 || EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange == -1 || PremiumStatus.Disabled "
                                   type="number" step="01.00" min="00.00" class="typenumber" />
                        </span>
                    </li>
                    <li>
                        <label></label>
                        <span></span>
                    </li>
                </ul>
                <div class="done-section" ng-if="PremiumStatus.ButtonDiv">
                    <button type="button" ng-click="ConfirmClick(2)">Save</button>
                    <button class="cancel" type="button" ng-click="RejectEndorsement(2)">Reject</button>
                </div>
                <div class="done-section" ng-if="PremiumStatus.Rejection.Display">

                    <select ng-options="RejectionReasonList.StatusMasterName for RejectionReasonList in EndorsementDetail.RejectionReasonList track by RejectionReasonList.StatusMasterID "
                            ng-model="selected.RejectionStatus" class="cancel_dropbox"></select>
                    <button type="button" ng-click="SaveRejection()">Save</button>
                    <button class="cancel" type="button" ng-click="CancelRejection(2)">Cancel</button>
                </div>

            </div>

            <div class="inner_block" ng-if="PremiumChangeStatus.ContentDiv && EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange>0">
                <ul class="premium">
                    <li>
                        <label ng-if="EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange == 1">Is amount Collected? </label>
                        <label ng-if="EndorsementDetail.EndorsementAddtionalInformation.IsPremiumChange == 2">Is amount Refunded? </label>
                        <div>
                            <input type="radio" value="1" name="b1" ng-disabled="PremiumChangeStatus.Disabled" ng-checked="EndorsementDetail.EndorsementAddtionalInformation.PremiumCollectedRefunded == 1" ng-click="CollectedConfirm(1)" /><label class="active_text">Yes</label>
                            <input type="radio" value="1" name="b1" ng-disabled="PremiumChangeStatus.Disabled" ng-checked="EndorsementDetail.EndorsementAddtionalInformation.PremiumCollectedRefunded == 0" ng-click="CollectedConfirm(0)" /><label>No</label><em>(In case of refund it can be skipped)</em>
                        </div>

                    </li>
                </ul>
                <div class="done-section" ng-if="PremiumChangeStatus.ButtonDiv">
                    <button type="button" ng-click="ConfirmClick(3)">Save</button>
                    <button class="cancel" type="button" ng-click="RejectEndorsement(3)">Reject</button>
                </div>
                <div class="done-section" ng-if="PremiumChangeStatus.Rejection.Display">

                    <select ng-options="RejectionReasonList.StatusMasterName for RejectionReasonList in EndorsementDetail.RejectionReasonList track by RejectionReasonList.StatusMasterID "
                            ng-model="selected.RejectionStatus" class="cancel_dropbox"></select>
                    <button type="button" ng-click="SaveRejection()">Save</button>
                    <button class="cancel" type="button" ng-click="CancelRejection(3)">Cancel</button>
                </div>
            </div>



            <div class="inner_block" ng-if="SCVerifiedStatus.ContentDiv">
                <ul class="premium">
                    <li>
                        <label>Endorsement SC Verified &ndash;</label>
                        <div>

                            <input type="radio" value="1" name="c1" ng-disabled="SCVerifiedStatus.Disabled" ng-checked="EndorsementDetail.EndorsementAddtionalInformation.SCVerified == 1" ng-click="SCVerifiedConfirm(1)" /><label class="active_text">Yes</label>
                            <input type="radio" value="0" name="c1" ng-disabled="SCVerifiedStatus.Disabled" ng-checked="EndorsementDetail.EndorsementAddtionalInformation.SCVerified == 0" ng-click="SCVerifiedConfirm(0)" /><label class="active_text">No</label>
                        </div>

                        <a href="javascript:void(0)" ng-click="UploadEndorsementCopy()" ng-if=" EndorsementDetail.EndorsementStatus.StatusMasterID == 7 || EndorsementDetail.EndorsementStatus.StatusMasterID == 8 || EndorsementDetail.EndorsementStatus.StatusMasterID == 9 || EndorsementDetail.EndorsementStatus.StatusMasterID == 4 ">Upload SC</a>

                    </li>
                </ul>
                <ul class="premium">
                    <li ng-if="EndorsementDetail.EndorsementDocumentCopyList.length>0">
                        <label>Endorsement Soft Copy&ndash;</label>
                        <div>
                            <a href={{DocumentCopyList.DocumentUrl}} target="_blank" ng-repeat="DocumentCopyList in EndorsementDetail.EndorsementDocumentCopyList" class="soft_copytext">{{DocumentCopyList.Document}}</a>
                        </div>



                    </li>
                </ul>
                <div class="done-section" ng-if="SCVerifiedStatus.ButtonDiv">
                    <button type="button" ng-click="ConfirmClick(4)">Save</button>
                    <button class="cancel" type="button" ng-click="RejectEndorsement(4)">Reject</button>
                </div>
                <div class="done-section" ng-if="SCVerifiedStatus.Rejection.Display">

                    <select ng-options="RejectionReasonList.StatusMasterName for RejectionReasonList in EndorsementDetail.RejectionReasonList track by RejectionReasonList.StatusMasterID "
                            ng-model="selected.RejectionStatus" class="cancel_dropbox"></select>
                    <button type="button" ng-click="SaveRejection()">Save</button>
                    <button class="cancel" type="button" ng-click="CancelRejection(4)">Cancel</button>
                </div>
            </div>


            <div class="inner_block" ng-if="SCReceivedStatus.ContentDiv">
                <ul class="premium">
                    <li>
                        <label>Customer received the policy's soft copy? &ndash; </label>
                        <div>
                            <input type="radio" value="1" ng-disabled="SCReceivedStatus.Disabled" name="d1" ng-checked="EndorsementDetail.EndorsementAddtionalInformation.SCReceived == 1" ng-click="SCReceivedConfirm(1)" /><label class="active_text">Yes</label>
                            <input type="radio" value="1" ng-disabled="SCReceivedStatus.Disabled" name="d1" ng-checked="EndorsementDetail.EndorsementAddtionalInformation.SCReceived == 0" ng-click="SCReceivedConfirm(0)" /><label class="active_text">No</label>
                        </div>

                    </li>
                </ul>
                <div class="done-section" ng-if="SCReceivedStatus.ButtonDiv">
                    <button type="button" ng-click="ConfirmClick(5)">Save</button>
                    <!--<button class="cancel" type="button" ng-click="RejectEndorsement(5)">Reject</button>-->
                </div>
                <!--<div class="done-section" ng-if="SCReceivedStatus.Rejection.Display">

                    <select ng-options="RejectionReasonList.StatusMasterName for RejectionReasonList in EndorsementDetail.RejectionReasonList track by RejectionReasonList.StatusMasterID "
                            ng-model="selected.RejectionStatus" class="cancel_dropbox"></select>
                    <button type="button" ng-click="SaveRejection()">Save</button>
                    <button class="cancel" type="button" ng-click="CancelRejection(5)">Cancel</button>
                </div>-->
            </div>
        </div>
       
    </div>
</div>