﻿<div class="modal-content-softcopy">
    <a href="javascript:void(0)" ng-click="cancel()" class="close_button"><em></em>X</a>
    <div class="container_block">
        <h3>Booking ID: {{EndorsementListDetails.LeadID}}  &nbsp; Endorsement ID : ENDT{{EndorsementStatusdetails.DetailsID}}&nbsp; Supplier : {{EndorsementListDetails.SupplierName}} </h3>
    </div>
    <button ng-if="Role=='Admin'" ng-click="RollbackEndorsement()">Rollback</button>
    <div class="seprate_block">
        <ul class="endorsement_list">
            <li>
                <label>Status Name</label>

            </li>
            <li>
                <label>User Name</label>

            </li>

          
            <li class="last-box">
                <label>Date</label>

            </li>

            <li class="last-box" ng-if="Role=='Admin'">
                <label>Rollback</label>

            </li>

        </ul>

        <ul class="endorsement_list" ng-repeat="data in EndorsementStatusdetails.StatusDetails">
            <li>
                <span style="background-color: bisque" ng-if="data.IsActive==1">
                    {{data.StatusMasterName}}
                </span>
                <span ng-if="data.IsActive==0">
                    {{data.StatusMasterName}}
                </span>
            </li>
            <li>
                <span>
                    {{data.CreatedBy}}
                </span>
            </li>

            <li class="last-box">
                <span>
                    {{data.CreatedOn}}
                </span>

            </li>

            <li class="last-box" ng-if="Role=='Admin'">
                <span>
                    <input type="radio" name="a" ng-disabled="data.IsRollBack==0" ng-click="getVal(data)" />
                </span>

            </li>

        </ul>

    </div>
</div>