﻿<div class="modal-content-softcopy">
    <a href="javascript:void(0)" ng-click="cancel()" class="close_button"><em></em>X</a>
    <!--<a onclick="lightbox_close();" href="#" class="closebutton"><em></em>X</a>-->
    <div class="doc_verification">
        <p>Soft Copy Upload</p>
        <div class="doc_container">

            <div class="soft_copyblock">
                <ul class="hd_topborder">
                    <li>Endorsement Policy Copy</li>
                    <li><input type="file" id="fEndorsementFile" accept="application/pdf" /></li>
                    <!--<li class="borderight">
                        <button ng-click="UploadEndorsementSoftCopy(2)">upload me</button>
                    </li>-->
                </ul>

                <ul class="hd_topborder">
                    <li>Endorsement Letter</li>
                    <li><input type="file" id="fPolicyFile" accept="application/pdf" /></li>
                    <!--<li class="borderight">
                        <button ng-click="UploadEndorsementSoftCopy(3)">upload me</button>
                    </li>-->
                </ul>



            </div>

        </div>
        <div class="done-section popupbutton">
            <button type="button" ng-click="UploadEndorsementSoftCopy()">Save</button>
            <button type="button" class="cancel" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
<script>
    var EndorsementFile = { FileName: '', FileSize: '', AttachemntContent: '' };
    var PolicyFile = { FileName: '', FileSize: '', AttachemntContent: '' };
    function handleFileSelectEndorsementFile(evt) {
        var files = evt.target.files; // FileList object
        // files is a FileList of File objects. List some properties.
        var output = [];        
        
        for (var i = 0, f; f = files[i]; i++) {
               
            EndorsementFile = readFile(files[i]);
            debugger;
        }
    }
    function fn() {
        alert(EndorsementFile.AttachemntContent);
    }
    function handleFileSelectPolicyFile(evt) {
        var files = evt.target.files; // FileList object
        // files is a FileList of File objects. List some properties.
        var output = [];

        for (var i = 0, f; f = files[i]; i++) {
            
            PolicyFile = readFile(files[i]);
            debugger;
        }
    }
    function readFile(file) {
        var curFile = { FileName: file.name, FileSize: file.size, AttachemntContent: '' };
        var reader = new FileReader();
        reader.onload = function (readerEvt) {
            var binaryString = readerEvt.target.result;
            curFile.AttachemntContent = btoa(binaryString);
        };

        reader.readAsBinaryString(file);
        return curFile;
    }
    $(document).ready(function(){
        document.getElementById('fPolicyFile').addEventListener('change', handleFileSelectPolicyFile, false);
        document.getElementById('fEndorsementFile').addEventListener('change', handleFileSelectEndorsementFile, false);
    });
</script>