﻿<div class="modal-content-softcopy">
    <a href="javascript:void(0)" ng-click="cancel()" class="close_button"><em></em>X</a>
    <!--<a onclick="lightbox_close();" href="#" class="closebutton"><em></em>X</a>-->
    <div class="doc_verification">
        <p>Endorsement Documents</p>
        <div class="doc_container" ng-if="!FieldDocsDetails.Show">
            All required document is already submitted, Do you want to proceed or Upload new Docs.


        </div>
        <div class="done-section popupbutton" ng-if="!FieldDocsDetails.Show">
            <button type="button" ng-click="SaveFieldDetails()">Proceed Next</button>
            <button type="button" class="cancel" ng-click="cancelSave()" >Upload More Docs</button>
        </div>
        <div class="doc_container" ng-if="FieldDocsDetails.Show">

            <div class="soft_copyblock" ng-if="FieldDocsDetails.chkExistingDoc>0">
                <p>Document Received</p>
                <ul class="hd_topborder docverification">
                    <li ng-repeat="docs in FieldDocsDetails.EndorsementDocReqList" ng-if="docs.DocumentUrl != 0" class="document_block"><em class="checkmark"></em><a href={{docs.DocumentUrl}} target="_blank">{{docs.Document}} &nbsp; {{docs.HostName}} </a></li>


                </ul>


            </div>

            <div class="soft_copyblock" ng-if="FieldDocsDetails.EndorsementExistngDocList.length>0">
                <p>We already have your document(s) which you can use</p>
                <ul class="hd_topborder docverification">
                    <li ng-repeat="docs in FieldDocsDetails.EndorsementExistngDocList" class="document_block">

                        <!--<a href={{docs.DocumentUrl}}>{{docs.Document}} &nbsp; {{docs.HostName}} </a>-->
                        <input name="" type="checkbox" ng-change="SaveExistingDocs(docs)" ng-model="docs.Checked" />
                        <a href={{docs.DocumentUrl}} target="_blank">{{docs.Document}}&nbsp; {{docs.HostName}} </a>
                    </li>


                </ul>


            </div>

            <div class="soft_copyblock">
                <p>Document(s) Upload</p>
               
                <ul class="hd_topborder docverification" ng-repeat="docs in FieldDocsDetails.EndorsementDocReqList | filter : !{DocCategoryID:1}" ng-if="docs.DocCategoryID!=1">
                    <li>{{docs.Document}}</li>
                    <li><input name="" type="text" ng-model="docs.NewHostName" placeholder="Enter Doc Name" /></li>
                    <li><input type="file" onchange="angular.element(this).scope().file_changed(this)" id="{{docs.DocCategoryID}}:{{docs.DocumentID}}" /></li>


                </ul>
                <ul class="hd_topborder docverification" ng-repeat="docs in FieldDocsDetails.EndorsementDocReqList" ng-if="docs.DocCategoryID!=1">
                    <li>{{docs.Document}}</li>
                    <li><input name="" type="text" ng-model="docs.NewHostName" placeholder="Enter Doc Name" /></li>
                    <li><input type="file" onchange="angular.element(this).scope().file_changed(this)" id="{{docs.DocCategoryID}}:{{docs.DocumentID}}" /></li>


                </ul>
              
            </div>

        </div>
        <span class="doc_req">List of Doc(s) Required : {{SelectedDocUploadField.DocReq}}</span>
        <div class="done-section popupbutton" ng-if="FieldDocsDetails.Show">
            <button type="button" ng-click="SaveEndorsementDocs()">Save</button>
            <button type="button" ng-click="SaveFieldDetails()" ng-if="FieldDocsDetails.IsDocReceived">Proceed Next</button>
            <button type="button" class="cancel" ng-click="cancel()">Close</button>
        </div>
    </div>
</div>