﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Motor Inspection</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css' />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="Scripts/Library/angular.js"></script>
    <script src="Scripts/Library/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js"></script>
    <script src="Scripts/Library/ui-bootstrap-custom-tpls-1.3.2.min.js"></script>
    <script>
        (function () {
            document.location.href = 'home.html';
        })();
    </script>
    <!--<script src="app.js"></script>-->
    <script>

        angular.module("MotorInspection", ["ngRoute", "ui.bootstrap"]).config(["$routeProvider",
          function ($routeProvider) {
             
          }]);
    </script>
    <script src="Scripts/config/Resources.js"></script>
    <!--<script type="text/javascript" src="https://cdn.rawgit.com/JustMaier/6ef7788709d675bd8230/raw/3d39d50e66d8d77e05656ed7dd09298be7e86f1f/ngClickCopy.js"></script>-->
    <script src="Scripts/Module/Module.js"></script>
    <script src="Scripts/Controller/LoginController.js"></script>
    <script src="Scripts/Service/Service.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" type="text/css" rel="stylesheet" />





</head>
<body ng-app="MotorInspection">

    <div class="header">
        <div class="inner_container">
            <div class="logo"></div>


        </div>
    </div>
    <div id="main_container" ng-controller="LoginCtrl">
        <div class="login_container">
            <div class="login_heading">Login</div>
            <div class="login_inner_box">
                <ul class="logininput">
                    <li>
                        <span><em class="user_icon"></em></span><font>Username</font>
                        <label><input name="" type="text" value="" placeholder="User Name" ng-model="LoginID" my-enter="Login()" /></label>
                    </li>
                    <li>
                        <span><em class="password_icon"></em></span><font>Password</font>
                        <label><input name="" type="password" value="" placeholder="Password" ng-model="Password" my-enter="Login()" /></label>
                    </li>
                </ul>
                <p style="color:red">{{Msg}}</p>
                <div class="login_button"> <button type="button" ng-click="Login()">Sign In</button></div>
            </div>
        </div>
    </div>
    </body>
</html>

