﻿@charset "utf-8";
/* CSS Document */

body{background-color:#f2f2f2; padding:0; margin:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {border:0 none;font:inherit;margin:0;padding:0;vertical-align:baseline;list-style:none; font-family: "Lato",sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
button{ cursor:pointer;}
.clearfix{ clear:both;}

#main_container{ width:100%; margin:0 auto; }
.header{ background:#0388c9; padding:5px 0 0 0;}
h1{ margin:0 auto; padding:0; text-align:center; color:#ffffff; font-size:27px; background:none; text-transform:uppercase; font-weight:300; border-bottom: 5px solid #006fa5;    display: table; line-height:59px; letter-spacing: 0.1em;}

.inner_container{ width:1088px; margin:40px auto; background:#ffffff; padding:40px 0; box-sizing:border-box;  border-radius:4px;  display: table;}
h2{color: #026ca0; font-size: 20px; font-weight: 400; letter-spacing: 0.1em; margin:0 auto 25px; padding: 0; text-align: center; text-transform: uppercase; background:none;}
h3{color: #026ca0; font-size: 20px; font-weight: 400; letter-spacing: 0.1em; margin:0 auto 5px; padding: 0; text-align: center; text-transform: uppercase; background:none;}


.tabbing-continer{ width:100%; float:left;}
.tabbing-continer .tabmenu{  border: 1px solid #e1e1e1; float: left; width: 100%;}
.tabbing-continer .tabmenu .tabbed-cont{  display: table-cell; height: 240px; margin: 10px 0; overflow-x: hidden; overflow-y: auto; vertical-align: top; width: 100%; background:#ffffff;}
.tabmenu ul{    display: table-cell; margin: 0; padding: 0; }
.tabmenu li{display:table; vertical-align:top}
.tabmenu li a{text-decoration:none; color:#FFF}
.btn {background-color: #eeeeee; color: #c5c5c5 !important; cursor: pointer;  display: block; float: left; font-weight: normal;  height: 25px;  margin: 0 2px 0 0; padding: 10px;    text-align:left;  width:280px;  border-bottom: 1px solid #dfdfdf; border-left: 3px solid #eeeeee;}
.btn.borderbottom{ border-bottom:none;}

.active {background-color: #fff; color: #121211 !important; font-weight: normal; border-left: 3px solid #0388c9; }
.box {  background: #ffffff; box-sizing: border-box; display: none; float: left;  padding:20px; width: 100%;   height: 505px; overflow-x: hidden;/* overflow-y: scroll;*/}
.box .upload_document{ width:100%; float:left; font-size:12px; color:#555555; text-align:left;}
ul.document_list{ width:100%; padding:0; margin:0 0 10px; display: table; border:1px solid #eeeeee; border-radius:4px;}
ul.document_list li{ display:table-cell; font-size:14px; color:#818a91; list-style:none; vertical-align:middle;  padding: 5px 0; margin:0;}
ul.document_list li span.checkmark{ background:url(../images/sprite.png) no-repeat -13px -15px; padding:0; float:left; width:25px; height:25px;  margin: 0 10px;}
ul.document_list li.check_block{ text-align:center; width:6%;} 
ul.document_list li.list_block{  border-left: 1px solid #eeeeee;border-right: 1px solid #eeeeee; box-sizing: border-box; padding: 0 9px; text-align:left; width:76%;}
ul.document_list li.view_block{ width:10%; text-align:center;}
ul.document_list li.download{ background:#039be5; width:8%; border-radius: 0 4px 4px 0;}
ul.document_list li a.download{ background: #039be5;border-radius: 0 4px 4px 0; width: 10%;}
ul.document_list li a.download span.download_icon{ background:url(../images/sprite.png) no-repeat -56px -15px; box-sizing: border-box; float: left; height: 17px; margin: 0 0 0 18px;
    padding: 0; width: 15px;}
ul.document_list li a{ color:#818a91; text-decoration:none;}	
ul.document_list li a:hover{ color:#039be5;}
.add_more_block{ width:100%; display:block;  padding: 20px 0;}
.add_button{ background:#818a91; border-radius:4px; color:#ffffff; font-size:14px; border:1px solid #bbbbbb; text-align:center; font-weight:400; padding: 6px 5px; margin:0;}
.add_button:hover{ background:#697279;}
.upload_block{ width:100%; box-sizing:border-box; margin:40px 0 0 0;}
.upload_block p{ font-size:17px; color:#0388c9; text-align:center; padding:0; margin:0; display:block;}
.upload_block ul{ margin:30px 0 0; padding:0; display:table; width:100%; box-sizing: border-box;}
.upload_block ul li{     display: inline-block; margin: 0; padding: 0; vertical-align: middle; width: 33%;}
.upload_block ul li.data_list{  border: 1px solid #eeeeee; border-radius: 4px;  margin: 0 11px 0 0; padding: 7px; width:25%;} 
.upload_block ul li select{ margin:0; border:none; padding:7px; width:100%; color:#797979; font-size:16px; font-weight:400; font-family: "Lato",sans-serif;}
.upload_block ul li.name{ width:20%; border: 1px solid #eeeeee; border-radius: 4px; padding: 7px;}
.upload_block ul li input[type="text"]{ margin:0; border:none; padding:7px;  color:#797979; font-size:16px; font-weight:400; font-family: "Lato",sans-serif; width:100%; box-sizing:border-box;}
.upload_block ul li select option{ font-weight:400; font-family: "Lato",sans-serif;}
.upload_block ul li.upload{padding:0; width:47%;     position: relative;}
.upload_button{   border: 1px solid #22bd64; border-radius: 4px; color: #ffffff; font-size: 16px; min-width: 150px; padding:8px 0 10px; background:#2ecc71; text-align: center; position:relative; min-width: 174px;}
.upload_button:hover{ background:#15b95b;}
.upload_button em{background:url(../images/sprite.png) no-repeat -87px -14px; padding:0; float:left; width:25px; height:25px;  margin: 0 10px 0 7px; left:0; position:absolute;}
.done-section{  display: block;margin:50px auto 30px; text-align: center; width: 100%;}
.done-section button{  border: 1px solid #0395dc; border-radius: 4px; color: #ffffff; font-size: 16px; min-width: 150px; padding:8px 0 10px; background:#039be5; text-align: center; position:relative; min-width: 174px; box-shadow: 1px 2px 5px -1px #a0a0a0; margin:0 15px 0 0;}	
.done-section button.cancel{border: 1px solid #717a81; border-radius: 4px; color: #ffffff; font-size: 16px; min-width: 150px; padding:8px 0 10px; background:#818a91; text-align: center; position:relative; min-width: 174px; margin:0;}
.done-section button.cancel:hover{ background:#777f86;}
.done-section button:hover{ background:#018ccf;}
.category_block{ display: table; padding: 0 0 10px; width: 100%;}
.category_block.planame{text-align:center; padding: 0 0 40px;}
.category_block div{  color: #333333;display: table-cell; font-size: 15px;}
.category_block div.right{ text-align:right;}
ul.userdetail{ width:100%; display:table; padding:0; margin:0;}
ul.userdetail li{ list-style:none; display:table-cell; vertical-align:middle; padding:0 20px 15px 0; margin:0; position:relative; width: 25%; box-sizing:border-box;}
ul.userdetail li label{ font-size:13px; color:#aeaeae; text-align:left; display:block; padding: 0 0 7px;}
ul.userdetail li.last-box{ padding-right:0;}
ul.userdetail li span.datablock {border-radius:4px; border:1px solid #def0f8; font-size:16px; padding:7px; margin:0; width:100%; box-sizing:border-box; color:#039be5;box-shadow:0 2px 9px -1px #def0f8;}
ul.userdetail li span input[type="text"]{border-radius:4px; border:1px solid #e1e1e1; font-size:15px; padding:7px; margin:0; width:100%; box-sizing:border-box; color:#4f5d64;}
.typenumber{border-radius:4px; border:1px solid #e1e1e1; font-size:15px; padding:7px; margin:0; width:100%; box-sizing:border-box; color:#4f5d64;}
ul.userdetail li span.remove_button{background:url(../images/sprite.png) no-repeat -63px -63px; bottom: 24px; height: 22px; margin: 0 10px 0 7px; padding: 0; position: absolute;
    right: -22px; width: 22px; border: none;}
ul.userdetail li span.add_button{background:url(../images/sprite.png) no-repeat -127px -68px; bottom: 24px; height: 15px; margin: 0 10px 0 7px; padding: 0; position: absolute;
    right: -22px; width:15px; border: none;}
.upload_doc{ text-align:center; font-size:14px;}
.upload_doc span{ margin: 0 auto; position: relative;}
.upload_doc span a{ text-decoration:none; color:#6d6d6d;}
.upload_doc span a:hover{ color:#525a60; text-decoration:underline;}
.upload_doc span a em{background:url(../images/sprite.png) no-repeat -130px -12px;   height: 26px; left: -35px; margin: 0 10px 0 7px; padding: 0; position: absolute; top: -4px;
    width: 20px;}
.upload_doc span a em.view_doc{background:url(../images/sprite.png) no-repeat -15px -58px;   height:29px; left: -40px; margin: 0 10px 0 7px; padding: 0; position: absolute; top: -6px; width:29px;}		
.user_detail{display:block; width:100%;  padding: 30px 0 0;}	
.user_detail p{font-size:14px; color:#0388c9; text-align:center; padding:0 0 10px 0; margin:0;}
.user_detail ul{ margin:0; padding:0; width:100%; display:table;}
.user_detail ul li{   box-sizing: border-box; color: #6d6d6d; display: inline-block; float: left; font-size: 12px; margin: 0; padding: 0 0 10px; vertical-align: middle; width: 50%;}
.user_detail ul li input[type="checkbox"]{ margin:0; padding:0;   vertical-align: middle;}
.user_detail ul li label{ font-size:12px; color:#6d6d6d; padding:0 0 0 10px; vertical-align:middle;}
.user_detail ul li span{ margin:0; padding:0 0 0 10px; vertical-align:middle; }
.user_detail ul li em{ background: #039be5; border-radius: 3px; color:#ffffff; font-size: 10px; margin: 0 0 0 7px; padding: 1px 6px; vertical-align: middle;}
.fileUpload {background: #2ecc71; border-radius: 4px; color: #fff; float: right; font-size: 16px; margin: 0; overflow: hidden; padding: 8px 0 10px; position: relative;   text-align: center; width:140px;}
.fileUpload em{background:url(../images/sprite.png) no-repeat -172px -18px;   height:18px; left:12px; margin: 0 10px 0 7px; padding: 0; position: absolute; top:10px;
    width:15px;}
.fileUpload input.upload { position: absolute; top: 0; right: 0;  margin: 0; padding: 0; font-size: 20px; cursor: pointer;  opacity: 0; filter: alpha(opacity=0);}
.upload_file{ background:#ffffff; border: medium none; margin:10px 0 0 10px; position: absolute;}
.upload_section{   display: table; padding: 14px 0 0;  position: relative; text-align: right; width: 100%;}
#fade{display: none;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black;z-index:1001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}
#light{background: #ffffff; border: 2px solid #fff; border-radius: 4px; box-sizing: border-box; display: none; left: 40%; margin-left: -150px; margin-top: -100px;
    overflow: visible; padding: 30px; position: absolute; top:30%; width: 621px; z-index: 1002;}
.summary_detail{ width:100%; box-sizing:border-box; padding:0; margin:0;}	
.summary_detail p{  color:#026ca0; font-size:20px; font-weight:300; margin:0 0 15px; padding:0; text-align:center;}
.summary_detail ul{ margin:0; padding:0; display:table; width:100%;  border:1px solid #e8e8e8;}
.summary_detail ul li{ margin:0; padding:10px 8px; display:table-cell; font-size:13px; width:33.3333%; vertical-align:middle; border-bottom:1px solid #e8e8e8;border-right:1px solid #e8e8e8;box-sizing:border-box; color:#828282;}
.summary_detail ul li.tableheading{ background:#22a7e8; color:#ffffff; padding:10px; border-right:1px solid #1796d4; box-sizing:border-box; border-bottom:none;}
.summary_detail ul li.borderight{border-right:0;}
.summary_detail ul.hd_topborder{ border-top:none;border-bottom:none;}
.popupbutton{margin:30px auto 10px;}
.listing_data{top: 56px;left: 0px;position: absolute;z-index: 999;background: #ddd;width: 91%;}


ul.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /*display: none;*/
  float: left;
  width: 91%;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
ul.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
ul.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li{  display: block !important;  padding:0!important;  clear: both;  font-weight: 400;  font-size: 14px;  line-height: 1.42857143; color: #333; white-space: nowrap; text-decoration:none; width:100%!important;}
ul.dropdown-menu > li > a {
  display: block; text-decoration:none;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
ul.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
ul.dropdown-menu > .active > a,
ul.dropdown-menu > .active > a:hover,
ul.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
ul.dropdown-menu > .disabled > a,
ul.dropdown-menu > .disabled > a:hover,
ul.dropdown-menu > .disabled > a:focus {
  color: #777;
}
ul.dropdown-menu > .disabled > a:hover,
ul.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.seprate_block { display:block; width:100%;}
.inner_block{padding:0 40px; box-sizing:border-box;}
.light_blue_box{background:#f7fcff; padding:20px 40px; box-sizing:border-box; width:100%;margin: 0 0 30px;}
ul.premium{   color: #7a7a7a;display: table; font-size: 15px; line-height: 20px; margin: 0; padding: 0 0 12px;}
ul.premium li{padding:0; margin:0; list-style:none; display:table; }
ul.premium li label{ font-size:15px; color:#7a7a7a; font-weight:300; padding: 0 15px 0 0;}
ul.premium li label.active_text{color:#039be5;}
ul.premium li div{  display: table-cell; margin: 0; padding: 0; width: auto;}
ul.premium li div em{font-size:11px;}
ul.premium li div input[type="radio"]{padding:0; margin:0 10px 0 0;}

ul.refund_value{  display: table; margin: 0; padding: 0; width: 100%;}
ul.refund_value li{    box-sizing: border-box;  display: table-cell; list-style: outside none none; margin: 0; padding: 0; vertical-align: middle;}
ul.refund_value li label{  color: #aeaeae;display: inline-block; font-size: 13px; font-weight: 400; vertical-align: middle; margin: 0 15px 0 0;}
ul.refund_value li input[type="text"]{border-radius:4px; border:1px solid #e1e1e1; font-size:16px; padding:7px; margin:0; width:100%; box-sizing:border-box; color:#4f5d64;}
ul.refund_value li span{ display: inline-block;  /*width: 65%;*/ width:37%;}

#upload {background: #ffffff; border: 2px solid #039be5; border-radius: 4px; box-sizing: border-box; display: none; left: 7%; margin: 0 auto; overflow: visible; padding:0;
    position: absolute; top:6%; width: 88%; z-index: 1002;}
.upload_containerblock{  background: #ffffff; border-radius: 4px; box-sizing: border-box; display: table;margin:0px auto; padding:20px 0; width: 100%;}	
.upload_containerblock .inner_block{   box-sizing: border-box;padding: 0 2%; width: 100%;}
.close_button{ background: #039be5; border: 1px solid #039be5; border-radius: 80px; color: #ffffff;font-weight: bold; height: 36px;line-height: 35px;position: absolute; right: -2%;
    text-align: center; text-decoration: none; top: -3%;width: 36px;}
iframe {width:100%; height:600px; overflow:hidden; margin:0; padding:0; border:none;}
h2.upload_hd {margin:0 auto 7px;}



.doc_container{border-radius:6px; border:1px solid #e8e8e8;}	
.doc_verification{ width:100%; box-sizing:border-box; padding:0; margin:0;}	
.doc_verification p{  color:#026ca0; font-size:20px; font-weight:300; margin:0 0 15px; padding:0; text-align:center;}
.doc_verification ul{ margin:0; padding:0; display:table; width:100%;   border-radius:6px 6px 0 0; background:#22a7e8;}
.doc_verification ul li{ margin:0; padding:5px 10px; display:table-cell; font-size:13px; width:33.3333%; vertical-align:middle; border-bottom:1px solid #e8e8e8;/*border-right:1px solid #e8e8e8;*/box-sizing:border-box; color:#828282;  position: relative;}
.doc_verification ul li label{   margin: 7px 0;  padding:10px 0; display:table; font-size:13px; width:33.3333%; vertical-align:middle; box-sizing:border-box; color:#828282;}
.doc_verification ul li.tableheading{ color:#ffffff; padding:15px 10px; /*border-right:1px solid #1796d4;*/ box-sizing:border-box; border-bottom:none;}
.doc_verification ul li.tableheading.nxtcol{padding-left:4px;}
.doc_verification ul li.borderight{border-right:0;}
.doc_verification ul.hd_topborder{ border-top:none;border-bottom:none; background:#ffffff;}	
.doc_verification ul li span{ display:table; padding:0; margin:10px 0; width:100%;}
.doc_verification ul li span select{ margin:0; border:none; padding:7px; width:100%; color:#797979; font-size:16px; font-weight:400; font-family: "Lato",sans-serif; border:1px solid #e1e1e1; border-radius:6px;}
.doc_veri{ left:26% !important; width:70% !important; border:3px solid #1796d4 !important; margin-top:-130px !important;}
.soft_copyup{ left:26% !important; width:70% !important; border:3px solid #1796d4 !important; margin-top:-80px !important;}
.doc_block{height:325px; overflow-x: hidden; overflow-y: auto;}
.soft_copyblock{height:auto; overflow-x: hidden; overflow-y: auto;}
.doc_verification ul li div.fileUpload{ padding:0;}
.doc_verification ul li input[type="checkbox"]{ height: 11px; margin: -3px 10px 0 0; padding: 0; vertical-align: middle; width: 11px;}