﻿@charset "utf-8";
/* CSS Document */

body{background-color:#f2f2f2; padding:0; margin:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {border:0 none;font:inherit;margin:0;padding:0;vertical-align:baseline;list-style:none; font-family: "Lato",sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
button{ cursor:pointer;}
.clearfix{ clear:both;}

#main_container{ width:100%; margin:0 auto; }
.header{ background:#0388c9; padding:5px 0 0 0;}
.header h1{ margin:0 auto; padding:0; text-align:center; color:#ffffff; font-size:27px; background:none; text-transform:uppercase; font-weight:300; border-bottom: 5px solid #006fa5;    display: table; line-height:59px; letter-spacing: 0.1em;}
.inner_container{ width:100%; margin:12px auto; background:#ffffff; padding:20px 0 0 0; box-sizing:border-box;  border-radius:4px;  display: table; box-shadow:1px 2px 5px -1px #a0a0a0; margin-bottom:0;}
.top_header{display:table; width:100%; vertical-align:middle; padding:0 0 7px 0;}
h2{color: #026ca0; font-size: 20px; font-weight: 400; letter-spacing: 0.1em; margin:0 auto 25px; padding: 0; text-align: center; text-transform: uppercase; background:none;}
h3{color: #026ca0;font-size: 20px;font-weight: 400; letter-spacing: 0.1em; margin:0; padding: 0 0 0 0; text-align: left;text-transform: uppercase;background: none;display: inline-block;}
.container_block { box-sizing: border-box; margin: 0 auto; padding: 0 3% 0; width: 100%;}
.top_heading{ color: #026ca0; display: block; font-size: 20px; font-weight: 300;letter-spacing: 0.1em;margin: 0 auto 5px;padding: 0;text-align: center;text-transform: uppercase;}
.document_list{border:1px solid #e3e3e3; border-radius:6px 6px 0 0; width:100%; box-sizing:border-box; background:#fcfcfc;  padding:15px;}
.document_list ul{ display:table; margin:0; padding:0; width:100%;}
.document_list ul li{ background: #ffffff; border: 1px solid #bababa; border-radius: 6px; color: #4f5d64; display: inline-block; font-size: 13px; margin: 0 10px 0 0; padding:7px;
    text-align: center;}
.document_uploadtable{  background: #ffffff; border-bottom: 1px solid #e3e3e3;border-left: 1px solid #e3e3e3;border-radius:6px;border-right: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; margin:0 0 10px; display:inline-block; width:100%;}	
.document_uploadtable ul.heading{ background:#fafafa;margin:0; padding:0; width:100%; display:table; box-sizing: border-box; border-radius:6px 6px 0 0;}
.document_uploadtable ul.heading li{ margin:0; padding:15px 10px; font-size:13px;  color:#aeaeae; text-align:left; display: table-cell;  box-sizing:border-box; width:12.5%;   border-right: 1px solid #f0f0f0; border-bottom: 1px solid #e3e3e3;  font-weight: 600; word-break: break-all;}
.document_uploadtable ul.heading li em.refresh{ background: url(../images/sprite.png) no-repeat -14px -47px; float:right; width:15px; height:15px; margin: 0 5px; cursor:pointer; }
.document_uploadtable ul.heading li:last-child{border-right:none;  border-radius: 0 6px 0 0;}
.document_uploadtable ul.heading li:first-child{  border-radius:6px 0px 0 0;}
.document_uploadtable ul.document_grid{ margin:0; padding:0; width:100%; display:table;  box-sizing: border-box; border-bottom:1px solid #f2f2f2;}
.document_uploadtable ul.document_grid li{margin:0; padding:15px 10px; font-size:14px;  color:#aeaeae; text-align:left; display: table-cell; box-sizing:border-box; width:12.5%;    border-right: 1px solid #f0f0f0;     word-break: break-all;}
.document_uploadtable ul.document_grid li.iconsblock{ text-align:center;}
.document_uploadtable ul.document_grid li div.iconcontainer{ display:inline-block;}
.document_uploadtable ul.document_grid li em.calltransfer{ background: url(../images/sprite.png) no-repeat -14px -16px; float:left; width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.document_uploadtable ul.document_grid li em.callconference{ background: url(../images/sprite.png) no-repeat -53px -16px; float:left; width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.document_uploadtable ul.document_grid li em.callunhold{ background: url(../images/sprite.png) no-repeat -95px -17px; float:left; width:21px; height:15px; margin: 0 5px; cursor:pointer;}
.document_uploadtable ul.document_grid li em.callpatch{ background: url(../images/sprite.png) no-repeat -135px -16px; float:left; width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.document_uploadtable ul.document_grid li em.callpatchtransfer{ background: url(../images/sprite.png) no-repeat -164px -16px; float:left; width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.document_uploadtable ul.document_grid li em.calldisconnect{ background: url(../images/sprite.png) no-repeat -53px -47px; float:left; width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.document_uploadtable ul.document_grid li em.activered{ text-align:center; background:#f05050; border-radius:50%; height:15px; width:15px; display:inline-block; }
.document_uploadtable ul.document_grid li em.activegreen{ text-align:center; background:#10c469; border-radius:50%; height:15px; width:15px; display:inline-block; }
.document_uploadtable ul.document_grid li em.activeorange{ text-align:center; background:#ffbd4a; border-radius:50%; height:15px; width:15px; display:inline-block; }
.document_uploadtable ul.document_grid li:last-child{border-right:none;}
.document_uploadtable ul.document_grid li select{border-radius:6px; border:1px solid #b1b1b1; padding:5px; width: 100%; box-sizing:border-box; }
.document_uploadtable ul.document_grid li input[type="text"]{border-radius:6px; border:1px solid #b1b1b1; padding:5px; font-size:13px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
.document_uploadtable ul.document_grid li input[type="file"]{ width:100%; margin:0; padding:0;}
.document_uploadtable ul.document_grid li input[type="checkbox"]{ margin:0; padding:0; height:13px; width:13px;}
.document_uploadtable ul.button_section{ background:none; margin:0; padding:0; width:100%; display:table;}
.document_uploadtable ul.button_section li{ margin:0; padding:15px 10px; display:table-cell; text-align:center;}
.document_uploadtable ul.button_section li.block1{width:10%;}
.document_uploadtable ul.button_section li .block2{width:80%;}
.savebutton{  border: 1px solid #0395dc; border-radius: 4px; color: #ffffff; font-size: 16px; min-width:140px; padding:6px 5px; background:#039be5; text-align: center; position:relative; min-width: 100px; box-shadow: 1px 2px 5px -1px #a0a0a0;}	
.add_more_block{ width:100%; display:block;  padding: 20px 0;}
.add_button{ background:#818a91; border-radius:4px; color:#ffffff; font-size:14px; border:1px solid #bbbbbb; text-align:center; font-weight:400; padding: 6px 5px; margin:0;}
.inner_block{padding:0 20px; box-sizing:border-box;}
.search_block{background:#ffffff;border:1px solid #e3e3e3; border-radius:6px; margin:0 0 20px 0; padding:20px; width:100%; box-sizing:border-box; display:table;}
.search_block .form_block{ display:table-cell; width:90%; vertical-align:middle; }
.search_block .button_block{ display:table-cell; width:10%;   vertical-align: bottom;}
.search_block .form_block ul.formbox{ width:100%; display:table; margin:0; padding:0;}
.search_block .form_block ul.formbox li{ margin:0; padding:0 10px 0 0; display:table-cell; font-size:14px; color:#aeaeae; list-style:none; width:25%; box-sizing: border-box;}
.search_block .form_block ul.formbox >li>a{width:100%; display:block;}
.search_block .form_block ul.formbox li ul li{width:100%; display:block;}
.search_block .form_block ul.formbox li label{ margin:0; padding:0; display:block; font-size:14px; color:#aeaeae; list-style:none; text-align:left;}
.search_block .form_block ul.formbox li span{ display:block;  margin:0;  padding: 10px 0 0;}
.search_block .form_block ul.formbox li span input[type="text"]{border-radius:6px; border:1px solid #b1b1b1; padding:5px; font-size:13px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
.search_block .form_block ul.formbox li span select{border-radius:6px; border:1px solid #b1b1b1; padding:5px; font-size:13px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
ul.actionlist {display: inline-block; vertical-align: middle; float: right;}
ul.actionlist li{display: table-cell; width:20%; text-align:center; vertical-align: bottom;}
ul.actionlist li span{ display:inline-block; text-align:center;}
ul.actionlist li label{font-size: 10px; width: 100%;}
.calltransfer{ background: url(../images/sprite.png) no-repeat -14px -16px; width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.callconference{ background: url(../images/sprite.png) no-repeat -53px -16px;  width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.callunhold{ background: url(../images/sprite.png) no-repeat -95px -17px;  width:21px; height:15px; margin: 0 5px; cursor:pointer;}
.callpatch{ background: url(../images/sprite.png) no-repeat -135px -16px;  width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.callpatchtransfer{ background: url(../images/sprite.png) no-repeat -164px -16px;  width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.calldisconnect{ background: url(../images/sprite.png) no-repeat -53px -47px;  width:15px; height:15px; margin: 0 5px; cursor:pointer;}
.refresh{ background: url(../images/sprite.png) no-repeat -14px -47px; width:15px; height:15px; margin: 0 5px; cursor:pointer; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /*display: none;*/
  float: left;
  width: 91%;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
ul.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
ul.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li{  display: block !important;  padding:0!important;  clear: both;  font-weight: 400;  font-size: 14px;  line-height: 1.42857143; color: #333; white-space: nowrap; text-decoration:none; width:100%!important;}
ul.dropdown-menu > li > a {
  display: block; text-decoration:none;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
ul.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
ul.dropdown-menu > .active > a,
ul.dropdown-menu > .active > a:hover,
ul.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
ul.dropdown-menu > .disabled > a,
ul.dropdown-menu > .disabled > a:hover,
ul.dropdown-menu > .disabled > a:focus {
  color: #777;
}
ul.dropdown-menu > .disabled > a:hover,
ul.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}