﻿<div class="container_block">

    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li>Add New User</li>

            </ul>
            </div>
        <div class="form_container">
            <ul class="formbox">
                <li>
                    <label>Name</label>
                    <span>
                        <input id="Name" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="Name" ng-required="true" placeholder="Enter Name" /><br />
                    </span>
                </li>
                <li>
                    <label>EmailID</label>
                    <span>
                        <input id="EmailID" class="insurer_box" type="email" ng-model="EmailID" ng-required="true" placeholder="eg:- dave@gmail.com" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" /><br />
                  </span>
                </li>
                
            </ul>
            <ul class="formbox">
                <li>
                    <label>MobileNo</label>
                    <span>
                        <input id="MobileNo" type="text" ng-model="MobileNo" ng-required="true" placeholder="Enter Mobile Number" /><br />
                    </span>
                </li>
                <li>
                    <label>UserType</label>
                    <span>
                        <select class="insurer_box" id="UserType" ng-model="Selected.UserTypeName" ng-options="data.Name for data in UserMgmtData.UserTypeName track by data.ID" ng-required="true">
                            <option value=''>--Select--</option>
                        </select>
                    </span>
                </li>
                </ul>
            <ul class="formbox">
                <li>
                    <label>LoginID</label>
                    <span>
                        <input id="LoginID" type="text" ng-model="LoginID" ng-required="true" placeholder="Enter LoginID" />
                        <br />
                    </span>
                </li>

                <li class ="sml_field">
                    <label>Password</label>

                    <span>
                        <!--<input id="Password" type="text" ng-model="Password" ng-required="true" placeholder="Enter Password" />-->
                        <input class="insurer_box" type="{{showpassword ? 'text' : 'password'}}" id="Password" ng-model="Password" ng-required="true" placeholder="Enter Password">
                        <!--<input ng-show="showpassword" type="text" ng-model="password">
        <input ng-hide="showpassword" type="password" ng-model="password">-->
                        <!--<labe ng-show="check == 'A'">
            Checked
        </labe>-->
                    </span></li>
                <li class="sml_field">
                    
                        <label>&nbsp; </label><span>
                                                  <input type="checkbox" ng-model="showpassword" ng-checked="false" style="float:left">
                    <label style="float:left; font-size:14px">&nbsp; Show Password</label>
    <!--<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />-->
    <!-- <label for="checkbox" ng-if="Checkbox">Hide password</label>
    <label for="checkbox" ng-if="!Checkbox">Show password</label>-->
    <br />
</span>

                </li>
            </ul>   
            <ul class="formbox">
                <li>
                    <div id="change1" ng-hide="Selected.UserTypeName.ID=='2'">
                        <label>UserRole</label>
                        <span>
                            <select class="insurer_box" id="UserRole" ng-model="Selected.UserRoleName" ng-options="data.Name for data in UserMgmtData.UserRoleName track by data.ID" ng-required="true">
                                <option value=''>--Select--</option>
                            </select>

                            <br />
                        </span>
                    </div>
                    
                  
</li>
                <li>
                    <div id="change" ng-hide="Selected.UserTypeName.ID=='1'">
                        <!--style="display:none" class="insurer"-->
                        <!--ng-if="isEnabled"-->
                        <!--ng-hide="UserMgmtData.UserType.ID!='1'"-->
                        <label>InsurerName</label>
                        <span>
                            <select class="insurer_box" ng-model="Selected.Insurer" ng-options="i.InsurerName for i in SupplierList" ng-required="true">
                                <option value=''>--Select--</option>
                            </select>
                        </span>
                    </div>

</li> <!--ng-disabled="UserMgmtData.UserType.ID=='1'"-->
            </ul>

           
                    <p style="color: red">{{Msg}}</p>
                    <label>&nbsp;</label>
                    <label>&nbsp;</label>
                    <button class="savebutton" ng-click="AddNewUsers()" style="float:right">
                        {{UserMgmtData.ButtonLabel.Register}}
                        <!--<input id="Register" type="button" value="Register" ng-click="AddNewUsers()" />{{UserMgmtData.ButtonLabel.Register}}-->
                    </button>
               

           
                <!--<button class="savebutton" ng-click="AddNewUsers()">
                    {{UserMgmtData.ButtonLabel.Register}}-->
                    <!--<input id="Register" type="button" value="Register" ng-click="AddNewUsers()" />{{UserMgmtData.ButtonLabel.Register}}-->
                <!--</button>-->
</div>
        </div>
</div>


<!--Back end

prepare SQL query that will check for duplicates
expose it on your server, perhaps as RESTful API or WCF
Front end

add an ajax call to your back end service
hook this call to an event, perhaps when user shift focus to another text box or maybe press a check button-->