﻿@charset "utf-8";
/* CSS Document */

@media only screen and (max-width :768px){
		table {
		overflow-x: auto;
		display: block;
	}
}

@media screen and (max-width:1023px){
 .inner_container{width:95%; display:inline-block; margin-left:2%;}
 }