﻿
<link href="css/commhistroy.css" rel="stylesheet" />
<div class="" style="margin:auto">
    <div class="col-lg-12 table-responsive table_w" >
        <div class="heading_text"><h3>Communication history</h3></div>
        <span class="booking_id">Booking id: {{BookingId}}</span>
        <table style="width:100%;padding: 10px;margin: 10px auto;cursor: pointer" class="popup_table table">
            <thead>
                <tr>
                    <th>Date N Time</th>
                    <th>Actioned By</th>
                    <th>Type</th>
                    <th>Ctype</th>
                    <th>Call Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in CommunicationHistory">
                    <td>{{x.CommunicationDate}}</td>
                    <td>{{x.ActionedBy}}</td>
                    <td>{{x.Type}}</td>
                    <td>{{x.CommType}}</td>
                    <td>{{x.Duration}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>