﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <div >


        <div id="">
            <div class="container">
                <div class="form_container">
                    <div class="heading">
                        <span></span><img src="images/icicipru.jpg" width="120" height="50" /> &nbsp;&nbsp;&nbsp;&nbsp;<strong style="padding-top: 15px !important; position: absolute;">BookingId : {{BookingId}}</strong>   
                    </div>
                    <div>

                        <ul class="uploadbox">
                            <li>
                                <label>Application No.</label>
                                <span>
                                    {{InsurerViewDetail.APPLICATIONKEY}}
                                </span>
                            </li>
                            <li>
                                <label>Application Date</label>
                                <span>
                                    {{InsurerViewDetail.SUBMISSIONDATE | date :'MMM d, y'}}
                                </span>
                            </li>
                            <li>
                                <label>QuoteNo</label>
                                <span>
                                    {{InsurerViewDetail.APPLICATIONKEY}}
                                </span>
                            </li>
                        </ul>

                        <ul class="uploadbox">
                            <li>
                                <label>Insured Name</label>
                                <span>
                                    {{InsurerViewDetail.FILLER_OWNERNAME}}
                                </span>
                            </li>
                            <li>
                                <label>Sum Assured</label>
                                <span>
                                    <i class="fa fa-inr" aria-hidden="true"></i>{{InsurerViewDetail.FILLER_SUMINSURED  | number:2}}
                                </span>
                            </li>
                            <li>
                                <label>Total Premium</label>
                                <span>
                                    <i class="fa fa-inr" aria-hidden="true"></i> {{InsurerViewDetail.DUMMY_2  | number:2}}
                                </span>
                            </li>
                        </ul>

                        <ul class="uploadbox">
                            <li>
                                <label>Plan Name</label>
                                <span>
                                    {{InsurerViewDetail.PLAN_NAME}}
                                </span>
                            </li>
                            <li>
                                <label>Policy TERM</label>
                                <span>
                                    {{InsurerViewDetail.RISK_TERM}}
                                </span>
                            </li>
                            <li>
                                <label>PREMIUM TERM</label>
                                <span>
                                    {{InsurerViewDetail.PREMIUM_TERM}}
                                </span>
                            </li>
                        </ul>

                        <ul class="uploadbox">
                            <li>
                                <label>Policy No</label>
                                <span>
                                    {{InsurerViewDetail.POLICYKEY}}
                                </span>
                            </li>
                            <li>
                                <label>Policy Start-Date</label>
                                <span>
                                    <!--{{InsurerViewDetail.EFFDATE }}-->
                                    N.A
                                </span>
                            </li>
                            <li>
                                <label>BRANCHRECDDATE</label>
                                <span>
                                  {{InsurerViewDetail.BRANCHRECDDATE}}
                                </span>
                            </li>
                        </ul>



                    </div>
                </div>

                <div class="form_container">
                    <ul class="remarks_block">
                        <li>
                            <label>Policy Status</label>
                        </li>
                        <li>
                            {{InsurerViewDetail.POLICYSTATUSFull}}
                        </li>

                    </ul>


                </div>


                <!--<div class="row bs-wizard" style="border-bottom:0; display:none">

                    <div class="col-xs-3 bs-wizard-step complete">

                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Quote</div>
                        <div class="arrow_img"></div>
                    </div>

                    <div class="col-xs-3 bs-wizard-step complete">
                    

                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Payment</div>

                    </div>

                    <div class="col-xs-3 bs-wizard-step active">
                 

                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Proposal Form</div>
                    </div>

                    <div class="col-xs-3 bs-wizard-step disabled">
                  

                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">View Medical Details</div>
                    </div>

                    <div class="col-xs-3 bs-wizard-step disabled">
                
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Documentst</div>
                    </div>


                    <div class="col-xs-3 bs-wizard-step disabled">
                 

                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Additional Requirement</div>
                    </div>

                    <div class="col-xs-3 bs-wizard-step disabled">
                

                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Decision</div>
                    </div>

                    <div class="col-xs-3 bs-wizard-step disabled">
                     

                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Delivery</div>
                    </div>

                </div>-->




                <div class="inner_container">
                    <div class="data_block table-responsive">
                        <div class="top_heading">Documents for {{InsurerViewDetail.FILLER_OWNERNAME}}</div>
                        <h1>Additional Info Docs</h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>FOLLOWUPCODE</th>
                                    <th>FOLLOWUP</th>
                                    <th>FOLLOWUP Description</th>
                                    <th>REQUESTDATE</th>
                                    <th>RECEIVEDDATE</th>                                 
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in InsurerView | filter:{FLAG:'DOCS'} | orderBy:'FOLLOWUPCODE'">
                                    <th>{{x.FOLLOWUPCODE}}</th>
                                    <td>{{x.ShortDescription}}</td>
                                    <td>{{x.Description}}</td>
                                    <td>{{x.REQUESTDATE | date:'MMM d, y'}}</td>
                                    <td>{{x.RECEIVEDDATE | date:'MMM d, y'}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <h1>Additional Info Medical</h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>FOLLOWUPCODE</th>
                                    <th>FOLLOWUP</th>
                                    <th>FOLLOWUP Description</th>
                                    <th>MED_REQUESTDATE</th>
                                    <th>EXAMDATE</th>
                                    <th>COPSRECDDATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in InsurerView | filter:{FLAG:'MEDICAL'} | orderBy:'MED_FOLLOWUPCODE'">
                                    <th>{{x.MED_FOLLOWUPCODE}}</th>
                                    <td>{{x.ShortDescription}}</td>
                                    <td>{{x.Description}}</td>
                                    <td>{{x.MED_REQUESTDATE | date:'MMM d, y'}}</td>
                                    <td>{{x.EXAMDATE | date:'MMM d, y'}}</td>
                                    <td>{{x.COPSRECDDATE | date:'MMM d, y'}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


    </div>
</body>
</html>
