﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<style>
    .loaderImg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -(50/2)px;
        margin-top: -(50/2)px;
    }
</style>

<body>
    <div>


        <div id="">
            <div ng-hide="LoadingImg">
                <img class="loaderImg" src="../images/loader.gif" style="width:50px;height:50px" />
                {{Timer}} Sec
            </div>
            <div ng-show="LoadingImg" class="container">
                <div class="form_container">
                    <div class="heading">
                        <span></span><img src="images/PNBMetlife.jpg" width="120" height="90" /> &nbsp;&nbsp;&nbsp;&nbsp;<!--<strong style="padding-top: 15px !important; position: absolute;">BookingId : {{BookingId}}</strong>-->
                    </div>
                    <div>

                        <ul class="uploadbox">
                            <li>
                                <label>Application No.</label>
                                <span>
                                    {{InsurerView.tma.tma_header.uniquekey}}
                                </span>
                            </li>
                            <li>
                                <label>Application Date</label>
                                <span>
                                    {{InsurerView.tma.tma_body.paymentdone.intime}}
                                </span>
                            </li>
                            <li>
                                <label>Policy Term</label>
                                <span>
                                    {{InsurerView.tma.tma_body.applicationdetails.policyterm}}
                                </span>
                            </li>
                        </ul>

                        <ul class="uploadbox">
                            <li>
                                <label>Insured Name</label>
                                <span>
                                    {{InsurerView.tma.tma_body.applicationdetails.pifirstname }} {{InsurerView.tma.tma_body.applicationdetails.pimidname }} {{InsurerView.tma.tma_body.applicationdetails.pilastname }}
                                </span>
                            </li>
                            <li>
                                <label>Premium</label>
                                <span>
                                    <i class="fa fa-inr" aria-hidden="true"></i>{{InsurerView.tma.tma_body.applicationdetails.modalpremium}}
                                </span>
                            </li>
                            <li>
                                <label>Payment Term</label>
                                <span>
                                    {{InsurerView.tma.tma_body.applicationdetails.premiumpayterm}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form_container">
                    <ul class="remarks_block">
                        <li>
                            <label>Policy Status</label>
                        </li>
                        <li>
                            {{CurrentStatus}}
                        </li>

                    </ul>


                </div>




                <div class="inner_container">
                    <div class="data_block table-responsive">
                        <!--<div class="top_heading">Documents for {{InsurerViewDetail.FILLER_OWNERNAME}}</div>-->
                        <h1>Current Stage</h1>
                        <div class="form_container">
                            <ul class="remarks_block">
                                <li>
                                    <label>Message</label>
                                </li>
                                <li>
                                    <!--{{InsurerCurrent}}-->
                                    {{InsurerCurrent.message}}
                                </li>

                            </ul>


                        </div>
                        <div class="form_container" ng-if="InsurerCurrent.longdesc">
                            <ul class="remarks_block">
                                <li>
                                    <label>Long Description</label>
                                </li>
                                <li>
                                    {{InsurerCurrent.longdesc}}
                                </li>

                            </ul>


                        </div>
                        <!--<table class="table table-striped">
                    <thead>
                        <tr>
                            <th>FOLLOWUPCODE</th>
                            <th>FOLLOWUP</th>
                            <th>FOLLOWUP Description</th>
                            <th>REQUESTDATE</th>
                            <th>RECEIVEDDATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in InsurerView | filter:{FLAG:'DOCS'} | orderBy:'FOLLOWUPCODE'">
                            <th>{{x.FOLLOWUPCODE}}</th>
                            <td>{{x.ShortDescription}}</td>
                            <td>{{x.Description}}</td>
                            <td>{{x.REQUESTDATE | date:'MMM d, y'}}</td>
                            <td>{{x.RECEIVEDDATE | date:'MMM d, y'}}</td>
                        </tr>

                    </tbody>
                </table>
                <h1>Additional Info Medical</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>FOLLOWUPCODE</th>
                            <th>FOLLOWUP</th>
                            <th>FOLLOWUP Description</th>
                            <th>MED_REQUESTDATE</th>
                            <th>EXAMDATE</th>
                            <th>COPSRECDDATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in InsurerView | filter:{FLAG:'MEDICAL'} | orderBy:'MED_FOLLOWUPCODE'">
                            <th>{{x.MED_FOLLOWUPCODE}}</th>
                            <td>{{x.ShortDescription}}</td>
                            <td>{{x.Description}}</td>
                            <td>{{x.MED_REQUESTDATE | date:'MMM d, y'}}</td>
                            <td>{{x.EXAMDATE | date:'MMM d, y'}}</td>
                            <td>{{x.COPSRECDDATE | date:'MMM d, y'}}</td>
                        </tr>

                    </tbody>
                </table>-->
                    </div>

                </div>
            </div>
        </div>


    </div>
</body>
</html>
