.popup_table th {
    border: 1px solid #c4ccde;
    background: #e8eefa;
    text-align: center;
    color: #796fac;
    font-size: 14px;
}

.popup_table td {
    border: 1px solid #c4ccde;
    text-align: center;
    font-size: 14px;
    color: #8180b1;
}

h4.modal-title {
    text-align: center;
}

h4.modal_h {
    color: #8180b1
}

.pop_up {
    max-width: 80%;
    width: auto !important;
    margin: 0 auto;
}

.table.popup_table>thead {
    border-top: 1px solid #ddd;
}

.table.popup_table>thead>tr>th {
    border-bottom: none;
}

.table.popup_table>tbody>tr>td,
.table.popup_table>tbody>tr>th,
.table.popup_table>thead>tr>td,
.table.popup_table>thead>tr>th {
    padding: 6px 3px;
    !important
}

.container.table_w {
    width: 60%;
}

.booking_id {
    display: inline-block;
    padding: 0 0 0 6px;
    color: #495a9c;
}

.heading_text {
    width: 100%;
    text-align: center;
}

.heading_text h3 {
    color: #495a9c;
}