﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insurer Block</title>
   
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(document).ready(function () {

            $('ul.toptabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.toptabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })

        })
    </script>
</head>

<body>
    <div id="main_container">
        <div class="container">
            <div class="form_container">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" ng-repeat="Issue in IssueMaster">
                        <div class="panel-heading" ng-click="Issue.abc = !Issue.abc">
                            <h4 class="panel-title">
                                <a data-toggle="collapse">
                                    {{Issue.IssueName}}
                                </a>
                            </h4>
                        </div>
                        <div ng-show="Issue.abc">
                            <div class="panel-body">
                              <!--<table>
                                  <tr >
                                      <td>{{SubIssue.ProductName}}</td>
                                      <td>{{SubIssue.IssueName}}</td>
                                  </tr>
                              </table>-->
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>IsActive</th>
                                                <th>IsMyAccount</th>
                                                <th>SequenceID</th>
                                                <th>TopIssue</th>
                                                <th>CategoryType</th>
                                                <th>IsChat</th>
                                                <th>IsAutoClosure</th>
                                                <th>TAT</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="SubIssue in Issue.TicketIssueTypeMaster">
                                                <td>
                                                    <span ng-if="SubIssue.IssueTypeId > 0">{{SubIssue.ProductName}}</span>
                                                    <select ng-if="SubIssue.IssueTypeId == 0" ng-model="SubIssue.Product">
                                                        <option ng-repeat="x in ProductList" value="{{x}}">{{x.Product}}</option>
                                                    </select>
                                                </td>
                                                <td><input type="checkbox" ng-model="SubIssue.IsActive" /></td>
                                                <td><input type="checkbox" ng-model="SubIssue.IsMyAccount" /></td>
                                                <td><input type="number" ng-model="SubIssue.SequenceID" /></td>
                                                <td><input type="number" ng-model="SubIssue.TopIssue" /></td>
                                                <td><input type="number" ng-model="SubIssue.CategoryType" /></td>
                                                <td><input type="checkbox" ng-model="SubIssue.IsChat" /></td>
                                                <td><input type="checkbox" ng-model="SubIssue.IsAutoClosure" /></td>
                                                <td><input type="number" ng-model="SubIssue.TAT" /></td>
                                                <td>
                                                    <button type="button" ng-if="SubIssue.IssueTypeId > 0" ng-click="EditIssue(SubIssue,$index,$parent.$parent.$index)">Edit</button>
                                                    <button type="button" ng-if="SubIssue.IssueTypeId == 0" ng-click="SaveIssue(SubIssue,$index,$parent.$parent.$index)">Add</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary pull-right" ng-click="AddNew(Issue,$index)">Add New</button>
                                    </div>

                                </div>
                        </div>

                    </div>
                   
                    </div>


        </div>

    </div>

    </div>
    <h2>Add New</h2>

    <div class="col-md-12 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>IssueName</th>
                    <th>Product</th>
                    <th>IsActive</th>
                    <th>IsMyAccount</th>
                    <th>SequenceID</th>
                    <th>TopIssue</th>
                    <th>CategoryType</th>
                    <th>IsChat</th>
                    <th>IsAutoClosure</th>
                    <th>TAT</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" ng-model="newIssue.IssueName" /></td>
                    <td>
                        <select ng-model="newIssue.Product">
                            <option ng-repeat="x in ProductList" value="{{x}}">{{x.Product}}</option>
                        </select>
                    </td>
                    <td><input type="checkbox" ng-model="newIssue.IsActive" /></td>
                    <td><input type="checkbox" ng-model="newIssue.IsMyAccount" /></td>
                    <td><input type="number" ng-model="newIssue.SequenceID" /></td>
                    <td><input type="number" ng-model="newIssue.TopIssue" /></td>
                    <td><input type="number" ng-model="newIssue.CategoryType" /></td>
                    <td><input type="checkbox" ng-model="newIssue.IsChat" /></td>
                    <td><input type="checkbox" ng-model="newIssue.IsAutoClosure" /></td>
                    <td><input type="number" ng-model="newIssue.TAT" /></td>
                    <td>

                        <button type="button" ng-click="SaveNewIssue(newIssue)">Add New Listing</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
