﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insurer Block</title>
   
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(document).ready(function () {

            $('ul.toptabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.toptabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })
        })
    </script>
</head>

<body>
    <div id="">
        <div class="">
            <div class="">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" >
                        <div class="container" style="margin-top:10px">
                            <b>Please select issue</b>
                            <select ng-model="IssueSelected" ng-change="GetIssues(IssueSelected)">
                                <option ng-repeat="x in AllIssues" value="{{x.IssueName}}">{{x.IssueName}}</option>
                            </select>
                        </div>
                        <div >
                            <div class="panel-body">
                              <!--<table>
                                  <tr >
                                      <td>{{SubIssue.ProductName}}</td>
                                      <td>{{SubIssue.IssueName}}</td>
                                  </tr>
                              </table>-->
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>IssueName</th>
                                                <th>Product</th>
                                                <th>IsActive</th>
                                                <th>IsMyAccount</th>
                                                <th style="width:15px">SequenceID</th>
                                                <th style="width:15px">TopIssue</th>
                                                <th style="width:15px">CategoryType</th>
                                                <th>IsChat</th>
                                                <th>IsAutoClosure</th>
                                                <th style="width:15px">TAT</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="SubIssue in SubIssueList">
                                                <td><span ng-if="SubIssue.IssueTypeId > 0">{{SubIssue.IssueName}}</span>
                                                    <input ng-if="SubIssue.IssueTypeId == 0" type="text" ng-model="SubIssue.IssueName" /></td>
                                                <td>
                                                    <span ng-if="SubIssue.IssueTypeId > 0">{{SubIssue.ProductName}}</span>
                                                    <select ng-if="SubIssue.IssueTypeId == 0" ng-model="SubIssue.Product">
                                                        <option ng-repeat="x in ProductList" value="{{x}}">{{x.ProductName}}</option>
                                                    </select>
                                                </td>
                                                <td><input type="checkbox" ng-model="SubIssue.IsActive" /></td>
                                                <td><input type="checkbox" ng-model="SubIssue.IsMyAccount" /></td>
                                                <td style="width:15px"><input type="number" style="width:35px" ng-model="SubIssue.SequenceID" /></td>
                                                <td style="width:15px"><input type="number" style="width: 35px; " ng-model="SubIssue.TopIssue" /></td>
                                                <td style="width:15px"><input type="number" style="width: 35px; " ng-model="SubIssue.CategoryType" /></td>
                                                <td><input type="checkbox" ng-model="SubIssue.IsChat" /></td>
                                                <td><input type="checkbox" ng-model="SubIssue.IsAutoClosure" /></td>
                                                <td style="width:15px"><input type="number" style="width: 35px; " ng-model="SubIssue.TAT" /></td>
                                                <td>
                                                    <button type="button" ng-if="SubIssue.IssueTypeId > 0" ng-click="EditIssue(SubIssue,$index)">Edit</button>
                                                    <button type="button" ng-if="SubIssue.IssueTypeId == 0" ng-click="SaveIssue(SubIssue,$index)">Add</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div>
                                        <button ng-if="SubIssueList" class="btn btn-primary pull-right" ng-click="AddNew()">Add New</button>
                                    </div>

                                </div>
                        </div>

                    </div>
                   
                    </div>


        </div>

    </div>

    </div>
</body>
</html>
