﻿
<div class="container container_block">

    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li> <h3>{{NewUser ? 'Add New User': 'Edit User'}}</h3></li>
                <!--<li>{{User| json}}</li>-->
                <br />
                <li><button type="button" ng-click="Back()" class="btn btn-primary">Back</button></li>

                <br />
            </ul>
        </div>
        <div class="form_container">
            <form name="myForm" ng-submit="AddNewUsers()">
                <ul class="formbox col-md-12">
                    <li class="col-md-6">
                        <label>Name</label>
                        <span>
                            <input id="Name" class="insurer_box" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="User.Name" maxlength="100" ng-required="true" placeholder="Enter Name" /><br />
                        </span>
                    </li>
                    <li class="col-md-6">
                        <label>EmailID</label>
                        <span>
                            <input id="EmailID" class="insurer_box" type="email" ng-model="User.EmailID" ng-required="true" maxlength="200" placeholder="eg:- dave@gmail.com" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" /><br />
                        </span>
                    </li>

                </ul>
                <ul class="formbox col-md-12">
                    <!--<li>
                <label>MobileNo</label>
                <span>
                    <input id="MobileNo" type="text" ng-model="User.MobileNo" ng-required="true" placeholder="Enter Mobile Number" /><br />
                </span>
            </li>-->
                    <!--<li class="col-md-12">
                        <label>UserType</label>
                        <span>
                            <select class="insurer_box" id="UserType" ng-model="User.UserType" ng-options="data.Name for data in UserMgmtData.UserTypeName track by data.ID" ng-required="true">
                                <option value=''>--Select--</option>
                            </select>
                        </span>
                    </li>-->
                </ul>
               
                <ul class="formbox col-md-12">
                    <li class="col-md-6">
                        <label>LoginID</label>
                        <span>
                            <input class="insurer_box" id="LoginID" type="text" ng-model="User.LoginID" ng-minlength="5" ng-maxlength="12" name="LoginID" ng-required="true" placeholder="Enter LoginID" />
                            <p ng-show="myForm.LoginID.$error.required && myForm.LoginID.$dirty" class="help-block">Required</p>
                            <p ng-show="!myForm.LoginID.$error.required && (myForm.LoginID.$error.minlength || myForm.LoginID.$error.maxlength) && myForm.LoginID.$dirty" class="help-block">LoginID must be between 5 and 12 characters.</p>
                            <br />
                        </span>
                    </li>

                    <li class="col-md-6 sml_field">
                        <label>Password</label>
                        <span>
                            <input class="insurer_box" type="{{showpassword ? 'text' : 'password'}}" id="password" name="password" ng-minlength="8" ng-maxlength="20" ng-model="User.Password"  ng-required="true" placeholder="Enter Password">
                            <p ng-show="myForm.password.$error.required && myForm.password.$dirty" class="help-block">Required</p>
                            <p ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty" class="help-block">Passwords must be between 8 and 20 characters.</p>
                        </span>
                    </li>
                    <li class="col-md-6 sml_field">

                        <label>&nbsp; </label><span>
                                                  <input type="checkbox" ng-model="User.IsAcitve" style="float:left">
                            <label style="float:left; font-size:14px">&nbsp; Active</label>
                            <br />
                        </span>

                    </li>
                    
                    <li class="col-md-6 sml_field">

                        <label>&nbsp; </label><span>
                            <input type="checkbox" ng-model="showpassword" ng-checked="false" style="float:left">
                            <label style="float:left; font-size:14px">&nbsp; Show Password</label>
                            <br />
                        </span>

                    </li>
                   
                </ul>
                <ul class="formbox col-md-12">

                    <li  class="col-md-6">
                        <div id="change">

                            <label>Select Product</label>
                            <span>
                                <select class="insurer_box" ng-model="AddUser.Product" ng-change="GetInsurerName(AddUser.Product)" ng-options="i.Product for i in Products" >
                                    <option value="">--Select--</option>
                                </select>
                            </span>
                        </div>

                    <li class="col-md-6">
                        <div id="change" ng-show="AddUser.Product">

                            <label>Insurer Name</label>
                            <span>
                                <select class="insurer_box" ng-model="AddUser.Insurer" ng-options="i.SupplierName for i in SupplierList" >
                                    <option value="">--Select--</option>
                                </select>
                            </span>
                        </div>

                    </li>
                    <li class="col-md-12">
                        <button class="btn btn-primary" ng-click="addToList()" type="button" style="float:right">
                           Add
                        </button>

                    </li>
                </ul>
                <ul>
                    <li class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Insurer</th>
                                    <th>Active</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="InsurerUser in User.InsurerUserMapping">
                                    <td>{{InsurerUser.ProductName}}</td>
                                    <td>{{InsurerUser.SupplierName}}</td>
                                    <td><input type="checkbox" ng-model="InsurerUser.IsActive"  style="float:left"></td>
                                    <td>
                                        <button ng-if="InsurerUser.SNO == 0" class="btn btn-primary" ng-click="Delete($index)" type="button" >
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                        </table>
                    </li>
                </ul>
               


                <p style="color: red">{{Msg}}</p>
                <label>&nbsp;</label>
                <label>&nbsp;</label>
                <button class="savebutton" type="submit" style="float:right">
                     Save
                </button>
            </form>

        </div>
    </div>
</div>

<style>
    #scrollable-area {
        height: 310px;
        overflow-y: scroll;
    }

    table {
        width: 100%;
    }

    thead {
        background: #fff;
    }
</style>
