﻿
<div class="container container_block">

    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li> <h3>{{NewUser ? 'Add New User': 'Edit User'}}</h3></li>
                <!--<li>{{User| json}}</li>-->
                <br />
                <li><a href="#!/Dashboard" class="btn btn-primary">Back</a></li>

                <br />
            </ul>
        </div>
        <div class="form_container">
            <form name="myForm" ng-submit="AddNewUsers()">
                <ul class="formbox col-md-12">
                    <li class="col-md-6">
                        <label>Name</label>
                        <span>
                            <input id="Name" class="insurer_box" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="User.Name" maxlength="100" ng-required="true" placeholder="Enter Name" /><br />
                        </span>
                    </li>
                    <li class="col-md-6">
                        <label>EmailID</label>
                        <span>
                            <input id="EmailID" class="insurer_box" type="email" ng-model="User.EmailID" ng-required="true" maxlength="200" placeholder="eg:- dave@gmail.com" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" /><br />
                        </span>
                    </li>

                </ul>
                <ul class="formbox col-md-12">
                    <!--<li>
                <label>MobileNo</label>
                <span>
                    <input id="MobileNo" type="text" ng-model="User.MobileNo" ng-required="true" placeholder="Enter Mobile Number" /><br />
                </span>
            </li>-->
                    <li class="col-md-12">
                        <label>UserType</label>
                        <span>
                            <select class="insurer_box" id="UserType" ng-model="User.UserType" ng-options="data.Name for data in UserMgmtData.UserTypeName track by data.ID" ng-required="true">
                                <option value=''>--Select--</option>
                            </select>
                        </span>
                    </li>
                </ul>
                <ul class="formbox col-md-12">
                    <li ng-if="User.UserType.ID == 1" class="col-md-12">
                        <div id="change1">
                            <label>UserRole</label>
                            <span>
                                <select class="insurer_box" id="UserRole" ng-model="User.UserRole" ng-options="data.Name for data in UserMgmtData.UserRoleName track by data.ID" ng-required="true">
                                    <option value=''>--Select--</option>
                                </select>

                                <br />
                            </span>
                        </div>
                    </li>
                    <li ng-if="User.UserType.ID == 2" class="col-md-6">
                        <div id="change">

                            <label>Select Product</label>
                            <span>
                                <select class="insurer_box" ng-model="User.Product" ng-change="GetInsurerName(User.Product)" ng-options="i.Product for i in Products track by data.ProductID" ng-required="true">
                                    <option value=''>--Select--</option>
                                </select>
                            </span>
                        </div>

                    <li ng-if="User.UserType.ID == 2" class="col-md-6">
                        <div id="change" ng-show="User.Product">

                            <label>InsurerName</label>
                            <span>
                                <select class="insurer_box" ng-model="User.Insurer" ng-options="i.SupplierName for i in SupplierList track by data.ID" ng-required="true">
                                    <option value=''>--Select--</option>
                                </select>
                            </span>
                        </div>

                    </li>
                    </li>
                </ul>
                <ul class="formbox col-md-12">
                    <li class="col-md-6">
                        <label>LoginID</label>
                        <span>
                            <input class="insurer_box" id="LoginID" type="text" ng-model="User.LoginID" ng-minlength="5" ng-maxlength="12" name="LoginID" ng-required="true" placeholder="Enter LoginID" />
                            <p ng-show="myForm.LoginID.$error.required && myForm.LoginID.$dirty" class="help-block">Required</p>
                            <p ng-show="!myForm.LoginID.$error.required && (myForm.LoginID.$error.minlength || myForm.LoginID.$error.maxlength) && myForm.LoginID.$dirty" class="help-block">LoginID must be between 5 and 12 characters.</p>
                            <br />
                        </span>
                    </li>

                    <li class="col-md-6 sml_field">
                        <label>Password</label>
                        <span>
                            <input class="insurer_box" type="{{showpassword ? 'text' : 'password'}}" id="password" name="password" ng-minlength="8" ng-maxlength="20" ng-model="User.Password"  ng-required="true" placeholder="Enter Password">
                            <p ng-show="myForm.password.$error.required && myForm.password.$dirty" class="help-block">Required</p>
                            <p ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty" class="help-block">Passwords must be between 8 and 20 characters.</p>
                        </span>
                    </li>
                    <li class="col-md-6 sml_field">

                        <label>&nbsp; </label><span>
                                                  <input type="checkbox" ng-model="User.IsAcitve" style="float:left">
                            <label style="float:left; font-size:14px">&nbsp; Active</label>
                            <br />
                        </span>

                    </li>
                    
                    <li class="col-md-6 sml_field">

                        <label>&nbsp; </label><span>
                            <input type="checkbox" ng-model="showpassword" ng-checked="false" style="float:left">
                            <label style="float:left; font-size:14px">&nbsp; Show Password</label>
                            <br />
                        </span>

                    </li>
                </ul>
                <ul class="formbox col-md-12">

                    <li class="col-md-6 sml_field">
                        <h4>Select Application Rights</h4>
                        <div ng-repeat="Rights in User.ApplicationRights">
                            <label>&nbsp; </label>
                            <span>
                                <input type="checkbox" ng-model="Rights.IsChecked" style="float:left" ng-disabled="Rights.IsDisabled" ng-if="Rights.ApplicationId!=3" ng-change="InsurerSelected(Rights)" >
                                <input type="checkbox" ng-model="Rights.IsChecked" style="float:left" ng-disabled="Rights.IsDisabled" ng-if="Rights.ApplicationId==3" ng-change="InsurerSelected(Rights);clearAll(Rights.IsChecked)">
                                <label style=" float:left; font-size:14px">&nbsp; {{Rights.AppName}}</label>
                                <br />
                            </span>
                           
                            <div ng-repeat="Right in User.MenuRights" ng-if="Rights.ApplicationId==3 && Rights.IsChecked">
                                <label>&nbsp; </label>
                                <span>
                                    <input id="{{Right.MenuID}}" type="checkbox" ng-model="Right.IsChecked" style="margin:10px" ng-disabled="Right.IsDisabled" ng-change="MenuCheck(Right)">
                                    <label style="margin: -8px; font-size: 14px">{{Right.MenuName}} </label>
                                    <input id="menuid" type="radio" name="menuid" ng-model="User.Default" ng-value="Right.MenuID" style="margin: 0px 0px 0px 90px;" ng-disabled="!Right.IsChecked">
                                    <br />
                                </span>
                            </div>
                        </div>

                    </li>
                </ul>


                <p style="color: red">{{Msg}}</p>
                <label>&nbsp;</label>
                <label>&nbsp;</label>
                <button class="savebutton" type="submit" style="float:right">
                    {{UserMgmtData.ButtonLabel.Register}}
                </button>
            </form>

        </div>
    </div>
</div>

<style>
    #scrollable-area {
        height: 310px;
        overflow-y: scroll;
    }

    table {
        width: 100%;
    }

    thead {
        background: #fff;
    }
</style>
