﻿<!--<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
    <script src="../Scripts/angu-fixed-header-table.js"></script>
    <script src="../Scripts/angular-dirPagination.js"></script>
</head>-->
<!--<body>-->
<div class="container container_block">

    <div class="inner_container">
        <div class="breadcrum_strip strip_c hd_1">
            <ul class="breadcrum_hd">
                <li><h3>User Details</h3></li>
                <li style="float: right;"> <button class="btn btn-primary" style="float:right" ng-click="AddUser()">Add User</button></li>

            </ul>

        </div>
        <div class="form_container form_c">
            <!--<label>User Details</label>
            <br />
            <br />-->
            <!--<ul class="formbox hd_2">
                <li>
                    <label>Search</label>
                    <span>
                        <input ng-model="search" type="text" id="search" placeholder="Search" />
                    </span>
                </li>
            </ul>-->
            <!--<center>
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    Previous
                </button>
                {{currentPage+1}}/{{numberOfPages()}}
                <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next
                </button>
            </center>-->

            <!--<div id="scrollable-area">

                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <th> S.No</th>
                            <th> Name</th>
                            <th> EmailId</th>
                            <th> MobileNo</th>
                            <th> LoginId</th>
                            <th> UserType</th>
                            <th> UserRole</th>
                            <th> InsurerName</th>
                            <th> InsurerID</th>
                            <th>Update Information</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in Userlist | filter:search">



                            <td>{{$index+1}}</td>
                            <td>{{data.Name}}</td>
                            <td>{{data.EmailID}}</td>
                            <td>{{data.MobileNo}}</td>
                            <td>{{data.LoginID}}</td>
                            <td>{{data.UserType}}</td>
                            <td>{{data.UserRole}}</td>
                            <td>{{data.InsurerName}}</td>
                            <td>{{data.InsurerID}}</td>
                            <td><button ng-click="Edit(data)"><strong>Edit</strong></button></td>
                        </tr>





                    </tbody>

                </table>

            </div>-->


            <div class="bs-component" >
                <!--<div class="alert alert-info">
                    <p>Sort key: {{sortKey}}</p>
                    <p>Reverse: {{reverse}}</p>
                    <p>Search String : {{search}}</p>
                </div>-->
                <form class="form-inline">
                    <div class="form-group">
                        <label>Search</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    </div>
                    <!--<div class="form-group">
                        <label>&nbsp; Application Access</label>
                        <select class="form-control" ng-model="Application" id="sel1">
                            <option value="HealthEx">HealthEx</option>
                            <option value="Inspection">Inspection</option>
                            <option value="Booking Score">Booking Score</option>
                            <option value="Insurer View">Insurer View</option>
                        </select>
                    </div>-->
                </form>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th ng-click="sort('UserID')">
                                UserID
                                <span class="glyphicon sort-icon" ng-show="sortKey=='UserID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('Name')">
                                Name
                                <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('EmailID')">
                                EmailID
                                <span class="glyphicon sort-icon" ng-show="sortKey=='EmailID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('MobileNo')">
                                MobileNo
                                <span class="glyphicon sort-icon" ng-show="sortKey=='MobileNo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('LoginID')">
                                LoginID
                                <span class="glyphicon sort-icon" ng-show="sortKey=='LoginID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('UserTypeName')">
                                UserType
                                <span class="glyphicon sort-icon" ng-show="sortKey=='UserTypeName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('UserRoleName')">
                                UserRole
                                <span class="glyphicon sort-icon" ng-show="sortKey=='UserRoleName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('ApplicationAccess')">
                                ApplicationAccess
                                <span class="glyphicon sort-icon" ng-show="sortKey=='ApplicationAccess'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th>
                                Edit
                            </th>
                            <!--<th ng-click="sort('MobileNo')">
                                MobileNo
                                <span class="glyphicon sort-icon" ng-show="sortKey=='MobileNo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                            <td>{{user.UserID}}</td>
                            <td>{{user.Name}}</td>
                            <td>{{user.EmailID}}</td>
                            <td>{{user.MobileNo}}</td>
                            <td>{{user.LoginID}}</td>
                            <td>{{user.UserTypeName}}</td>
                            <td>{{user.UserRoleName}}</td>
                            <td style="width:15%">{{user.ApplicationAccess}}</td>
                            <td><button type="button" class="btn btn-primary" ng-click="EditUser(user)">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
</div>
<!--</body>
</html>-->
<style>
    #scrollable-area {
        height: 310px;
        overflow-y: scroll;
    }

    table {
        width: 100%;
    }

    thead {
        background: #fff;
    }
</style>
