﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insurer Block</title>
   
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(document).ready(function () {

            $('ul.toptabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.toptabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })

        })
    </script>
</head>

<body>
    <div id="main_container">
        <div class="container">
            <div class="form_container">
                <div class="heading"> <img src="images/MaxBupa.png" width="120" height="50" /> <span></span></div>
                <div>



                    <div class="container">
                        <span style="font-size:large;font-family:Arial"><b>Application No: {{Insurer.ApplicationNo}}</b></span>
                        <ul class="toptabs">
                            <li class="tab-link current" data-tab="tab-1">Proposal Status</li>
                            <!--<li class="tab-link" data-tab="tab-2">Proposer & Plan Details</li>-->
                            <li class="tab-link" data-tab="tab-3">Insured Member Details</li>
                            <li class="tab-link" data-tab="tab-4">UnderWriting Details</li>
                            <!--<li class="tab-link" data-tab="tab-5">UnderWriting Details</li>-->
                            <li class="tab-link" data-tab="tab-6">Dispatch Details</li>
                            <li class="tab-link" data-tab="tab-7">Application History</li>
                        </ul>

                        <!--<div id="tab-1" class="tab-content current">
                            <ul class="remarks_block">
                                <li>
                                    <label>Proposer Name</label>
                                    <span>John Doe</span>
                                </li>
                                <li>
                                    <label>Phone</label>
                                    <span>9823457891</span>
                                </li>
                                <li>
                                    <label>Product</label>
                                    <span>Term</span>
                                </li>
                                <li>
                                    <label>Logged Premium</label>
                                    <span><i class="fa fa-inr" aria-hidden="true"></i> 4,390</span>
                                </li>
                                <li>
                                    <label>Next Premium Due Date</label>
                                    <span>26/10/2017</span>
                                </li>
                                <li>
                                    <label>TTD Sum Insured</label>
                                    <span>N/A</span>
                                </li>
                                <li>
                                    <label>Co-pay</label>
                                    <span>John Doe</span>
                                </li>
                                <li>
                                    <label>Communication Address</label>
                                    <span>H.no -424, 1st floor, orchid Island, Sec-51, Gurgaon Haryana - 122002</span>
                                </li>
                                <li>
                                    <label>Mobile</label>
                                    <span>9753798635</span>
                                </li>
                                <li>
                                    <label>Issued Premium (Without Taxes)</label>
                                    <span>N/A</span>
                                </li>
                                <li>
                                    <label>Loading Premium</label>
                                    <span>N/A</span>
                                </li>
                                <li>
                                    <label>Optional Benefit Of Acciedent Care</label>
                                    <span>N/A</span>
                                </li>
                                <li>
                                    <label>Criticare Option</label>
                                    <span>John Doe</span>
                                </li>
                                <li>
                                    <label>Optional Benefit of Hospital Cash</label>
                                    <span>N/A</span>
                                </li>


                            </ul>
                        </div>-->
                        <div id="tab-1" class="tab-content current">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Policy Number</th>
                                        <th>Proposal Status</th>
                                        <!--<th>Date</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.Proposal">
                                        <td>{{$index+1}}</td>
                                        <td>{{dataList['Policy Number']}}</td>
                                        <td>{{dataList['Proposal Status']}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Insured Name</th>
                                            <th>Insured DOB</th>
                                            <!--<th>Date</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.Insured">
                                            <td>{{$index+1}}</td>
                                            <td>{{dataList['Insured Name']}}</td>
                                            <td>{{dataList['Insured DOB']}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Comments</th>
                                            <th>Decision Date</th>
                                            <th>Excl</th>
                                            <th>Med Test</th>
                                            <th>UW Decision</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.UnderWriting">
                                            <td>{{$index+1}}</td>
                                            <td>{{dataList.Comments}}</td>
                                            <td>{{dataList['Decision Date']}}</td>
                                            <td>{{dataList.Excl}}</td>
                                            <td>{{dataList['Med Test']}}</td>
                                            <td>{{dataList['UW Decision']}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="tab-6" class="tab-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>POD Number</th>
                                            <th>Courier</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.Dispatch">
                                            <td>{{$index+1}}</td>
                                            <td>{{dataList['POD Number']}}</td>
                                            <td>{{dataList.Courier}}</td>
                                            <td>{{dataList.Date}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="tab-7" class="tab-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Value After</th>
                                            <th>Value Before</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dataList in Insurer.ApplicationNoInfo['Application History']">
                                    <td>{{$index+1}}</td>
                                            <td>{{dataList['Value After']}}</td>
                                            <td>{{dataList['Value Before']}}</td>
                                            <td>{{dataList.Date}}</td>
                                            <!--<td>New York</td>
                                            <td>USA</td>-->
                                        </tr>
                                    </tbody>
                                </table>
                                <!--<ul class="remarks_block">
            <li>
                <label>Proposer Name</label>
                <label>John Doe</label>
                <label>John Doe</label>
            </li>
            <li>
                <label>Phone</label>
                <span>9823457891</span>
            </li>
            <li>
                <label>Product</label>
                <span>Term</span>
            </li>
            <li>
                <label>Logged Premium</label>
                <span><i class="fa fa-inr" aria-hidden="true"></i> 4,390</span>
            </li>
            <li>
                <label>Next Premium Due Date</label>
                <span>26/10/2017</span>
            </li>
            <li>
                <label>TTD Sum Insured</label>
                <span>N/A</span>
            </li>
            <li>
                <label>Co-pay</label>
                <span>John Doe</span>
            </li>
            <li>
                <label>Communication Address</label>
                <span>H.no -424, 1st floor, orchid Island, Sec-51, Gurgaon Haryana - 122002</span>
            </li>
            <li>
                <label>Mobile</label>
                <span>9753798635</span>
            </li>
            <li>
                <label>Issued Premium (Without Taxes)</label>
                <span>N/A</span>
            </li>
            <li>
                <label>Loading Premium</label>
                <span>N/A</span>
            </li>
            <li>
                <label>Optional Benefit Of Acciedent Care</label>
                <span>N/A</span>
            </li>
            <li>
                <label>Criticare Option</label>
                <span>John Doe</span>
            </li>
            <li>
                <label>Optional Benefit of Hospital Cash</label>
                <span>N/A</span>
            </li>


        </ul>-->
                            </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
