﻿@charset "utf-8";
/* CSS Document */

body{background-color:#ebebeb; padding:0; margin:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {border:0 none;font:inherit;margin:0;padding:0;vertical-align:baseline;list-style:none; font-family: "Lato",sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border:1px solid #d9d9d9;}
table {border-collapse: collapse; border-spacing: 0; width: 100%;}
tr:nth-child(even){background-color: #f2f2f2}
tr { display: table-row; vertical-align: inherit; border-color: inherit;}
thead {display: table-header-group; vertical-align: middle; border-color: inherit;}
input, button, select, textarea{    overflow: hidden;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:10px 12px; border-top: 1px solid #d9d9d9;text-align: left;font-size: 14px;color: #878787;}
.insurer_box{border-radius: 6px; border: 1px solid #d9d9d9;padding: 10px;font-size: 15px;color: #4f5d64;width: 100%;box-sizing: border-box;}
button{ cursor:pointer;}
.clearfix{ clear:both;}
#main_container{ width:100%; margin:0 auto; }
.header{ background:#00a1cc; padding:5px 0 0 0;}
h1{ margin:0 auto; padding:0; text-align:center; color:#ffffff; font-size:27px; background:none; text-transform:uppercase; font-weight:300; border-bottom: 5px solid #006fa5;    display: table; line-height:59px; letter-spacing: 0.1em;}
.inner_block{ width:100%; margin:40px auto; background:#ffffff; padding:20px 0; box-sizing:border-box;  border-radius:4px;  display: table; box-shadow:1px 2px 5px -1px #a0a0a0;}
.container_block { box-sizing: border-box; margin: 0 auto; padding:0; width: 100%; margin-top: 20px; margin-bottom: 20px;}
.login_block{    width: auto; display: table-cell; vertical-align: middle; margin: 6px 0 0 0; text-align: right;}
.login_block label{     color: #ffffff;font-size: 14px;   padding: 0 13px 0 0;}
.login_block span{  width:40px;  border-radius: 100%;  vertical-align: middle; padding:5px; position:relative; }
.login_block span em.login_icon{ background:url(../images/sprite.png) no-repeat  -12px -80px; width:19px; height:21px; float: left;}
.user_list{position: absolute; width: 140px; border: 1px solid #ddd;box-shadow: 1px 2px 5px -1px #a0a0a0;right: 0;top:52px;background: #fff;border-radius: 4px; display:none; z-index: 99;}
ul.change_list{    color: #ffffff;font-size: 14px; display: table-cell;vertical-align: middle;padding: 0 13px 0 0; }
ul.change_list li{ margin:0; padding:10px; list-style:none; width:100%; font-size:13px; color:#5a5a5a; box-sizing:border-box;}
ul.change_list li:hover{ background:#f1f1f1;}
ul.change_list li label{ margin:0; padding:0 0 0 10px;font-size:13px; color:#5a5a5a;}
ul.change_list li em.edit_pro{ background:url(../images/sprite.png) -236px -5px no-repeat; width:14px; height:15px; float:left;}
ul.change_list li em.account{ background:url(../images/sprite.png) -237px -33px no-repeat; width:14px; height:15px; float:left;}
ul.change_list li em.setting{ background:url(../images/sprite.png) -236px -64px no-repeat; width:14px; height:15px; float:left;}
ul.change_list li em.logout{ background:url(../images/sprite.png) -236px -96px no-repeat; width:14px; height:15px; float:left;}
.wrapper{width:100%;}
.topheader{ background:#00a1cc; width:100%;}
.inner_container{ width:90%; max-width:1200px; margin: 0 auto;  display:table;}
.header{ background:#00a1cc; padding:5px 0; height:63px;}
.logo{ background:url(../images/sprite.png) no-repeat -9px -7px; width:201px; height:54px;     display: inline-block; vertical-align: middle;}
.form_container{ background:#ffffff; border:1px solid #ddd;  /*box-shadow:1px 2px 5px -1px #a0a0a0;*/ width:100%; border-radius: 4px; padding:20px; box-sizing:border-box; margin-bottom: 5px;}
.insurer_block{ background:#ffffff; border:1px solid #ddd;  box-shadow:1px 2px 5px -1px #a0a0a0; width:100%; border-radius: 4px; padding:0; box-sizing:border-box; margin-bottom: 20px;}
.insurer_block_inner{ padding:20px; width:100%; box-sizing:border-box;}

ul.formbox{ width:100%; display:table; margin:0;     padding: 0 0 20px 0;}
ul.formbox li{ margin:0; padding:0 10px 0 0; display:table-cell; font-size:14px; color:#aeaeae; list-style:none; width:50%; box-sizing: border-box;}
ul.formbox li label{ margin:0; padding:0; display:block; font-size:16px; color:#717171; list-style:none; text-align:left;}
ul.formbox li span{ display:block;  margin:0;  padding: 10px 0 0; position: relative;}
ul.formbox li span em.error_mark{background:url(../images/sprite.png) no-repeat -54px -86px;width: 10px;height:11px; float:left; position:absolute; right:11px; top:22px;}
ul.formbox li span em.right_mark{background:url(../images/sprite.png) no-repeat -85px -86px;width: 13px;height:11px; float:left; position:absolute; right:11px; top:22px;}
ul.formbox li span input[type="text"]{border-radius:6px; border:1px solid #d9d9d9; padding:10px; font-size:15px; color:#4f5d64;  width: 100%; box-sizing:border-box; position:relative; }
ul.formbox li span select{border-radius:6px; border:1px solid #d9d9d9; padding:10px; font-size:15px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
ul.formbox li:last-child{padding-right:0;}
ul.formbox li.sml_field{ width:25%;}
.savebutton{border: 1px solid #0395dc; border-radius: 4px; color: #ffffff; font-size:17px; min-width:140px; padding:8px 5px; background:#039be5; text-align:center;min-width:100px; box-shadow: 1px 2px 5px -1px #a0a0a0;}
ul.formbox li span select.error_fd{border:1px solid #e84234; color:#e84234;}	
ul.formbox li span input[type="text"].error_fd{border:1px solid #e84234; color:#e84234;}
ul.formbox li span select.submit_fd{border:1px solid #32ab52; color:#e84234;}	
ul.formbox li span input[type="text"].submit_fd{border:1px solid #32ab52; color:#e84234;}
td span{ display:block;}
td em.view_icon{background:url(../images/sprite.png) no-repeat -115px -86px;width:20px;height:12px; float:left;  margin: 0 8px 0 0; cursor: pointer; }
td em.cancel_icon{background:url(../images/sprite.png) no-repeat -54px -86px;width:13px;height:12px; float:left;  cursor: pointer;}
td em.download_icon{background:url(../images/sprite.png) no-repeat -190px -81px;width:14px;height: 16px;float: left; cursor: pointer;}
em.pdf_icon{background:url(../images/sprite.png) no-repeat -51px -107px;    width: 15px;height: 17px; float:right;cursor: pointer; margin:0 0 0 12px;}
.table_responsive{ overflow: auto; width:100%; margin: 0 0 20px 0;}	
.th_bg{ background:#eaeaea; color:#878787;}
.calendar_icon{background:url(../images/sprite.png) no-repeat -153px -76px;width:23px;height:23px; float:left;  margin:0; cursor: pointer; position:absolute;top:17px;right: 12px;}
.heading{ width:100%; margin:0; padding:0 0 15px 0; display: table;}
.band_heading{ display: table; background:#f05050; padding:20px; width:100%; box-sizing:border-box; color:#fff; border-radius: 4px 4px 0 0;}
.band_heading h2{ color:#ffffff;}
.greenband{ background:#10c469;}
.redband{ background:#f05050;}
.orange{ background:#ffbd4a;}
h2{ padding:0; margin:0; font-size:20px; color:#616f77; font-weight:500; display: table-cell; vertical-align: middle;}
.greyoutbutton{border: 1px solid #999999; border-radius: 4px; color: #ffffff; font-size:14px; min-width:140px; padding:8px 5px; background:#b0b4be; text-align:center;min-width:100px; box-shadow: 1px 2px 5px -1px #a0a0a0;  display: table-cell; margin:0;     float: right;}
.view_detail{border:1px solid #0395dc; border-radius: 4px; color: #ffffff; font-size:14px; min-width:140px; padding:8px 5px; background:#039be5; text-align:center;min-width:100px; box-shadow: 1px 2px 5px -1px #a0a0a0; }
.pagination_block{ width:100%; display:block; margin:15px 0 0 0; text-align:right;}
ul.pagination { display: inline-block; padding: 0;  margin: 0;}
ul.pagination li {display: inline;}
ul.pagination li a {color:#656464; float: left; padding: 8px 16px; text-decoration: none; transition: background-color .3s; border: 1px solid #ddd; font-size:12px;}
ul.pagination li a.active { background-color: #00a1cc; color: #ffffff; border: 1px solid #0296be;}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
ul.pagination li a.radiusblock{border-radius:4px 0 0 4px;}
ul.pagination li a.radiusblocklast{border-radius: 0 4px 4px 0;}
.breadcrum_strip{ width:100%;border-radius: 4px; background: #ffffff; margin:0 0 20px 0; display: table;}
.mark_health_ex_button{ background:#e05d6f; color:#ffffff; font-size:15px; border:0; display:table-cell;border-radius: 0 4px 4px 0; padding:10px;}
ul.breadcrum_hd{    display: table-cell; margin: 0; padding: 8px 0 10px 14px; width: 88.11%; box-sizing: border-box; vertical-align: middle;}
ul.breadcrum_hd li{     font-size: 13px;color: #8f8f8f;list-style: none;font-weight: 400;display: inline-block;padding: 0 10px 0 0;margin: 0;vertical-align: middle;}
ul.breadcrum_hd li a{color:#00a1cc; text-decoration:none;}
ul.uploadbox{ width:100%; display:table; margin:0; padding:0; border:1px solid #e0dede;}
ul.uploadbox li{margin: 0;padding:10px;display: table-cell;font-size: 14px;color: #aeaeae;list-style: none; width: 25%;box-sizing: border-box;vertical-align: top;     border-right: 1px solid #e0dede;}
ul.uploadbox li label{margin: 0; padding:0 10px 0 0;display: table-cell;font-size: 14px;color: #777777;list-style: none;text-align: left;/*width: 40%;*/}
ul.uploadbox li span{display: table-cell;margin: 0; padding: 0;}
ul.uploadbox li span em.listing_data{ border-bottom: none; display: block; background: none; font-style:normal;}
ul.uploadbox li span input[type="text"]{border-radius:6px; border:1px solid #b1b1b1; padding:5px; font-size:13px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
ul.uploadbox li span select{border-radius:6px; border:1px solid #b1b1b1; padding:5px; font-size:13px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
ul.uploadbox li:last-child{border-right:none;}
.insurer_logo { background: #ffffff; font-size: 15px; border: 0; display: table-cell; border-radius: 0 4px 4px 0; padding: 10px;}

ul.uploadocument{width: 100%; display: inline-block; margin:0 0 30px 0; padding: 0;border: 1px solid #e0dede;}
ul.uploadocument li{margin: 0; padding: 10px; display: table;font-size: 14px; color: #aeaeae; list-style: none;width: 100%;box-sizing: border-box;border-right: 0;
    border-bottom: 1px solid #e0dede;}
ul.uploadocument li label{ margin: 0;padding: 0;display: table-cell;font-size: 14px;color: #777777;/* width: 20%; */ vertical-align: middle;}
ul.uploadocument li span{    display: table-cell;margin: 0;padding: 0;width: 80%;}
ul.uploadocument li span div{ width:auto; display:table; padding:0; margin:10px 0;}
ul.uploadocument li span div label input[type="radio"]{ margin:0 10px 0 0; padding:0; width:11px; height:11px;}
ul.uploadocument li span div em{ padding:0 30px 0 0;}
ul.uploadocument li span a{ color:#0296be; text-decoration:none;}
ul.uploadocument li span input[type="text"]{border-radius:6px; border:1px solid #b1b1b1; padding:10px; font-size:14px; color:#4f5d64;   box-sizing:border-box; }
ul.uploadocument li span select{border-radius:6px; border:1px solid #b1b1b1; padding:5px; font-size:13px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
ul.uploadocument li:last-child{border-right:none;}
h3{margin: 0;padding: 0 0 10px 0;font-size: 15px;color: #0296be;display: table-cell;}
.pdf_button{border: 1px solid #0395dc; border-radius: 4px; color: #ffffff; font-size:17px; min-width:140px; padding:8px 5px; background:#039be5; text-align:center;min-width:100px; box-shadow: 1px 2px 5px -1px #a0a0a0; margin-left:10px;}
.reject_button{border:1px solid #cecece; border-radius: 4px; color: #ffffff; font-size:17px; min-width:140px; padding:8px 5px; background:#c5c5c5; text-align:center;min-width:100px; box-shadow:1px 2px 5px -1px #a0a0a0; margin-left:10px;}
.result_block{ border-radius:6px; margin:0 0 20px 0; padding:10px; width:100%; box-sizing:border-box; }
.result_block .form_block{ display:table-cell; width:100%; vertical-align:middle; }
.result_block .button_block{ display:table-cell; width:10%;   vertical-align: bottom;}

.result_block ul.planinfobox{ width:100%; display:table; margin:0 0 20px 0; padding:0;}
.result_block ul.planinfobox li{ margin:0; padding:0 10px 0 0; display:table-cell; font-size:14px; color:#aeaeae; list-style:none; width:25%; box-sizing: border-box;}
.result_block ul.planinfobox li:last-child{padding:0;}
.result_block ul.planinfobox li label{ margin:0; padding:0; display:block; font-size:14px; color:#aeaeae; list-style:none; text-align:left;}
.result_block ul.planinfobox li span{ display:block;  margin:0;  padding: 10px 0 0;}
.result_block ul.planinfobox li span input[type="text"]{border-radius:6px; border:1px solid #b1b1b1; padding:10px; font-size:14px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
.result_block ul.planinfobox li div input[type="text"]{border-radius:6px; border:1px solid #b1b1b1; padding:10px; font-size:14px; color:#4f5d64;  width: 100%; box-sizing:border-box; margin: 10px 0 0 0;}
.result_block ul.planinfobox li input[type=radio]{padding:0; margin:0;}
.result_block ul.planinfobox li input[type=checkbox]{padding:0; margin:0 10px 0 0;}
.result_block ul.planinfobox li div.hidden_fd{width: 100%;border: none;display: table;margin: 10px 0 0 20px;}
.result_block ul.planinfobox li div.hidden_fd .condition_box {display: table-cell; vertical-align: middle; width: 10%;}
.result_block ul.planinfobox li div.hidden_fd input{ vertical-align:middle;}
.result_block ul.planinfobox li div.hidden_fd input[type="text"]{    border-radius: 6px; border: 1px solid #b1b1b1;padding: 10px;font-size: 14px;color: #4f5d64; width:100%;
box-sizing: border-box; margin:0;}
.result_block ul.planinfobox li span textarea{border-radius: 6px;border: 1px solid #b1b1b1; padding: 10px;font-size: 14px;color: #4f5d64;width: 100%;box-sizing: border-box;overflow: hidden; height: 38px;}
.result_block ul.planinfobox li span textarea.textarea_block{border-radius: 6px; border: 1px solid #b1b1b1; padding: 10px;color: #4f5d64;width: 50%;box-sizing: border-box;height: 80px;
 overflow-y: auto; overflow-x: hidden;}
.result_block ul.planinfobox li span select{border-radius:6px; border:1px solid #b1b1b1; padding:10px; font-size:13px; color:#4f5d64;  width: 100%; box-sizing:border-box; }
.result_block ul.planinfobox li label.inputfd{margin: 0; padding: 0;width: 198px;display:inline-block;font-size: 14px; color: #aeaeae;list-style: none; text-align: left;}
.result_block ul.planinfobox li label.inputfd.wAuto{width: auto;}
.result_block ul.planinfobox li label.inputfd em{font-size:11px; color:#000000;}
.result_block ul.planinfobox li input[type="radio"]{ margin:0 10px 0 0; padding:0; vertical-align:middle;}
em.activered{ text-align:center; background:#f05050; border-radius:50%; height:15px; width:15px; display:inline-block; }
em.activegreen{ text-align:center; background:#10c469; border-radius:50%; height:15px; width:15px; display:inline-block; }
em.activeorange{ text-align:center; background:#ffbd4a; border-radius:50%; height:15px; width:15px; display:inline-block; }
.add_button{font-size: 22px;color: #fff;font-weight:600;text-align: center; display: table-cell; vertical-align:middle; width: 30px; height:30px;border-radius:50%;background:#039be5;}


.result_block ul.planinfobox li div.inpInline{ display:inline-block;margin-left: 15px;width: 50%;}
.result_block ul.planinfobox li div.inpInline.noMargn{margin-left: 0;}
.result_block ul.planinfobox li div.inpInline.noMargn input{margin: 0; border-radius: 6px; border: 1px solid #b1b1b1; padding: 5px; overflow: hidden;}

/*Datepicker Start*/ 
ul.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color:#f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}
ul.dropdown-menu li{  box-sizing: border-box;
    color: #aeaeae;
    display:block;
    font-size: 14px;
    list-style: outside none none;
    margin: 0; padding:0; width:100%;
   }
ul.dropdown-menu li.uib-button-bar { margin:10px 0 0 0;}
ul.dropdown-menu li span{padding: 0;}
ul.dropdown-menu.pull-right {
    right: 0;
    left: auto
}
ul.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color:#f5f5f5;
}
ul.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}
ul.dropdown-menu>li>a:hover,
ul.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5
}
ul.dropdown-menu>.active>a,
ul.dropdown-menu>.active>a:hover,
ul.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca
}
ul.dropdown-menu>.disabled>a,
ul.dropdown-menu>.disabled>a:hover,
ul.dropdown-menu>.disabled>a:focus {
    color: #999
}
ul.dropdown-menu>.disabled>a:hover,
ul.dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed
}
.open>ul.dropdown-menu {
    display: block
}
.open>a {
    outline: 0
}
.dropdown-menu-right {
    left: auto;
    right: 0
}
.dropdown-menu-left {
    left: 0;
    right: auto
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #999
}
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990
}

.blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
    text-align: right
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
    content: ''
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
    content: '\00A0 \2014'
}
blockquote:before,
blockquote:after {
    content: ""
}
.pull-right { float: none!important; border: none;  background: none;}
.pull-left{ float: none!important; border: none;  background: none;}

.login_container{background:#ffffff; border-radius:5px; width:450px; margin:0 auto; margin-top:5%; box-shadow: 1px 2px 5px -1px #a0a0a0;}
.login_heading{background:#00a1cc; text-align:center; font-size:30px; padding:25px 0; color:#ffffff; border-radius:5px 5px 0 0;font-weight:400;}
.login_inner_box{ width:100%; padding:30px 30px; box-sizing:border-box;} 
.login_button{margin:0 auto; text-align: center;}
ul.logininput{width:100%; margin:0; padding:0;}
ul.logininput li{width:100%; margin:0 0 25px 0; padding:0; list-style:none; border-radius:4px; border:1px solid #dbdce6; display:table; box-shadow: 1px 2px 5px -1px #a0a0a0;     box-shadow: -1px 0px 6px -1px #a0a0a0;}
ul.logininput li:last-child{ margin:0 0 10px 0;}
ul.logininput li label{display:table-cell; background:#1cc1ec; padding: 15px; width:10%; border-radius: 4px 0 0 4px;}
ul.logininput li label em.user_icon{ background:url(../images/sprite.png) no-repeat -9px -138px; width:31px; height:31px; display:inline-block; }
ul.logininput li label em.password_icon{ background:url(../images/sprite.png) no-repeat -56px -138px; width:31px; height:31px; display:inline-block; }
ul.logininput li font{display:table-cell;background: #effaff;font-size: 15px;text-transform:uppercase;color: #0999bf;vertical-align: middle;text-align:center;     font-weight:400;}
ul.logininput li span{display:table-cell; background:#ffffff;vertical-align: middle;border-radius: 0 4px 4px 0;}
ul.logininput li span input[type="text"]{border: none;background: #ffffff;padding: 10px;margin: 0;width: 100%;box-sizing: border-box; font-size:16px; color:#5d6068;}
ul.logininput li span input[type="password"]{ border: none;background: #ffffff;padding: 10px;margin:0;width:100%;box-sizing:border-box;font-size:16px;color:#5d6068;}
.login_inner_box p{text-align: right;font-size: 14px;color: #1e1e1e;margin:16px 0 25px 0;padding: 0;}
.login_inner_box p a{color: #1e1e1e; text-decoration:none;}
.login_inner_box input[type="submit"]{background: #00a1cc;color: #ffffff;text-align: center;font-size: 22px;width:180px; padding:10px 0; border: 0;border-radius:5px; box-sizing: border-box;}
.arrow_box {position: relative;	background: #fff; right: -118px;/*border: 1px solid #dddddd;*/}
.arrow_box:after, .arrow_box:before {bottom: 100%;left: 50%;border: solid transparent;content: " ";	height: 0;	width: 0;	position: absolute;	pointer-events: none;}
.arrow_box:after {	border-color: rgba(255, 255, 255, 0);	border-bottom-color: #fff;	border-width: 10px;	margin-left: -10px;}
.arrow_box:before {	border-color: rgba(221, 221, 221, 0);	border-bottom-color: #dddddd;	border-width: 11px;	margin-left: -11px;}
.fade_container{position:relative;}
.loader_gif{color: #ffffff;z-index: 99999;position: absolute;left: 47%;background: #fff;border-radius: 5px; top: 200px;}
.fade_bg {background:url(../images/trans_bg.png)repeat;  width: 100%;  position: fixed;  height: 100%;  z-index: 9; }
.response_block{padding:10px;border:1px solid #ddd;}
.response_subhd{margin: 0; padding: 10px 0 10px 0;font-size: 15px; color: #0296be;display: block;}
.res_subhd {color: #444444; margin: 0; padding: 0 0 10px 0; font-size: 15px; display: block;}
.response_tophd {background: #00a1cc;box-shadow: 1px 2px 5px -1px #a0a0a0;width: 100%;border-radius: 4px;padding: 10px 0;box-sizing: border-box;margin-bottom: 20px;font-size: 22px;
text-align: center;color: #fff;}
.insurer_resp_block{    display: table;width: 100%;cursor: pointer; border: 1px solid #ddd; border-radius: 5px; padding: 5px; box-sizing: border-box;}
.insurer_resp_block span.heading_text{display: table-cell; text-align:left; width: 50%; font-weight: 600; font-size: 16px;vertical-align: middle; color:#616f77;}
.insurer_resp_block span.expand{display:table-cell;text-align: right;width: 50%;font-weight: 600; font-size: 22px;}
.expand_block{padding:5px;}
.insurer_resp_block span.expand em{border-radius: 100%; width: 30px; height: 30px;background: #ddd;padding: 0;cursor: pointer;display: inline-block;text-align: center;text-indent: 0px; line-height: 29px;}
.insurer_resp_block span.expand em.info_color{ background:#ffbd4a; color:#fff;}
.insurer_resp_block span.expand em.accept_color{ background:#10c469; color:#fff;}
.insurer_resp_block span.expand em.rejected_color{ background:#f05050; color:#fff;}

.expan_tab{    display: table;width: 100%;padding: 0;}

.animate-show-hide.ng-hide {
  opacity: 0 !important;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s !important;
}

.inpInline textarea{ border-radius: 6px; border: 1px solid #b1b1b1;padding: 10px;color: #4f5d64;  width:100%;box-sizing:border-box;height:50px; overflow-y: auto;overflow-x: hidden;}
.submit_mess{    font-size: 14px; color: #10c469; display: block; padding: 0 0 8px 0;}
.logout_button{    background: #76c6dc;border: 1px solid #079cc3;text-align: center;padding: 3px 10px;color: #fff;font-size: 13px;border-radius: 3px;}