﻿<style>
    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: left;
    }
</style>
<table>
    <tr>
        <td>Product</td>
        <td>:</td>
        <td>
            <select ng-model="Selected.Product" ng-options="Product.label for Product in ProductList track by Product.id" ng-change="GetProductList(0,2)">
                <option value="">Select</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Supplier</td> 
        <td>:</td>
        <td>
            <div ng-if="SupplierList.length>0" ng-dropdown-multiselect="" options="SupplierList"
                selected-model="Selected.Supplier" extra-settings="SupplierSettings"></div>
            <!--<select ng-model="Selected.Supplier" ng-options="Supplier.label for Supplier in SupplierList track by Supplier.id">
                <option value="">Select</option>
            </select>-->
        </td>
    </tr>
    <tr>
        <td>STP</td>
        <td>:</td>
        <td>
           
            <div ng-repeat="a in CommonData.STP">
                <div class="action-checkbox">
                    <input id="{{a.id}}" type="checkbox" value="{{a.id}}" ng-model="a.Checked" ng-change="toggleSelectionSTP(a,'STP')" />
                    <label for="{{a.label}}"></label>
                    {{a.label}}
                </div>
            </div>

            <!--<select ng-model="Selected.STP" ng-options="a.label for a in CommonData.STP track by a.id">
                <option value="">Select</option>
            </select>-->
            
        </td>
    </tr>
    <tr>
        <td>Portability</td>
        <td>:</td>
        <td>
            <div ng-repeat="a in CommonData.Portability">
                <div class="action-checkbox">
                    <input id="{{a.id}}" type="checkbox" value="{{a.id}}" ng-model="a.Checked" ng-change="toggleSelectionSTP(a,'POR')" />
                    <label for="{{a.label}}"></label>
                    {{a.label}}
                </div>
            </div>
            <!--<select ng-model="Selected.Portability" ng-options="a.label for a in CommonData.Portability track by a.id">
                <option value="">Select</option>
            </select>-->
        </td>
    </tr>
    <tr>
        <td>Medical Or Inspection</td>
        <td>:</td>
        <td>
            <div ng-repeat="a in CommonData.MedicalOrInspection">
                <div class="action-checkbox">
                    <input id="{{a.id}}" type="checkbox" value="{{a.id}}" ng-model="a.Checked" ng-change="toggleSelectionSTP(a,'MED')" />
                    <label for="{{a.label}}"></label>
                    {{a.label}}
                </div>
            </div>
            <!--<select ng-model="Selected.MedicalOrInspection" ng-options="a.label for a in CommonData.MedicalOrInspection track by a.id">
                <option value="">Select</option>
            </select>-->         
        </td>
    </tr>
    <!--<tr>
        <td>Status</td>
        <td>:</td>
        <td>
            <select ng-model="Selected.Status" ng-options="Status.label for Status in StatusList track by Status.id" ng-change="GetProductList(0,4)">
                <option value="">Select</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Sub Status</td>
        <td>:</td>
        <td>
            <select ng-model="Selected.SubStatus" ng-options="SubStatus.label for SubStatus in SubStatusList track by SubStatus.id">
                <option value="">Select</option>
            </select>
        </td>
    </tr>-->



    <tr>
        <td>Document Category</td>
        <td>:</td>
        <td>
            <select ng-model="Selected.DocCategory" ng-options="DocCategory.label for DocCategory in DocCategoryList track by DocCategory.id">
                <option value="">Select</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Document</td>
        <td>:</td>
        <td>
            <div style="height:200px;overflow:scroll">
                <div ng-repeat="a in DocumentList">
                    <div class="action-checkbox">
                        <input id="{{a.id}}" type="checkbox" value="{{a.id}}" ng-checked="Selected.Document.indexOf(a.id) > -1" ng-click="toggleSelectionDocument(a.id)" />
                        <label for="{{a.label}}"></label>
                        {{a.label}}
                    </div>
                </div>
            </div>
            <!--<select ng-model="Selected.Document" ng-options="Document.label for Document in DocumentList track by Document.id">
                <option value="">Select</option>
            </select>-->
           
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Save" ng-click="InsertDocumentMapping()" />
        </td>
        <td></td>
    </tr>
</table>