﻿<style>
    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: left;
    }
</style>
<table>
    <tr>
        <td>Product</td>
        <td>:</td>
        <td>
            <select ng-model="Selected.Product" ng-options="Product.label for Product in ProductList track by Product.id" ng-change="GetProductList(0,2)">
                <option value="">Select</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Supplier</td>
        <td>:</td>
        <td>
            <!--<div ng-if="SupplierList.length>0" ng-dropdown-multiselect="" options="SupplierList"
                 selected-model="Selected.Supplier" extra-settings="SupplierSettings"></div>-->
            <select ng-model="Selected.SelectedSupplier" ng-options="Supplier.label for Supplier in SupplierList track by Supplier.id">
                <option value="">Select</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="3">    
            <input type="button" value="Search" ng-click="GetDocumentMasterDetails()" />   
        </td>
    </tr>
    <tr ng-if="DocumentMasterDetails.length>0">
        <td colspan="3">
            <table>
                <tr>
                    <!--<th>Status Name</th>-->
                    <th>STP</th>
                    <th>Portability</th>
                    <th>MedicalOrInspection</th>
                    <th>Document Category</th>
                    <th>Documents</th>
                    <th>Edit</th>
                </tr>
                <tr ng-repeat="doc in DocumentMasterDetails">
                    <!--<td>{{doc.StatusName}}</td>-->
                    <td>{{doc.STP}}</td>
                    <td>{{doc.Portability}}</td>
                    <td>{{doc.MedicalOrInspection}}</td>
                    <td>{{doc.Documentcategory}}</td>
                    <td>{{doc.Documents}}</td>
                    <td><a href="/index.html#/DocumentMappingMaster/Update/{{UserID}}/{{doc.GroupID}}">Edit</a></td>
                </tr>
            </table>
        </td>
    </tr>
  
   
</table>