@charset "utf-8";
/* CSS Document */

@media screen and (max-width:767px) {
.inner_container{width:95%; display:inline-block; margin-left:2%;}
.result_block ul.planinfobox li{display: inline-block; width:100%; padding:0; margin: 0 0 10px 0;}
.result_block ul.planinfobox li span{ padding:0;}
.form_container{padding: 10px;}
.result_block ul.planinfobox li label{ margin:0 0 3px 0;}
ul.breadcrum_hd{ padding-left:10px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ font-size:14px;}
.popup{ padding:10px; width:80%;}
.logo{-webkit-transform: scale(0.7);position: absolute; left:-18px;}
.result_block ul.planinfobox li.search_block { width: 100%;}
 }

