﻿<div class="header"> <h1>Call transfer | {{LeadID}} </h1></div>
<div class="container_block">

    <div class="inner_container">
        <div class="inner_block">
            <div class="top_header">
                <h3>Assign Case</h3>
                <ul class="actionlist">
                    <li><span class="calltransfer"></span> <label>Call Transfer</label></li>
                    <li><span class="callconference"></span><label>Unhold</label></li>
                    <li><span class="callunhold"></span><label>Call Conferance</label></li>
                    <li><span class="calldisconnect"></span><label>Disconnect</label></li>
                    <li><span class="refresh"></span><label>Refresh</label></li>
                  
                    
                </ul>
            </div>


            <div class="document_uploadtable">
                <ul class="heading">
                    <li>Agent Name(ID)</li>
                    <li>Group</li>
                    <li>Product</li>
                    <li>Process Type</li>
                    <li>Lead ID</li>
                    <li>Status(Substatus)</li>
                    <li>Dialer Status</li>
                    <li>Action <em class="refresh" ng-click="Refresh(1)"></em></li>
                </ul>

                <ul class="document_grid" ng-repeat="agent in LeadAgentList">
                    <li>{{agent.AgentName}}</li>
                    <li>{{agent.AgentGroupName}}</li>
                    <li>{{agent.ProductName}}</li>
                    <li>{{agent.LeadProcessType}}</li>
                    <li>{{agent.LeadID}}</li>
                    <li>{{agent.LeadStatus}}</li>
                    <li class="iconsblock">
                          <em class="activered" ng-if=" ! agent.CallTransfer"></em>
                        <em class="activegreen" ng-if="agent.CallTransfer"></em>
                        <!--DialerStatus-->
                    </li>
                    <li class="iconsblock">
                        <div class="iconcontainer" ng-if=" EmployeeID != agent.AgentEmpID">
                            <em class="calltransfer" title="Call Transfer" ng-if="agent.CallTransfer" ng-click="fnCallTransfer(agent)"></em>
                            <em class="callconference" title="Unhold" ng-if="agent.Unhold" ng-click="fnUnhold(agent)"></em>
                            <em class="callunhold" title="Call Conferance" ng-if="agent.CallConferance" ng-click="fnCallConferance(agent)"></em>
                            <em class="calldisconnect" title="Disconnect" ng-if="agent.DisconnectCall" ng-click="fnDisconnectCall(agent)"></em>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="search_block">
                <div class="form_block">
                    <ul class="formbox">
                        <li>
                            <label>Process Type</label>
                            <span>
                                <select ng-model="Selected.ProcessType" ng-options="Process.text for Process in ProcessType track by Process.value" ng-change="BindProductList()">

                                </select>
                            </span>
                        </li>
                        <li>
                            <label>Product</label>
                            <span>
                                <select ng-model="Selected.Product" ng-options="Product.ProductName for Product in ProductList track by Product.ProductID" ng-change="BindGroupList()"></select>
                            </span>
                        </li>
                        <li>
                            <label>Group</label>
                            
                                <span>
                                    <select ng-model="Selected.Group" ng-options="Group.GroupName for Group in GroupList track by Group.GroupID"></select>
                                </span>
                           
                        </li>
                        <li>
                            <label>Agent</label>
                            <span>
                                <!--<input name="" type="text" ng-model="Selected.AgentNameEmpID" ng-disabled="!(Selected.ProcessType.value>0 || Selected.Product.ProductID>0)" />-->
                                <input type="text" ng-model="Selected.SearAgentDetails"
                                       placeholder="Please Enter" typeahead-show-hint="true"
                                       typeahead-editable="true"
                                       typeahead-on-select="onSelect($item, $model, $label)"
                                       uib-typeahead="agent as agent.AgentName  for agent in GetSearchAgentList($viewValue)"
                                       typeahead-min-length="2" typeahead-editable="true"
                                       ng-disabled="!(Selected.ProcessType.value>=0 && Selected.Product.ProductID>0)" />
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="button_block"><button type="button" class="savebutton" ng-click="SearchAgent()">Search</button></div>
            </div>


            <div class="document_uploadtable" ng-if="SearchAgentList.length>0">
                <ul class="heading">
                    <li>Agent Name (ID)</li>
                    <li>Group</li>

                    <li>Dialer Status</li>
                    <li>Action<em class="refresh" ng-click="Refresh(1)"></em></li>
                </ul>

                <ul class="document_grid" ng-repeat="agent in SearchAgentList">
                    <li>{{agent.AgentName}}</li>
                    <li>{{agent.AgentGroupName}}</li>

                    <li class="iconsblock">
                        <a><em class="activered" ng-if=" ! agent.CallTransfer"></em></a>
                        <em class="activegreen" ng-if="agent.CallTransfer"></em>
                    </li>
                    <li class="iconsblock">
                        <div class="iconcontainer" ng-if="EmployeeID != agent.AgentEmpID">
                            <em class="calltransfer" title="Call Transfer" ng-if="agent.CallTransfer" ng-click="fnCallTransfer(agent)"></em>
                            <em class="callconference" title="Unhold" ng-if="agent.Unhold" ng-click="fnUnhold(agent)"></em>
                            <em class="callunhold" title="Call Conferance" ng-if="agent.CallConferance" ng-click="fnCallConferance(agent)"></em>
                            <em class="calldisconnect" title="Disconnect" ng-if="agent.DisconnectCall" ng-click="fnDisconnectCall(agent)"></em>
                        </div>
                    </li>
                </ul>




            </div>



        </div>
    </div>
</div>