﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insurer Block</title>
   
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(document).ready(function () {

            $('ul.toptabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.toptabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })

        })
    </script>
    <style>
        .loaderImg {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -(50/2)px;
            margin-top: -(50/2)px;
        }
    </style>
</head>

<body>
    <div ng-hide="LoadingImg">
        <img class="loaderImg" src="../images/loader.gif" style="width:50px;height:50px" />
    </div>
    <div ng-show="LoadingImg" id="main_container1">

        <div class="form_container">
            <div class="heading"> <img src="images/apollo.gif" width="120" height="50" /> <span></span></div>
            <div>



                <div class="">
                    <div class="col-md-12">
                        <span style="font-size:large;font-family:Arial" class="pull-right"> <span ng-if="!statusLd">Please Wait fetching from Live.... <img src="../images/loader.gif" style="width:20px" /></span> <span ng-if="statusLd">{{Status}}</span> </span>
                    </div><br />
                    <div class="col-md-12">
                        <span style="font-size:large;font-family:Arial"><b>Application No: {{Insurer.ApplicationNo}}</b></span>
                        <span style="font-size:large;font-family:Arial" class="pull-right"><b>Last Retrieved On: {{Insurer.CreatedOn | date:'medium'}}</b></span>
                    </div>
                        <ul class="toptabs">
                            <li class="tab-link current" data-tab="tab-1">Policy Schedule</li>
                            <li class="tab-link" data-tab="tab-3">Documents</li>
                        </ul>

                        <div id="tab-1" class="tab-content current">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Policy Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.PolicySchedule">
                                        <td>{{$index+1}}</td>
                                        <td>{{dataList.PolicyNo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Documents</th>
                                            <th>Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.Documents">
                                            <td>{{dataList.DocumentName}}</td>
                                            <td>
                                                <a class="btn btn-primary" target="_blank" href="{{dataList.DocumentURL}}" downloads=downloads>
                                                    Download
                                                </a>
                                            </td>
                                        </tr>
                                        <!--<tr >
                            <td>Policy Schedule Document</td>
                            <td>
                                <a class="btn btn-primary" href="{{Insurer.ApplicationNoInfo.Documents[0].Policy_Schedule_Doc_URL}}" download>
                                    Download
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>E Card Document</td>
                            <td>
                                <a class="btn btn-primary"  href="{{Insurer.ApplicationNoInfo.Documents[1].E_Card_Doc}}" download>
                                    Download
                                </a>
                            </td>
                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        </span>
                    </div>

            </div>
        </div>
    </div>
</body>
</html>
