﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insurer Block</title>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(document).ready(function () {

            $('ul.toptabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.toptabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })

        })
    </script>
    <style>
        .loaderImg {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -(50/2)px;
            margin-top: -(50/2)px;
        }
    </style>
</head>

<body>
    <div ng-hide="LoadingImg">
        <img class="loaderImg" src="../images/loader.gif" style="width:50px;height:50px" />
    </div>
    <div ng-show="LoadingImg" id="main_container1">

        <div class="form_container">
            <div class="heading"> <img src="images/MAX_logo.png" width="120" height="50" /> <span></span></div>
            <div>


                <div class="">
                    <div class="col-md-12">
                        <span style="font-size:large;font-family:Arial" class="pull-right"> <span ng-if="!statusLd">Please Wait fetching from Live.... <img src="../images/loader.gif" style="width:20px" /></span> <span ng-if="statusLd">{{Status}}</span> </span>
                    </div><br />
                    <div class="col-md-12">
                        <span style="font-size:large;font-family:Arial"><b>Application No: {{Insurer.ApplicationNo}}</b></span>
                        <span style="font-size:large;font-family:Arial" class="pull-right"><b>Last Retrieved On: {{Insurer.CreatedOn | date:'medium'}}</b></span>
                        </div>
                        <ul class="toptabs">
                            <li class="tab-link current" data-tab="tab-1">Proposal Status</li>
                            <li class="tab-link" data-tab="tab-3">CallDetails</li>

                        </ul>

                        <div id="tab-1" class="tab-content current">
                            <!--<table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Status</th>
                        <th>LabName</th>
                        <th>PreferredTestTime</th>
                        <th>ProposalNo</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.Proposal">
                        <td>{{$index+1}}</td>
                        <td>{{dataList['Policy Number']}}</td>
                        <td>{{dataList['Proposal Status']}}</td>
                        <td>{{dataList.PreferredTestTime}}</td>
                        <td>{{dataList.ProposalNo}}</td>
                    </tr>
                </tbody>
            </table>-->
                            <!--<ul class="new_ulcls">
                <li><label>Customer_ID</label><span>123131</span></li>
                <li><label>Customer_ID</label><span>123131</span></li>
                <li><label>Customer_ID</label><span>123131</span></li>
                <li><label>Customer_ID</label><span>123131</span></li>
                <li><label>Customer_ID</label><span>123131</span></li>
                <li><label>Customer_ID</label><span>123131</span></li>
            </ul>-->
                            <ul class="remarks_block" ng-repeat="dataList in Insurer.ApplicationNoInfo.Proposal">
                                <li>
                                    <label>Date Of Receipt</label>
                                    <span>{{dataList.DateOfReceipt}}</span>
                                    <label>Customer ID</label>
                                    <span>{{dataList.Customer_ID}}</span>
                                </li>
                                <li>
                                    <label>Lab Name</label>
                                    <span>{{dataList.LabName}}</span>
                                    <label>Name</label>
                                    <span>{{dataList.Name}}</span>
                                </li>
                                <li>
                                    <label>Preferred Test Date</label>
                                    <span>{{dataList.PreferredTestDate | date: 'medium'}}</span>
                                    <label>PreferredTestTime</label>
                                    <span>{{dataList.PreferredTestTime | date: 'medium'}}</span>
                                </li>
                                <li>
                                    <label>Proposal No</label>
                                    <span>{{dataList.ProposalNo}}</span>
                                    <label>Status</label>
                                    <span>{{dataList.Status}}</span>
                                </li>
                                <li>
                                    <label>Test Date Time</label>
                                    <span>{{dataList.TestDateTime | date: 'medium'}}</span>
                                    <label>Test Type</label>
                                    <span>{{dataList.TestType}}</span>
                                </li>
                                <li>
                                    <label>Test Details</label>
                                    <span>{{dataList.TestDetails}}</span>
                                    <label>Test Location Address</label>
                                    <span>{{dataList.TestLocationAddress}}</span>
                                </li>

                            </ul>


                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Call Date</th>
                                            <th>Call To</th>
                                            <th>Note</th>
                                            <th>Remarks</th>
                                            <!--<th>Date</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.CallDetails">
                                            <td>{{$index+1}}</td>
                                            <td>{{dataList.CallDate | date:'medium'}}</td>
                                            <td>{{dataList.CallTo}}</td>
                                            <td>{{dataList.pNote}}</td>
                                            <td>{{dataList.Remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>

            </div>
        </div>
    </div>
</body>
</html>
