﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insurer Block</title>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(document).ready(function () {

            $('ul.toptabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.toptabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })

        })
    </script>
    <style>
        .loaderImg {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -(50/2)px;
            margin-top: -(50/2)px;
        }
    </style>
</head>

<body>
    <div ng-hide="LoadingImg">
        <img class="loaderImg" src="../images/loader.gif" style="width:50px;height:50px" />
    </div>
    <div ng-show="LoadingImg" v=v id="main_container1">

        <div class="form_container">
            <div class="heading"> <img src="images/Religare.jpg" width="120" height="50" /> <span></span></div>
            <div>



                <div class="">
                    <div class="col-md-12">
                        <span style="font-size:large;font-family:Arial" class="pull-right"> <span ng-if="!statusLd">Please Wait fetching from Live.... <img src="../images/loader.gif" style="width:20px" /></span> <span ng-if="statusLd">{{Status}}</span> </span>
                    </div><br />
                    <div class="col-md-12">
                        <span style="font-size:large;font-family:Arial"><b>Application No: {{Insurer.ApplicationNo}}</b></span>
                        <span style="font-size:large;font-family:Arial" class="pull-right"><b>Last Retrieved On: {{Insurer.CreatedOn | date:'medium'}}</b></span>
                        </div>
                        <ul class="toptabs">
                            <li class="tab-link current" data-tab="tab-1">Proposal Status</li>
                            <!--<li class="tab-link" data-tab="tab-2">Proposer & Plan Details</li>-->
                            <li class="tab-link" data-tab="tab-3">Insured Member Details</li>
                            <!--<li class="tab-link" data-tab="tab-4">UnderWriting Details</li>

            <li class="tab-link" data-tab="tab-6">Dispatch Details</li>
            <li class="tab-link" data-tab="tab-7">Application History</li>-->
                        </ul>

                        <div id="tab-1" class="tab-content current">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>CustomerName</th>
                                        <th>Login Date</th>
                                        <th>PaymentAmount</th>
                                        <th>PolicyNo</th>
                                        <th>PolicyStartDate</th>
                                        <th>ProposalStatus</th>
                                        <th>ProposerNo</th>
                                        <!--<th>Date</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.Proposal">

                                        <td>{{dataList.CustomerName}}</td>
                                        <td>{{dataList.LoginDate}}</td>
                                        <td>{{dataList.PaymentAmount}}</td>
                                        <td>{{dataList.PolicyNo}}</td>
                                        <td>{{dataList.PolicyStartDate}}</td>
                                        <td>{{dataList.ProposalStatus}}</td>
                                        <td>{{dataList.ProposerNo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Relation</th>
                                            <th>UWCase</th>
                                            <th>UWDecision</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            <th>CustomerId</th>
                                            <th>Amount</th>
                                            <th>AcceptDeclined</th>
                                            <!--<th>Date</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.Insured">
                                            <td>{{$index+1}}</td>
                                            <td>{{dataList.Name}}</td>
                                            <td>{{dataList.Relation}}</td>
                                            <td>{{dataList.UWCase}}</td>
                                            <td>{{dataList.UWDecision}}</td>
                                            <td>{{dataList.Gender}}</td>
                                            <td>{{dataList.DOB}}</td>
                                            <td>{{dataList.CustomerId}}</td>
                                            <td>{{dataList.Amount}}</td>
                                            <td>{{dataList.AcceptDeclined}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--<div id="tab-4" class="tab-content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Comments</th>
                                <th>Decision Date</th>
                                <th>Excl</th>
                                <th>Med Test</th>
                                <th>UW Decision</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.UnderWriting">
                                <td>{{$index+1}}</td>
                                <td>{{dataList.Comments}}</td>
                                <td>{{dataList['Decision Date']}}</td>
                                <td>{{dataList.Excl}}</td>
                                <td>{{dataList['Med Test']}}</td>
                                <td>{{dataList['UW Decision']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="tab-6" class="tab-content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>POD Number</th>
                                <th>Courier</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataList in Insurer.ApplicationNoInfo.Dispatch">
                                <td>{{$index+1}}</td>
                                <td>{{dataList['POD Number']}}</td>
                                <td>{{dataList.Courier}}</td>
                                <td>{{dataList.Date}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tab-7" class="tab-content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Value After</th>
                                <th>Value Before</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataList in Insurer.ApplicationNoInfo['Application History']">
                        <td>{{$index+1}}</td>
                                <td>{{dataList['Value After']}}</td>
                                <td>{{dataList['Value Before']}}</td>
                                <td>{{dataList.Date}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

        </div>-->


                    </div>

            </div>
        </div>
    </div>
</body>
</html>
