﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Health Exchange Documents Upload</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css' />
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/ui-bootstrap-custom-tpls-1.3.2.min.js"></script>
    <script>

        angular.module("HEXDocUploadApp", ["ngRoute", "ui.bootstrap"]).config(["$routeProvider",
          function ($routeProvider) {

          }]);
    </script>

    <script src="../Scripts/HealthExchange/hexDocUploadScript.js"></script>   
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" />
</head>
<body ng-app="HEXDocUploadApp">

    <div id="main_container" ng-controller="HEXDocUploadAppCtrl">
        <div class="container_block">
            <div class="inner_container">
                <div class="breadcrum_strip">
                    <ul class="breadcrum_hd">

                        <li>Hi {{CustomerDocUploadDetails.Name}},</li>
                    </ul>

                </div>

                <div class="form_container">
                    <div class="heading">
                        <h2>Documents</h2>
                    </div>

                    <div class="heading"><h3>Reports</h3> <span class="add_button" ng-click="AddMoreDouments()">+</span></div>
                    <div class="table_responsive">
                        <table class="table table-bordered no-margin">
                            <thead>

                            <th class="th_bg">Members</th>
                            <th class="th_bg">Document Type</th>
                            <th class="th_bg">Files</th>
                            <th class="th_bg">Comments</th>
                            <th class="th_bg">Action</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in CustomerDocUploadDetails.MemberDocumentDetailsList">

                                    <td>
                                        {{data.MemberName}}
                                    </td>
                                    <td>
                                        {{data.DocumentName}}
                                    </td>
                                    <td>
                                        <a href="{{data.DocURL}}" target="_blank">View</a>
                                    </td>
                                    <td> {{data.Comments}}</td>
                                    <td></td>

                                </tr>

                                <tr ng-repeat="data in DocumentList">

                                    <td>
                                        <select class="insurer_box" ng-model="data.Selected.Member"
                                                ng-options="data.Name for data in CustomerDocUploadDetails.ProposerDetails.CoveredMembers track by data.MemberId ">
                                            <option value=''>Select Member</option>

                                        </select>
                                    </td>
                                    <td>
                                        <select class="insurer_box" ng-model="data.Selected.Document"
                                                ng-options="data.Document for data in CustomerDocUploadDetails.MasterDocumentList track by data.DocumentId ">
                                            <option value=''>Select Document</option>

                                        </select>
                                    </td>
                                    <td>
                                        <label for="fileField"></label>
                                        <input type="file" onchange="angular.element(this).scope().file_changed(this)"
                                               id="{{data.Sno}}" required />
                                    </td>
                                    <td><input type="text" ng-model="data.Selected.Comments" required></td>
                                    <td><em class="cancel_icon" ng-click="DeleteDoc($index)"></em></td>

                                </tr>



                            </tbody>
                        </table>

                    </div>
                    <button class="savebutton" ng-click="AddMemberDouments()" ng-if="DocumentList.length>0">Upload Documents</button>
                    <span style="color:red">{{Error}}</span>
                    <span style="color:green">{{Msg}}</span>
                </div>


            </div>
        </div>
    </div>
</body>
</html>

