﻿
<div class="fade_container" ng-if="PageLoad">
    <span class="loader_gif">

        <img src="../images/loading.gif" />
    </span>
    <div class="fade_bg">

    </div>
</div>

<div class="container_block">
    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li><a href="/home.html#/HealthExchange/PB/PBDashboard">Dashboard »</a></li>
                <li>Insurer U/W Response</li>
            </ul>

        </div>

        <div class="form_container">
            <div class="heading">
                <h2>Insured Members 
                    <b ng-if="LeadDetails.ExLeadType==1"> ({{LeadDetails.NewLeadID}})</b>
                    <b ng-if="LeadDetails.ExLeadType==2"> ({{LeadDetails.LeadID}})</b>
                </h2>

            </div>
            <ul class="uploadbox" ng-repeat="data in PBInsurerUnderwritingDetails.InsurerUnderwritingDetails[0].ProposerDetails.CoveredMembers">
                <li>
                    <label>Name</label>
                    <span>
                        {{data.Name}}
                    </span>
                </li>
                <li>
                    <label>DOB</label>
                    <span>
                        {{data.DateOfBirth}}
                    </span>
                </li>
                <li>
                    <label>Relationship</label>
                    <span>
                        {{data.Relation.RelationShipName}}
                    </span>
                </li>
                <li>
                    <label>PED</label>
                    <span>
                        <em class="listing_data" ng-repeat="ped in data.PEDDetails">{{ped.PEDName}}</em>
                    </span>
                    <!--<table>
                        <tr>
                            <td ng-repeat="ped in data.PEDDetails">{{ped.PEDName}}</td>
                            
                        </tr>
                    </table>-->
                </li>
            </ul>
        </div>



        <div class="form_container" ng-if="LeadDetails.ExLeadType==1 && CustomerMedicalDetails !=undefined && CustomerMedicalDetails.length>0">
            <div class="heading">
                <h2>Medical Details</h2>

            </div>
            <ul class="uploadbox" ng-repeat="data in CustomerMedicalDetails">
                <li>
                    <label>Member Name</label>
                    <span>
                        {{data.MemberName}}
                    </span>
                </li>
                <li>
                    <label>Medical Test Name</label>
                    <span>
                        {{data.MedicalTest}}
                    </span>
                </li>
                <li>
                    <label>Date of Appointment</label>
                    <span>
                        {{data.DateofAppointment}}
                    </span>
                </li>
                <li>
                    <label>Appointment Status</label>
                    <span>
                        {{data.AppointmentStatus}}
                    </span>
                </li>

            </ul>
        </div>



        <div class="form_container">
            <div class="heading">
                <h2>Plan Selection</h2>

            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <th class="th_bg">Insurer Name</th>
                            <th class="th_bg">Plan Name</th>
                            <th class="th_bg">Sum Insured</th>
                            <th class="th_bg">Term</th>
                            <th class="th_bg">Base Premium</th>
                            <th class="th_bg">Form</th>
                            <th class="th_bg">MPF</th>
                            <!--<th class="th_bg">Form</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in PBInsurerUnderwritingDetails.InsurerUnderwritingDetails ">
                            <td>
                                {{data.InsurerDetails.InsurerName}}
                            </td>
                            <td>
                                {{data.InsurerDetails.PlanName}}
                            </td>
                            <td>
                                {{data.InsurerDetails.SumInsured | INR}}
                            </td>
                            <td>
                                {{data.InsurerDetails.Term}}
                            </td>
                            <td>{{data.InsurerDetails.BasePremium | INR}}</td>
                       

                            <td>

                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&planid={{Selected.PlanDetailsList.PlanId}}" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>

                       
                            <td>
                                
                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&&view=1" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>
                        
                            

                        </tr>
                    </tbody>
                </table>

            </div>




        </div>

        <div class="form_container">
            <!--<div class="form_container" ng-if="LeadDetails.ExLeadType ==1 &&  GETPaymentDetailsForEx.length>0">-->
            <div class="heading">
                <h2>Documents</h2>
            </div>

            <!--<h3 ng-if="LeadDetails.ExLeadType==2">Master Proposal Form</h3>
        <ul class="uploadocument" ng-if="LeadDetails.ExLeadType==2">
            <li>
                <label>Link</label>
                <span>
                    <div>
                        <a href="http://healthqa.policybazaar.com/nstpproposal?enquiryid={{PBInsurerUnderwritingDetails.CustomerLead.EncryptEnquiryID}}" target="_blank">
                            http://healthqa.policybazaar.com/nstpproposal?enquiryid={{PBInsurerUnderwritingDetails.CustomerLead.EncryptEnquiryID}}
                        </a>
                    </div>

                </span>
            </li>

            <li>
                <label>Email ID</label>
                <span>
                    <input name="" type="text" ng-model="SendToEmailID" />
                </span>
            </li>
            <li><label>&nbsp;</label><span><button class="savebutton" ng-click="SendEmail('MPFDetailsHEX',SendToEmailID)">Send</button></span></li>
        </ul>-->

            <div class="heading"><h3>Reports</h3> <span class="add_button" ng-click="AddMoreDouments()" ng-if="OpenDoc">+</span></div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>

                    <th class="th_bg">Members</th>
                    <th class="th_bg">Document Type</th>
                    <th class="th_bg">Files</th>
                    <th class="th_bg">Comments</th>
                    <th class="th_bg">Action</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in PBInsurerUnderwritingDetails.MemberDocumentDetailsList">

                            <td>
                                {{data.MemberName}}
                            </td>
                            <td>
                                {{data.DocumentName}}
                            </td>
                            <td>
                                <a href="{{data.DocURL}}" target="_blank">View</a>
                            </td>
                            <td> {{data.Comments}}</td>
                            <td></td>

                        </tr>

                        <tr ng-repeat="data in DocumentList">

                            <td>
                                <select class="insurer_box" ng-model="data.Selected.Member"
                                        ng-options="data.Name for data in PBInsurerUnderwritingDetails.InsurerUnderwritingDetails[0].ProposerDetails.CoveredMembers track by data.MemberId ">
                                    <option value=''>Select Member</option>

                                </select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-model="data.Selected.Document"
                                        ng-options="data.Document for data in PBInsurerUnderwritingDetails.MasterDocumentList track by data.DocumentId ">
                                    <option value=''>Select Document</option>

                                </select>
                            </td>
                            <td>
                                <label for="fileField"></label>
                                <input type="file" onchange="angular.element(this).scope().file_changed(this)"
                                       id="{{data.Sno}}" required />
                            </td>
                            <td><input type="text" ng-model="data.Selected.Comments" required></td>
                            <td><em class="cancel_icon" ng-click="DeleteDoc($index)"></em></td>

                        </tr>



                    </tbody>
                </table>

            </div>
            <button class="savebutton" ng-click="AddMemberDouments()" ng-if="DocumentList.length>0">Save</button>
            <span style="color:red">{{Error}}</span>
            <span style="color:green">{{Msg}}</span>
        </div>

       

        <div class="form_container" >

            <div class="heading">
                <h2>Response</h2>
            </div>

            <div ng-repeat="data in PBInsurerUnderwritingDetails.InsurerUnderwritingDetails " class="expand_block">
                <div class="insurer_resp_block">
                    <div class="expan_tab" ng-click="OpenDetails($index,data.InsurerDetails.Show)">
                        <span class="heading_text">{{data.InsurerDetails.InsurerName}} ({{data.InsurerDetails.PlanName}})</span>
                        <span class="expand">
                            <em ng-class="{info_color:(data.InsurerAction == 5 || data.InsurerAction == 6),accept_color:(data.InsurerAction ==2 || data.InsurerAction ==4),rejected_color:(data.InsurerAction ==3)}" ng-if="data.InsurerDetails.Show==undefined || data.InsurerDetails.Show==0 ">+</em>
                            <em ng-class="{info_color:(data.InsurerAction == 5 || data.InsurerAction == 6),accept_color:(data.InsurerAction ==2 || data.InsurerAction ==4),rejected_color:(data.InsurerAction ==3)}" ng-if="data.InsurerDetails.Show==1 ">-</em>
                        </span>
                    </div>

                    <div class="result_block  animate-show-hide" ng-show="data.InsurerDetails.Show==1">
                        <ul class="planinfobox">
                            <!--<li>
                            <label>Insurer</label>
                            <span>
                                <input name="" type="text" value="{{data.InsurerDetails.InsurerName}}" disabled />
                            </span>
                        </li>-->
                            <li>
                                <label>Plan Name</label>
                                <span>
                                    <input name="" type="text" value="{{data.InsurerDetails.PlanName}}" disabled />
                                </span>
                            </li>
                            <li>
                                <label>Sum Insured</label>
                                <span>
                                    <input name="" type="text" value="{{data.InsurerDetails.SumInsured}}" disabled />
                                </span>
                            </li>
                            <li>
                                <label>Premium</label>
                                <span>
                                    <input name="" type="text" value="{{data.InsurerDetails.BasePremium}}" disabled />
                                </span>
                            </li>
                        </ul>
                        <h3>Decision</h3>

                        <ul class="planinfobox">
                            <li>
                                <input type="radio" ng-checked="data.InsurerActionDetails.Accept" disabled="disabled" />
                                <label class="inputfd">Accept</label>
                            </li>
                            <li>
                                <input type="radio" ng-checked="data.InsurerActionDetails.Reject" disabled="disabled" />
                                <label class="inputfd">Reject</label>
                            </li>
                            <li>
                                <input type="radio" ng-checked="data.InsurerActionDetails.AcceptWithConditions" disabled="disabled" />
                                <label class="inputfd">Accept with Conditions</label>
                            </li>
                            <li>
                                <input type="radio" ng-checked="data.InsurerActionDetails.AdditionalInfoRequired" disabled="disabled" />
                                <label class="inputfd">
                                    Additional Info Required
                                </label>
                            </li>
                        </ul>

                        <ul class="planinfobox">
                            <li ng-if="data.InsurerStatusID == 8">
                                <input type="radio" checked="checked" disabled="disabled" />
                                <label class="inputfd">Case Closed</label>
                            </li>
                            <li ng-if="data.InsurerStatusID == 7">
                                <input type="radio" checked="checked" disabled="disabled" />
                                <label class="inputfd">Accepted By Customer</label>
                            </li>
                            <li ng-if="data.InsurerStatusID == 9">
                                <input type="radio" checked="checked" disabled="disabled" />
                                <label class="inputfd">Payment Done & Closed</label>
                            </li>
                        </ul>
                        <div ng-if="data.InsurerActionDetails.AcceptWithConditions">
                            <h3>Conditions</h3>
                            <ul class="planinfobox">
                                <li>
                                    <input name="ss" type="checkbox" value="" ng-model="data.IsCoPay" disabled="disabled" />
                                    <label class="inputfd wAuto">Copay</label>
                                   
                                </li>


                            </ul>
                            <div class="mLeft">

                                <ul class="planinfobox">
                                    <li>
                                        <div class="">
                                            <input name="CopayType" type="radio" value="1" ng-model="data.CopayType" disabled />
                                            <label>Overall Copay(%)</label>
                                            <input name="ss" type="number" min="0" max="99" maxlength="2" ng-model="data.CoPay"
                                                   disabled/>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="planinfobox">
                                    <li>
                                        <label class="inputfd">
                                            <input name="CopayType" type="radio" value="2" ng-model="data.CopayType" disabled/>
                                            Member Level Copay
                                        </label>
                                    </li>
                                </ul>

                                <ul class="planinfobox">
                                    <li>

                                        <div class="inpInline">                                          
                                            <table width="50%" cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                                                <tr>
                                                    <td>
                                                        Member Name
                                                    </td>
                                                    <td>
                                                        Copay(%)
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="dataCoveredMembers in data.CopayDetailsList">
                                                    <td>
                                                        {{dataCoveredMembers.MemberName}}
                                                    </td>
                                                    <td>
                                                        <input name="ss" type="number" min="0" max="99" maxlength="2" ng-model="dataCoveredMembers.Copay"
                                                               ng-disabled="!( (ExLeadDetailsForInsurer.CopayType==2) && ControlPageAction == 0 )"
                                                               onkeyup="if(this.value>99){this.value='0';} else if(this.value<0){this.value='0';}" disabled />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <ul class="planinfobox">


                                <li ng-if="data.ProposerDetails.CoveredMembers.length>1 && data.IsMemberExclusion">
                                    <input name="" type="checkbox" value="" ng-model="data.IsMemberExclusion" disabled="disabled" />
                                    <label class="inputfd">Member Rejection</label>
                                    <div class="hidden_fd" ng-repeat="data in data.ProposerDetails.CoveredMembers">
                                        <input name="" type="checkbox" value="" ng-model="data.IsExcluded" disabled="disabled" />
                                        <label class="inputfd">{{data.Name}}</label>
                                        <div class="inpInline"><input name="" type="text" ng-model="data.ExclusionReason" disabled="disabled" /></div>
                                    </div>

                                </li>
                                <li ng-if="data.IsDiseaseExclusion">
                                    <input name="" type="checkbox" value="" ng-model="data.IsDiseaseExclusion" disabled="disabled" />
                                    <label class="inputfd">Disease Exclusions</label>
                                    <div class="hidden_fd">
                                        <input name="" type="checkbox" value="" ng-model="data.IsDiseaseExclusionPerm" disabled="disabled" />
                                        <label class="inputfd wAuto">Permanent</label>
                                        <div class="inpInline">
                                        
                                        <!--<input name="" type="text" ng-model="data.DiseaseExclusionPerm" disabled="disabled" />-->
                                            <textarea name="" cols="" rows="" class="textarea_block" ng-init="" ng-model="data.DiseaseExclusionPerm" disabled="disabled"></textarea> 
                                        
                                         </div>
                                    </div>
                                    <div class="hidden_fd">
                                        <input name="" type="checkbox" value="" ng-model="data.IsDiseaseExclusionTemp" disabled="disabled" />
                                        <label class="inputfd wAuto">Temporary</label>
                                        <div class="inpInline">
                                            <textarea name="" cols="" rows="" class="textarea_block" ng-init="" ng-model="data.DiseaseExclusionTemp" disabled="disabled"></textarea> 
                                        <!--<input name="" type="text" ng-model="data.DiseaseExclusionTemp" disabled="disabled" />--> 
                                        
                                        </div>
                                    </div>
                                </li>

                            </ul>


                            <h3>Final Premium (Including Loading)</h3>
                            <ul class="planinfobox">
                                <li>
                                    <input name="dd" type="checkbox" value="" ng-model="data.IsLoadPremium" disabled="disabled" />
                                    <label class="inputfd">Loaded Premium</label>
                                </li>
                            </ul>
                            <div class="mLeft">

                                <ul class="planinfobox">
                                    <li>
                                        <div class="">
                                            <input name="LoadingType" type="radio" value="1" ng-model="data.LoadingType" disabled />
                                            <label>Overall Loading(%)</label>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="finalPremium" ng-if="data.LoadingType==1">
                                    <li>
                                        <label>Please enter the % value</label>
                                        <input name="ss" type="number" ng-model="data.PremLoadingPerc" id="txtPremLoadingPerc"
                                               disabled />
                                    </li>
                                    <li>
                                        <label>Loading Amount</label>
                                        <input name="ss" type="number" ng-model="data.PremLoadingAmount" id="txtPremLoadingAmount" disabled />
                                    </li>
                                    <li>
                                        <label>Final Amount</label>
                                        <input name="ss" type="number" ng-model="data.FinalPremium" id="txtFinalPremium" disabled />

                                    </li>
                                    <li> </li>
                                </ul>
                                <ul class="planinfobox">
                                    <li>
                                        <label class="inputfd">
                                            <input name="LoadingType" type="radio" value="2" ng-model="data.LoadingType" disabled />
                                            Member Level Loading
                                        </label>
                                    </li>
                                </ul>

                                <ul class="planinfobox" ng-if="data.LoadingType==2">
                                    <li>

                                        <div class="inpInline">
                                            <table width="50%" cellpadding="0" cellspacing="0" border="0" class="table table-bordered" ng-if="data.InsurerActionDetails.AcceptWithConditions">
                                                <tr>
                                                    <td>
                                                        Member Name
                                                    </td>
                                                    <td>
                                                        Loading(%)
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="dataCoveredMembers in data.LoadingDetailsList">
                                                    <td>
                                                        {{dataCoveredMembers.MemberName}}
                                                    </td>
                                                    <td>
                                                        <input name="ss" type="number" ng-model="dataCoveredMembers.MemberLoading" disabled />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div ng-if="data.InsurerActionDetails.AdditionalInfoRequired">

                            <div class="heading"><h3>Additional Info</h3> </div>
                            <div class="table_responsive">
                                <table class="table table-bordered no-margin">
                                    <thead>
                                    <th class="th_bg">Task Pending</th>
                                    <th class="th_bg">Members</th>
                                    <th class="th_bg">Comments</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in data.InsurerAdditionalInfoDeatilsList">

                                            <td>
                                                {{data.InfoName}}
                                            </td>
                                            <td>
                                                {{data.MemberName}}
                                            </td>
                                            <td> {{data.Comments}}</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <h3>Comments</h3>
                        <ul class="planinfobox">
                            <li><span><textarea name="" cols="" rows="" class="textarea_block" ng-model="data.InsurerComment" disabled="disabled"></textarea></span></li>
                        </ul>
                        <!--<div ng-if="data.InsurerStatusID=='2' || data.InsurerStatusID=='4'">
                            <button class="savebutton" ng-click="AcceptOrRejectInsurer(data,1)" ng-disabled="BlockOther">Send Email to Customer</button>
                           
                            <button class="savebutton" ng-click="AcceptOrRejectInsurer(data,2)" ng-if="1!=1">Reject</button>
                        </div>

                        <div ng-if="data.InsurerStatusID=='7'">
                            
                            <button class="savebutton" ng-click="ResendAccptenceEmail(data,1)" ng-if="data.InsurerStatusID == 7">Resend Email</button>
                            
                        </div>-->
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>
