﻿
<div class="container_block">
    <div class="inner_container">

        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li><a href="">Dashboard »</a></li>

            </ul>
            <div class="insurer_logo"><img src="http://health.policybazaar.com/images/supplier-logo-png/{{UserDetails.InsurerName.replace(' ', '_')}}.png" width="150" height="46" /></div>
        </div>

        <div class="form_container">
            <ul class="formbox">
                <li>
                    <label>Search Parameter</label>
                    <span>
                        <select class="insurer_box" ng-model="Selected.SearchParameterInsurerDashboard" ng-change="resetSelection()" ng-options="data.Name for data in CommonData.SearchInsurerParameter track by data.ID "></select>
                    </span>
                </li>
                <li>
                    <label>&nbsp;</label>
                    <span>
                        <!--<em class="error_mark"></em>-->
                        <em class="right_mark"></em>
                        <input name="" type="text" placeholder="{{Selected.SearchParameterInsurerDashboard.Name}}" ng-model="FilterParam" maxlength="150" />

                    </span>
                </li>
            </ul>

            <ul class="formbox">
                <li>
                    <label>Date Range</label>
                    <span>
                        <select class="insurer_box" ng-model="Selected.DateRange" ng-options="data.Name for data in CommonData.DateRange track by data.ID " ng-change="DateChange()"></select>
                    </span>
                </li>

                <li class="sml_field">
                    <label>From</label>
                    <span>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="FromDate" is-open="popup1.opened" readonly
                               datepicker-options="dateOptions" ng-click="open1()"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open1()"></em>
                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->
                    </span>
                </li>
                <li class="sml_field">
                    <label>To</label>
                    <span>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="ToDate" is-open="popup2.opened" readonly
                               datepicker-options="dateOptions" ng-click="open2()"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open2()"></em>
                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->
                    </span>
                </li>
            </ul>

            <ul class="formbox">
                <li>
                    <label>Status</label>
                    <span>
                        <select class="insurer_box" ng-model="Selected.InsurerDashboardStatus" ng-options="data.Name for data in CommonData.InsurerDashboardStatus track by data.ID "></select>
                    </span>
                </li>
                <li>
                    <label>Key Matrix</label>
                    <span>
                        <select class="insurer_box" ng-model="Selected.InsurerDashboardKey" ng-options="data.Name for data in CommonData.InsurerDashboardKey track by data.ID "></select>
                    </span>
                </li>

            </ul>
            <button class="savebutton" ng-click="GetLeadsForInsurerDashboard()">{{CommonData.ButtonLabel.Search}}</button>
        </div>




        <div class="form_container">
            <div class="heading">
                <h2>Search Result</h2>
                <button class="greyoutbutton" ng-click="exportData()" ng-if="AllLeadForHealth.GetLeadsForInsurerDashboardResult.length>0">Export to Excel</button>
            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <!--<th class="th_bg"><input name="" type="checkbox" value="" /></th>-->
                            <th class="th_bg">SNo</th>
                            <th class="th_bg">Date/time</th>
                            <th class="th_bg">Lead ID</th>
                            <th class="th_bg">Proposer Name</th>
                            <!--<th class="th_bg">Proposal #</th>-->
                            <th class="th_bg">Customer ID</th>
                            <th class="th_bg">Plan</th>
                            <th class="th_bg">Status</th>
                            <th class="th_bg">Key matrix</th>
                            <th class="th_bg">TAT</th>
                            <th class="th_bg">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" data in AllLeadForHealth.GetLeadsForInsurerDashboardResult">
                            <!--<td><input name="" type="checkbox" value="" /></td>-->
                            <td>{{$index + 1}}</td>
                             <td>
                               {{data.HealthExMarkDate}}
                            </td>
                            <td>{{data.NewLeadID}}</td>
                            <td>{{data.Name}}</td>
                            <!--<td>{{data.OldProposalNo}}</td>-->
                            <td>{{data.CustomerID}}</td>
                            <td>{{data.PlanName}}</td>
                            <td>{{data.Remarks}}</td>
                            <td>{{data.KeyMatrix}}</td>
                            <td>
                                <!--<em ng-class="{activegreen: data.InsurerActionDetails ==0, activeorange:data.InsurerActionDetails ==1, activered:data.InsurerActionDetails ==2, activered:data.InsurerActionDetails ==3}" title="0 Response"></em>-->
                                <em class="activegreen" title="0 Response" ng-if="data.InsurerActionDetails ==0"></em>
                                <em class="activeorange" title="1 Response" ng-if="data.InsurerActionDetails ==1"></em>
                                <em class="activered" title="2 Response" ng-if="data.InsurerActionDetails ==2"></em>
                                <em class="activered" title="3 Response" ng-if="data.InsurerActionDetails >=3"></em>
                            </td>
                            <td><button class="view_detail" ng-click="OpenLead(data)">View</button></td>

                        </tr>


                    </tbody>
                </table>

            </div>

            <!--<div class="pagination_block">
                <ul class="pagination">
                    <li><a href="#" class="radiusblock">« Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#" class="radiusblocklast">Next » </a></li>
                </ul>
            </div>-->

        </div>

    </div>

</div>