﻿

<div class="fade_container" ng-if="PageLoad">
    <span class="loader_gif">

        <img src="../images/loading.gif" />
    </span>
    <div class="fade_bg">

    </div>
</div>

<div class="container_block">
    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li><a href="/home.html#/HealthExchange/Insurer/InsurerDashboard">Dashboard »</a></li>
                <li>Upload Case to Insurer</li>
            </ul>
            <div class="insurer_logo"><img src="http://health.policybazaar.com/images/supplier-logo-png/{{UserDetails.InsurerName.replace(' ', '_')}}.png" width="150" height="46" /></div>

        </div>

        <div class="form_container">
            <div class="heading">
                <h2>Insured Members
                
                    <b ng-if="LeadDetails.ExLeadType == 1"> ({{LeadDetails.NewLeadID}})</b>
                    <b ng-if="LeadDetails.ExLeadType == 2"> ({{LeadDetails.LeadID}})</b>
                </h2>

            </div>
            <ul class="uploadbox" ng-repeat="data in ExLeadDetailsForInsurer.ProposerDetails.CoveredMembers">
                <li>
                    <label>Name</label>
                    <span>
                        {{data.Name}}
                    </span>
                </li>
                <li>
                    <label>DOB</label>
                    <span>
                        {{data.DateOfBirth}}
                    </span>
                </li>
                <li>
                    <label>Relationship</label>
                    <span>
                        {{data.Relation.RelationShipName}}
                    </span>
                </li>
                <li>
                    <label>PED</label>
                    <span ><em class="listing_data" ng-repeat="ped in data.PEDDetails">{{ped.PEDName}}</em> 
                    </span>
                </li>
            </ul>
        </div>

        <!--<div class="form_container" ng-if="LeadDetails.ExLeadType==1 && CustomerMedicalDetails !=undefined && CustomerMedicalDetails.length>0">
            <div class="heading">
                <h2>Medical Details</h2>

            </div>
            <ul class="uploadbox" ng-repeat="data in CustomerMedicalDetails.MembersMedical">
                <li>
                    <label>Member Name</label>
                    <span>
                        {{data.MemberName}}
                    </span>
                </li>
                <li>
                    <label>Medical Test Name</label>
                    <span>
                        {{data.MedicalTestName}}
                    </span>
                </li>
                <li>
                    <label>AppointmentStatus</label>
                    <span>
                        {{data.AppointmentStatus.AppointmentStatus}}
                    </span>
                </li>

            </ul>
        </div>

        <div class="form_container" ng-if="LeadDetails.ExLeadType ==1 &&  GETPaymentDetailsForEx.length>0">
            <div class="heading">
                <h2>Payment Details</h2>

            </div>
            <ul class="uploadbox" ng-repeat="data in GETPaymentDetailsForEx">

                <li>
                    <label>PaymentAmount</label>
                    <span>
                        {{data.PaymentAmount}}
                    </span>
                </li>
                <li>
                    <label>PaymentStatus</label>
                    <span ng-if="data.PaymentStatus==1">
                        Initiated
                    </span>
                    <span ng-if="data.PaymentStatus==2">
                        Payment Done
                    </span>
                    <span ng-if="data.PaymentStatus==3">
                        Pending/Canceled
                    </span>
                </li>
                <li>
                    <label>CreatedOn</label>
                    <span>
                        {{data.CreatedOn}}
                    </span>
                </li>
            </ul>
        </div>-->



        <div class="form_container">
            <div class="heading">
                <h2>Plan Selection</h2>

            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <th class="th_bg">Insurer Name</th>
                            <th class="th_bg">Plan Name</th>
                            <th class="th_bg">Sum Insured</th>
                            <th class="th_bg">Term</th>
                            <th class="th_bg">Base Premium</th>
                            <th class="th_bg">Form</th>
                            <th class="th_bg">MPF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ExLeadDetailsForInsurer.InsurerDetails.InsurerName}}
                            </td>
                            <td>
                                {{ExLeadDetailsForInsurer.InsurerDetails.PlanName}}
                            </td>
                            <td>
                                {{ExLeadDetailsForInsurer.InsurerDetails.SumInsured | INR}}
                            </td>
                            <td>
                                {{ExLeadDetailsForInsurer.InsurerDetails.Term}}
                            </td>
                            <td>{{ExLeadDetailsForInsurer.InsurerDetails.BasePremium | INR}}</td>
                            <td>
                                <!--http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForInsurer.CustomerLead.EncryptEnquiryID}}&planid={{ExLeadDetailsForInsurer.InsurerDetails.PlanID}}-->
                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForInsurer.CustomerLead.EncryptEnquiryID}}&planid={{ExLeadDetailsForInsurer.InsurerDetails.ExcPlan}}" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
</td>

                            <td>
                                <!--http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForInsurer.CustomerLead.EncryptEnquiryID}}&planid={{ExLeadDetailsForInsurer.InsurerDetails.PlanID}}-->
                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForInsurer.CustomerLead.EncryptEnquiryID}}&&view=1" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>




        </div>


        <div class="form_container">
            <div class="heading">
                <h2>Documents</h2>
            </div>

            <h3 ng-if="LeadDetails.ExLeadType==2">Master Proposal Form</h3>
            <ul class="uploadocument" ng-if="LeadDetails.ExLeadType==2">
                <li>
                    <label>Link</label>
                    <span>
                        <div>
                            <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForInsurer.CustomerLead.EncryptEnquiryID}}&planid={{ExLeadDetailsForInsurer.InsurerDetails.PlanID}}" target="_blank">
                                http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForInsurer.CustomerLead.EncryptEnquiryID}}&planid={{ExLeadDetailsForInsurer.InsurerDetails.PlanID}}
                            </a>
                        </div>

                    </span>
                </li>


            </ul>
            <div class="heading">
                <h2>Reports</h2>

            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <th class="th_bg">Members</th>
                            <th class="th_bg">Document Type</th>
                            <th class="th_bg">View Files</th>
                            <th class="th_bg">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in ExLeadDetailsForInsurer.MemberDocumentDetailsList">

                            <td>
                                {{data.MemberName}}
                            </td>
                            <td>
                                {{data.DocumentName}}
                            </td>
                            <td>
                                <a href="{{data.DocURL}}" target="_blank">View</a>
                            </td>
                            <td> {{data.Comments}}</td>

                        </tr>
                    </tbody>
                </table>

            </div>




        </div>



        <div class="form_container">
            <div class="heading">
                <h2>Response</h2>
            </div>
            <h3>Plan Details</h3>
            <div class="result_block">
                <ul class="planinfobox">
                    <li>
                        <label>Insurer</label>
                        <span>
                            <input name="" type="text" value="{{ExLeadDetailsForInsurer.InsurerDetails.InsurerName}}" disabled />
                        </span>
                    </li>
                    <li>
                        <label>Plan Name</label>
                        <span>
                            <input name="" type="text" value="{{ExLeadDetailsForInsurer.InsurerDetails.PlanName}}" disabled />
                        </span>
                    </li>
                    <li>
                        <label>Sum Insured</label>
                        <span>
                            <input name="" type="text" value="{{ExLeadDetailsForInsurer.InsurerDetails.SumInsured}}" disabled />
                        </span>
                    </li>
                    <li>
                        <label>Premium</label>
                        <span>
                            <input name="" type="text" value="{{ExLeadDetailsForInsurer.InsurerDetails.BasePremium}}" id="txtBasePremium" disabled />
                        </span>
                    </li>
                </ul>
                <h3>Decision</h3>

                <ul class="planinfobox">
                    <li>
                        <input name="1" type="radio" ng-checked="ExLeadDetailsForInsurer.InsurerActionDetails.Accept" ng-disabled="ControlPageAction == 1 || ExLeadDetailsForInsurer.InsurerStatusID ==2 || ExLeadDetailsForInsurer.InsurerStatusID ==3 " ng-click="CheckAction(1)" />
                        <label class="inputfd">Accept</label>
                    </li>
                    <li>
                        <input name="1" type="radio" ng-checked="ExLeadDetailsForInsurer.InsurerActionDetails.Reject" ng-click="CheckAction(2)" ng-disabled="ControlPageAction == 1 || ExLeadDetailsForInsurer.InsurerStatusID ==2 || ExLeadDetailsForInsurer.InsurerStatusID ==3 " />
                        <label class="inputfd">Reject</label>
                    </li>
                    <li>
                        <input name="1" type="radio" ng-checked="ExLeadDetailsForInsurer.InsurerActionDetails.AcceptWithConditions" ng-click="CheckAction(3)" ng-disabled="ControlPageAction == 1 || ExLeadDetailsForInsurer.InsurerStatusID ==2 || ExLeadDetailsForInsurer.InsurerStatusID ==3 " />
                        <label class="inputfd">Accept with Conditions</label>
                    </li>
                    <li>
                        <input name="1" type="radio" ng-checked="ExLeadDetailsForInsurer.InsurerActionDetails.AdditionalInfoRequired" ng-click="CheckAction(4)" ng-disabled="ControlPageAction == 1 || ExLeadDetailsForInsurer.InsurerStatusID ==2 || ExLeadDetailsForInsurer.InsurerStatusID ==3 " />
                        <label class="inputfd">
                            Additional Info Required
                        </label>
                    </li>
                </ul>
                <ul class="planinfobox">
                    <li ng-if="ExLeadDetailsForInsurer.InsurerStatusID == 8">
                        <input type="radio" checked="checked" disabled="disabled" />
                        <label class="inputfd">Case Closed</label>
                    </li>
                    <li ng-if="ExLeadDetailsForInsurer.InsurerStatusID == 7">
                        <input type="radio" checked="checked" disabled="disabled" />
                        <label class="inputfd">Accepted By Customer</label>
                    </li>
                    <li ng-if="ExLeadDetailsForInsurer.InsurerStatusID == 9">
                        <input type="radio" checked="checked" disabled="disabled" />
                        <label class="inputfd">Payment Done & Closed</label>
                    </li>
                </ul>

                <div ng-if="ExLeadDetailsForInsurer.InsurerActionDetails.AcceptWithConditions">
                    <h3>Conditions</h3>
                    <ul class="planinfobox">
                        <li>
                            <input name="ss" type="checkbox" value="" ng-model="ExLeadDetailsForInsurer.IsCoPay" ng-disabled="ControlPageAction == 1" />
                            <label class="inputfd wAuto">Copay</label>
                        </li>
                    </ul>
                    <div class="mLeft">

                        <ul class="planinfobox">
                            <li>
                                <div class="">
                                    <input name="CopayType" type="radio" value="1" ng-model="ExLeadDetailsForInsurer.CopayType" ng-disabled="!( (ExLeadDetailsForInsurer.IsCoPay) && ControlPageAction == 0 )" />
                                    <label>Overall Copay(%)</label>
                                    <input name="ss" type="number" min="0" max="99" maxlength="4" ng-model="ExLeadDetailsForInsurer.CoPay"
                                           ng-disabled="!( (ExLeadDetailsForInsurer.CopayType==1) && ControlPageAction == 0 )"
                                           onkeyup="if (this.value > 99) { this.value = '0'; } else if (this.value < 0) { this.value = '0'; } if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                                </div>
                            </li>
                        </ul>

                        <ul class="planinfobox">
                            <li>
                                <label class="inputfd">
                                    <input name="CopayType" type="radio" value="2" ng-model="ExLeadDetailsForInsurer.CopayType" ng-disabled="!( (ExLeadDetailsForInsurer.IsCoPay) && ControlPageAction == 0 )" />
                                    Member Level Copay
                                </label>
                            </li>
                        </ul>

                        <ul class="planinfobox">
                            <li>

                                <div class="inpInline">
                                    <!--<table width="50%" cellpadding="0" cellspacing="0" border="0" class="table table-bordered" ng-if="!ExLeadDetailsForInsurer.InsurerActionDetails.AcceptWithConditions">
                                        <tr>
                                            <td>
                                                Member Name
                                            </td>
                                            <td>
                                                Copay(%)
                                            </td>
                                        </tr>
                                        <tr ng-repeat="dataCoveredMembers in ExLeadDetailsForInsurer.ProposerDetails.CoveredMembers">
                                            <td>
                                                {{dataCoveredMembers.Name}}
                                            </td>
                                            <td>
                                                <input name="ss" type="number" min="0" max="99" maxlength="2" ng-model="dataCoveredMembers.CoPay"
                                                       ng-disabled="!( (ExLeadDetailsForInsurer.CopayType==2) && ControlPageAction == 0 )"
                                                       onkeyup="if(this.value>99){this.value='0';} else if(this.value<0){this.value='0';}" />
                                            </td>
                                        </tr>
                                    </table>-->
                                    <table width="50%" cellpadding="0" cellspacing="0" border="0" class="table table-bordered" ng-if="ExLeadDetailsForInsurer.InsurerActionDetails.AcceptWithConditions">
                                        <tr>
                                            <td>
                                                Member Name
                                            </td>
                                            <td>
                                                Copay(%)
                                            </td>
                                        </tr>
                                        <tr ng-repeat="dataCoveredMembers in ExLeadDetailsForInsurer.ProposerDetails.CoveredMembers" ng-if="!(ControlPageAction == 1 || ExLeadDetailsForInsurer.InsurerStatusID ==2 || ExLeadDetailsForInsurer.InsurerStatusID ==3) ">
                                            <td>
                                                {{dataCoveredMembers.Name}}
                                            </td>
                                            <td>
                                                <input name="ss" type="number" min="0" max="99" maxlength="4" size="4" ng-model="dataCoveredMembers.CoPay"
                                                       ng-disabled="!( (ExLeadDetailsForInsurer.CopayType==2) && ControlPageAction == 0 )"
                                                       onkeyup="if (this.value > 99) { this.value = '0'; } else if (this.value < 0) { this.value = '0'; } if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                                            </td>
                                        </tr>
                                        <tr ng-repeat="dataCoveredMembers in ExLeadDetailsForInsurer.CopayDetailsList">
                                            <td>
                                                {{dataCoveredMembers.MemberName}}
                                            </td>
                                            <td>
                                                <input name="ss" type="number" min="0" max="99" maxlength="4" size="4" ng-model="dataCoveredMembers.Copay"
                                                       ng-disabled="!( (ExLeadDetailsForInsurer.CopayType==2) && ControlPageAction == 0 )"
                                                       onkeyup="if(this.value>99){this.value='0';} else if(this.value<0){this.value='0';}" disabled />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>

                        <ul class="planinfobox">


                            <li ng-if="ExLeadDetailsForInsurer.ProposerDetails.CoveredMembers.length>1">
                                <input name="" type="checkbox" value="" ng-model="ExLeadDetailsForInsurer.IsMemberExclusion" ng-disabled="ControlPageAction == 1" />
                                <label class="inputfd">Member Rejection</label>
                                <div class="hidden_fd" ng-repeat="data in ExLeadDetailsForInsurer.ProposerDetails.CoveredMembers" ng-if="ExLeadDetailsForInsurer.IsMemberExclusion">
                                    <input name="" type="checkbox" value="" ng-model="data.IsExcluded" ng-disabled="ControlPageAction == 1" />
                                    <label class="inputfd">{{data.Name}}</label>
                                    <div class="inpInline">
                                        <input name="" type="text" ng-model="data.ExclusionReason" ng-disabled="!(data.IsExcluded) || ControlPageAction == 1" />
                                    </div>
                                </div>

                            </li>
                            <li>
                                <input name="" type="checkbox" value="" ng-model="ExLeadDetailsForInsurer.IsDiseaseExclusion" ng-disabled="ControlPageAction == 1" />
                                <label class="inputfd">Disease Exclusions</label>
                                <div class="hidden_fd" ng-if="ExLeadDetailsForInsurer.IsDiseaseExclusion">
                                    <div class="condition_box">
                                        <input name="" type="checkbox" value="" ng-model="ExLeadDetailsForInsurer.IsDiseaseExclusionPerm" ng-disabled="ControlPageAction == 1" />
                                        <label class="inputfd wAuto">Permanent</label>
                                    </div>
                                    <div class="inpInline">
                                        <textarea name="" cols="" rows="" class="textarea_block" ng-init="" ng-model=" ExLeadDetailsForInsurer.DiseaseExclusionPerm"
                                                  ng-disabled="!ExLeadDetailsForInsurer.IsDiseaseExclusionPerm  || ControlPageAction == 1"></textarea>
                                    </div>
                                </div>
                                <div class="hidden_fd" ng-if="ExLeadDetailsForInsurer.IsDiseaseExclusion">
                                    <div class="condition_box">
                                        <input name="" type="checkbox" value="" ng-model="ExLeadDetailsForInsurer.IsDiseaseExclusionTemp" ng-disabled="ControlPageAction == 1" />
                                        <label class="inputfd wAuto">Temporary</label>
                                    </div>
                                    <div class="inpInline">

                                        <textarea name="" cols="" rows="" class="textarea_block" ng-model="ExLeadDetailsForInsurer.DiseaseExclusionTemp"
                                                  ng-disabled="!ExLeadDetailsForInsurer.IsDiseaseExclusionTemp || ControlPageAction == 1"></textarea>
                                    </div>
                                </div>
                                <!--<div class="hidden_fd">
                    <select class="insurer_box" ng-model="Selected.DiseaseType"
                            ng-options="data.text for data in CommonData.DiseaseType track by data.value " style="width:200px"></select>
                    <div class="inpInline"><input name="" type="text" ng-model="ExLeadDetailsForInsurer.DiseaseExclusion" /> </div>
                </div>-->
                            </li>

                        </ul>


                        <h3>Final Premium (Including Loading)</h3>
                        <ul class="finalPremium noMargin">
                            <li>
                                <input name="dd" type="checkbox" value="" ng-disabled="ControlPageAction == 1" ng-model="ExLeadDetailsForInsurer.IsLoadPremium" />
                                <label>Loaded Premium</label>
                            </li>
                        </ul>

                        

                    <div class="mLeft">

                        <ul class="planinfobox">
                            <li>
                                <div class="">
                                    <input name="LoadingType" type="radio" value="1" ng-model="ExLeadDetailsForInsurer.LoadingType" ng-disabled="!( (ExLeadDetailsForInsurer.IsLoadPremium) && ControlPageAction == 0 )" />
                                    <label>Overall Loading(%)</label>
                                </div>
                            </li>
                        </ul>
                        <ul class="finalPremium" ng-if="ExLeadDetailsForInsurer.LoadingType==1">
                            <li>
                                <label>Please enter the % value</label>
                                <input name="ss" type="number" ng-model="ExLeadDetailsForInsurer.PremLoadingPerc" id="txtPremLoadingPerc"
                                       ng-disabled="(ControlPageAction == 1 || !(ExLeadDetailsForInsurer.IsLoadPremium))  && !(ExLeadDetailsForInsurer.LoadPremiumType==1)" min="0" max="99999"
                                       onkeyup=" if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                       ng-change="Calculate(1)" maxlength="4" size="4" />
                            </li>
                            <li>
                                <label>Loading Amount</label>
                                <input name="ss" type="number" ng-model="ExLeadDetailsForInsurer.PremLoadingAmount" id="txtPremLoadingAmount" ng-disabled="ControlPageAction == 1 || !(ExLeadDetailsForInsurer.IsLoadPremium)" min="0" max="99999"
                                       onkeyup="if (this.value > 99999) { this.value = '0'; } else if (this.value < 0) { this.value = '0'; } if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                       ng-change="Calculate(2)" maxlength="8" size="8" />
                            </li>
                            <li>
                                <label>Final Amount</label>
                                <input name="ss" type="number" ng-model="ExLeadDetailsForInsurer.FinalPremium" id="txtFinalPremium" ng-disabled="ControlPageAction == 1 || !(ExLeadDetailsForInsurer.IsLoadPremium)" min="0" max="99999"
                                       onkeyup="if (this.value > 99999) { this.value = '0'; } else if (this.value < 0) { this.value = '0'; } " />

                            </li>
                            <li> </li>
                        </ul>
                        <ul class="planinfobox">
                            <li>
                                <label class="inputfd">
                                    <input name="LoadingType" type="radio" value="2" ng-model="ExLeadDetailsForInsurer.LoadingType" ng-disabled="!( (ExLeadDetailsForInsurer.IsLoadPremium) && ControlPageAction == 0 )" />
                                    Member Level Loading
                                </label>
                            </li>
                        </ul>

                        <ul class="planinfobox" ng-if="ExLeadDetailsForInsurer.LoadingType==2">
                            <li>

                                <div class="inpInline">
                                    <table width="50%" cellpadding="0" cellspacing="0" border="0" class="table table-bordered" ng-if="ExLeadDetailsForInsurer.InsurerActionDetails.AcceptWithConditions">
                                        <tr>
                                            <td>
                                                Member Name
                                            </td>
                                            <td>
                                                Loading(%)
                                            </td>
                                        </tr>
                                        <tr ng-repeat="dataCoveredMembers in ExLeadDetailsForInsurer.ProposerDetails.CoveredMembers" ng-if="!(ControlPageAction == 1 || ExLeadDetailsForInsurer.InsurerStatusID ==2 || ExLeadDetailsForInsurer.InsurerStatusID ==3) ">
                                            <td>
                                                {{dataCoveredMembers.Name}}
                                            </td>
                                            <td>
                                                <input name="ss" type="number" min="0" max="99" maxlength="4" size="4" ng-model="dataCoveredMembers.MemberLoading"
                                                       ng-disabled="!( (ExLeadDetailsForInsurer.LoadingType==2) && ControlPageAction == 0 )"
                                                       onkeyup="if (this.value > 99) { this.value = '0'; } else if (this.value < 0) { this.value = '0'; } if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                                            </td>
                                        </tr>
                                        <tr ng-repeat="dataCoveredMembers in ExLeadDetailsForInsurer.LoadingDetailsList">
                                            <td>
                                                {{dataCoveredMembers.MemberName}}
                                            </td>
                                            <td>
                                                <input name="ss" type="number" min="0" max="99" maxlength="4" size="4" ng-model="dataCoveredMembers.MemberLoading"
                                                       ng-disabled="!( (ExLeadDetailsForInsurer.LoadingType==2) && ControlPageAction == 0 )"
                                                       onkeyup="if(this.value>99){this.value='0';} else if(this.value<0){this.value='0';}" disabled />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>

                    </div>

                <div ng-if="ExLeadDetailsForInsurer.InsurerActionDetails.AdditionalInfoRequired">
                    
                    <div class="heading"><h3>Additional Info</h3> <span class="add_button" ng-click="AddTaskPending()">+</span></div>
                    <div class="table_responsive">
                        <table class="table table-bordered no-margin">
                            <thead>
                            <th class="th_bg">Task Pending</th>
                            <th class="th_bg">Members</th>                           
                            <th class="th_bg">Comments</th> 
                            <th></th>                           
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in ExLeadDetailsForInsurer.InsurerAdditionalInfoDeatilsList">

                                    <td>
                                        {{data.InfoName}}
                                    </td>
                                    <td>
                                        {{data.MemberName}}
                                    </td>                                    
                                    <td> {{data.Comments}}</td>
                                    <th></th>          
                                </tr>

                                <tr ng-repeat="data in InsurerAdditionalInfoDeatilsList">

                                    <td>
                                        <select class="insurer_box" ng-model="data.Selected.TaskPending"
                                                ng-options="dataTaskPending.TaskPending for dataTaskPending in TaskPending track by dataTaskPending.TaskPendingID ">
                                            <option value=''>Select</option>

                                        </select>
                                    </td>
                                    <td>

                                        <select class="insurer_box" ng-model="data.Selected.Member"
                                                ng-options="dataCoveredMembers.Name for dataCoveredMembers in ExLeadDetailsForInsurer.ProposerDetails.CoveredMembers track by dataCoveredMembers.MemberId ">
                                            <option value=''>Select Member</option>

                                        </select>
                                    </td>
                                    <td><input type="text" ng-model="data.Selected.Comments" required></td>
                                    <td><em class="cancel_icon" ng-click="DeleteAddInfo($index)"></em></td>
                                </tr>



                            </tbody>
                        </table>

                    </div>
                </div>
                <h3>Comments</h3>
                <ul class="planinfobox">
                    <li><span>
                            <textarea name="" cols="" rows="" class="textarea_block" ng-model="ExLeadDetailsForInsurer.NewInsurerRemarks"
                                      ng-disabled="ControlPageAction == 1" ng-init="ExLeadDetailsForInsurer.NewInsurerRemarks=ExLeadDetailsForInsurer.InsurerComment"></textarea>
                            <!--<textarea name="" cols="" rows="" class="textarea_block" ng-model="ExLeadDetailsForInsurer.InsurerComment"
                                      ng-disabled="ControlPageAction == 1"></textarea>-->
                        </span></li>
                </ul>
                <span class="submit_mess">{{msg}}</span>
                <button class="savebutton" ng-click="UpdateInsurerAction()"
                        ng-if="ControlPageAction ==0" >
                    Submit
                </button>
            </div>

        </div>

        <div class="form_container">
            <div class="heading">
                <h2>My Remarks</h2>

            </div>
            <div class="result_block">
                <ul class="planinfobox">
                    <li>
                        <span>
                            <textarea name="" cols="" rows="" class="textarea_block" ng-model="MyRemarks" ></textarea>
                            <!--<textarea name="" cols="" rows="" class="textarea_block" ng-model="ExLeadDetailsForInsurer.InsurerComment"
                              ng-disabled="ControlPageAction == 1"></textarea>-->
                        </span>
                    </li>
                </ul>
                <!--<span class="submit_mess">{{msg}}</span>-->
                <button class="savebutton" ng-click="InsertInsurerRemarks()" >
                   Save Remarks
                </button>
            </div>
                <div class="table_responsive">
                    <table class="table table-bordered no-margin">
                       
                        <tbody>
                            <tr ng-repeat="data in ExLeadDetailsForInsurer.InsurerRemarksDetailsList">
                                <td class="ng-binding">
                                    {{data.CreatedOn}}
                                </td>
                                <td class="ng-binding">
                                    {{data.Remarks}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>




            </div>
    </div>

</div>

<script>
    var arrNumeric = ['#Bookinginfo_TotalPremium', '#Bookinginfo_SumInsured', '#PaymentInfo_Amount', '#Bookinginfo_Supplier_Number', '#Bookinginfo_Amount', '.clExcessAmount']; //added by asmit
    var arrNum = ['#AddBookinginfo_PolicyTerm', '#AddBookinginfo_PremiumPayingTerm']
    arrNumeric.forEach(function (item) {
        $(item).keypress(function fnNumeric(e) {
            return NumbericCheck(e);
        });
    });
    arrNum.forEach(function (item) {
        $(item).keypress(function fn(e) {
            return NumbericCheckWithoutDecimal(e);
        });
    });

    function NumbericCheck(e) {
        var code = e.keyCode ? event.keyCode : e.which ? e.which : e.charCode;

        //Code Explanation{ 0-9, 45=Insert, 13=Enter, 08=Backspace, 09=Tab,46 = delete}
        if (code >= 48 && code <= 57 || (code == 8 || code == 9 || code == 37 || code == 39 || code == 16 || code == 17 || code == 18 || code == 86 || code == 13 || code == 46)) {
            checknos = true;
            return (checknos);
        }
        else {
            checknos = false;
            alert("Only Number Allowed !");
            return (checknos);
        }
    }

</script>