﻿
<div class="container_block">
    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li><a href="#/HealthExchange/PB/PBDashboard">Health Ex Dashboard »</a></li>
                <li>Mark for Health Ex</li>
            </ul>

        </div>

        <div class="form_container">
            <ul class="formbox">
                <li>
                    <label>Search Parameter</label>
                    <span>
                        <select ng-model="Selected.SearchParameter" ng-options="data.Name for data in CommonData.SearchParameter track by data.ID"></select>
                    </span>
                </li>
                <li>
                    <label>&nbsp;</label>
                    <span>
                        <!--<em class="error_mark"></em>-->
                        <em class="right_mark"></em>
                        <input name="" type="text" placeholder="{{Selected.SearchParameter.Name}}" ng-model="FilterParam" />

                    </span>
                </li>
            </ul>

            <ul class="formbox">
                <li>
                    <label>Date Range</label>
                    <span>
                        <select ng-model="Selected.DateRange" ng-options="data.Name for data in CommonData.DateRange track by data.ID" ng-change="DateChange()"></select>
                    </span>
                </li>

                <li class="sml_field">
                    <label>From</label>
                    <span>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="FromDate" is-open="popup1.opened" readonly
                               datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open1()"></em>
                    </span>
                </li>
                <li class="sml_field">
                    <label>To</label>
                    <span>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="ToDate" is-open="popup2.opened" readonly
                               datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open2()"></em>
                    </span>
                </li>
            </ul>

            <ul class="formbox">
                <li>
                    <label>Insurer</label>
                    <span>
                        <select ng-model="Selected.SupplierList" ng-options="data.InsurerName for data in SupplierList track by data.InsurerID"></select>
                    </span>
                </li>
                <li>
                    &nbsp;
                </li>
            </ul>
            <button class="savebutton" ng-click="GetAllExLead()">{{CommonData.ButtonLabel.Search}}</button>
        </div>




        <div class="form_container">
            <div class="heading">
                <h2>Search Result</h2>
                <button class="greyoutbutton" ng-click="MarkLeadForHealthEx()">{{CommonData.ButtonLabel.MarkHealthEx}}</button>
            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <th class="th_bg"><input name="" type="checkbox" value="" ng-click/></th>
                            <th class="th_bg">Date/time</th>
                            <th class="th_bg">Old Lead ID</th>
                            <th class="th_bg">Proposer Name</th>
                            <th class="th_bg">Old Proposal #</th>
                            <th class="th_bg">Customer ID</th>
                            <th class="th_bg">Insurer</th>
                            <th class="th_bg">Reason For Rejection</th>
                            <th class="th_bg">PED</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in AllLeadForHealthEx.GetAllExLeadResult">
                            <td><input name="" type="checkbox" value="" ng-model="data.IsMark" /></td>
                            <td>{{data.OfferCreatedON}}</td>
                            <td>{{data.OldLeadID}}</td>
                            <td>{{data.Name}}</td>
                            <td>{{data.OldProposalNo}}</td>
                            <td>{{data.CustomerID}}</td>
                            <td>{{data.SupplierName}}</td>
                            <td>{{data.RejectionReason}}</td>
                            <td>{{data.PEDInfo}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!--<div class="pagination_block">
                <ul class="pagination">
                    <li><a href="#" class="radiusblock">« Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#" class="radiusblocklast">Next » </a></li>
                </ul>
            </div>-->

        </div>

    </div>
</div>