﻿<div class="form_container">
    <div class="heading">
        <h2>Medical Details</h2>

    </div>
    <ul class="uploadbox" ng-repeat="data in CustomerMedicalDetails.MembersMedical">
        <li>
            <label>Member Name</label>
            <span>
                {{data.MemberName}}
            </span>
        </li>
        <li>
            <label>Medical Test Name</label>
            <span>
                {{data.MedicalTestName}}
            </span>
        </li>
        <li>
            <label>AppointmentStatus</label>
            <span>
                {{data.AppointmentStatus.AppointmentStatus}}
            </span>
        </li>
        
    </ul>
</div>

<div class="form_container">
    <div class="heading">
        <h2>Payment Details({{GETPaymentDetailsForEx[0].LeadID}})</h2>

    </div>
    <ul class="uploadbox" ng-repeat="data in GETPaymentDetailsForEx">

        <li>
            <label>PaymentAmount</label>
            <span>
                {{data.PaymentAmount}}
            </span>
        </li>
        <li>
            <label>PaymentStatus</label>
            <span ng-if="data.PaymentStatus==1">
                Initiated
            </span>
            <span ng-if="data.PaymentStatus==2">
                Payment Done
            </span>
            <span ng-if="data.PaymentStatus==3">
                Pending/Canceled
            </span>
        </li>
        <li>
            <label>CreatedOn</label>
            <span>
                {{data.CreatedOn}}
            </span>
        </li>
    </ul>
</div>
