﻿
<div class="form_container">
    <div class="heading">
        <h2>Payment Details({{GETPaymentDetailsForEx[0].LeadID}})</h2>

    </div>
    <ul class="uploadbox" ng-repeat="data in GETPaymentDetailsForEx">

        <li>
            <label>PaymentAmount</label>
            <span>
                {{data.PaymentAmount}}
            </span>
        </li>
        <li>
            <label>PaymentStatus</label>
            <span ng-if="data.PaymentStatus==1">
                Initiated
            </span>
            <span ng-if="data.PaymentStatus==2">
                Payment Done
            </span>
            <span ng-if="data.PaymentStatus==3">
                Pending/Canceled
            </span>
        </li>
        <li>
            <label>CreatedOn</label>
            <span>
                {{data.CreatedOn}}
            </span>
        </li>
    </ul>
</div>

<div class="form_container">
    <div class="heading">
        <h2>Medical Details</h2>

    </div>
    <ul class="uploadbox" ng-repeat="data in CustomerMedicalDetails.MembersMedical">
        <li>
            <label>Member Name</label>
            <span>
                {{data.MemberName}}
            </span>
        </li>
        <li>
            <label>Medical Test Name</label>
            <span>
                {{data.MedicalTestName}}
            </span>
        </li>
        <li>
            <label>AppointmentStatus</label>
            <span>
                {{data.AppointmentStatus.AppointmentStatus}}
            </span>
        </li>

    </ul>
</div>



<div class="form_container">
    <h2>Response</h2>
    <div ng-repeat="data in PBInsurerUnderwritingDetails.InsurerUnderwritingDetails ">
        <span class="response_subhd">Plan Details</span>

        <div class="result_block response_block">
            <ul class="planinfobox">
                <li>
                    <label>Insurer</label>
                    <span>
                        <input name="" type="text" value="{{data.InsurerDetails.InsurerName}}" disabled />
                    </span>
                </li>
                <li>
                    <label>Plan Name</label>
                    <span>
                        <input name="" type="text" value="{{data.InsurerDetails.PlanName}}" disabled />
                    </span>
                </li>
                <li>
                    <label>Sum Insured</label>
                    <span>
                        <input name="" type="text" value="{{data.InsurerDetails.SumInsured}}" disabled />
                    </span>
                </li>
                <li>
                    <label>Premium</label>
                    <span>
                        <input name="" type="text" value="{{data.InsurerDetails.BasePremium}}" disabled />
                    </span>
                </li>
            </ul>
            <span class="res_subhd">Decision</span>

            <ul class="planinfobox">
                <li>
                    <input name="1" type="radio" ng-checked="data.InsurerActionDetails.Accept" ng-click="CheckAction(1)" disabled="disabled" />
                    <label class="inputfd">Accept</label>
                </li>
                <li>
                    <input name="1" type="radio" ng-checked="data.InsurerActionDetails.Reject" ng-click="CheckAction(2)" disabled="disabled" />
                    <label class="inputfd">Reject</label>
                </li>
                <li>
                    <input name="1" type="radio" ng-checked="data.InsurerActionDetails.AcceptWithConditions" ng-click="CheckAction(3)" disabled="disabled" />
                    <label class="inputfd">Accept with Conditions</label>
                </li>
                <li>
                    <input name="1" type="radio" ng-checked="data.InsurerActionDetails.AdditionalInfoRequired" ng-click="CheckAction(4)" disabled="disabled" />
                    <label class="inputfd">
                        Additional Info Required
                    </label>
                </li>
            </ul>
            <div ng-if="data.InsurerActionDetails.AcceptWithConditions">
                <span class="res_subhd">Conditions</span>
                <ul class="planinfobox">
                    <li>
                        <input name="ss" type="checkbox" value="" ng-model="data.IsCoPay" disabled="disabled" />
                        <label class="inputfd wAuto">Copay</label>
                        <div class="inpInline"><input name="ss" type="text" ng-model="data.CoPay" disabled="disabled" /></div>
                    </li>

                    <li>
                        <input name="dd" type="checkbox" value="" ng-model="data.IsLoadPremium" disabled="disabled" />
                        <label class="inputfd">Loaded Premium</label>
                    </li>
                </ul>
                <ul class="planinfobox">


                    <li>
                        <input name="" type="checkbox" value="" ng-model="data.IsMemberExclusion" disabled="disabled" />
                        <label class="inputfd">Member Rejection</label>
                        <div class="hidden_fd" ng-repeat="data in data.ProposerDetails.CoveredMembers">
                            <input name="" type="checkbox" value="" ng-model="data.IsExcluded" disabled="disabled" />
                            <label class="inputfd">{{data.Name}}({{data.NomineeRelationship}})</label>
                            <div class="inpInline"><input name="" type="text" ng-model="data.ExclusionReason" disabled="disabled" /></div>
                        </div>

                    </li>
                    <li>
                        <input name="" type="checkbox" value="" ng-model="data.IsDiseaseExclusion" disabled="disabled" />
                        <label class="inputfd">Disease Exclusions</label>
                        <div class="hidden_fd">
                            <input name="" type="checkbox" value="" ng-model="data.IsDiseaseExclusionPerm" disabled="disabled" />
                            <label class="inputfd wAuto">Permanent</label>
                            <div class="inpInline"><input name="" type="text" ng-model="data.DiseaseExclusionPerm" disabled="disabled" /> </div>
                        </div>
                        <div class="hidden_fd">
                            <input name="" type="checkbox" value="" ng-model="data.IsDiseaseExclusionTemp" disabled="disabled" />
                            <label class="inputfd wAuto">Temporary</label>
                            <div class="inpInline"><input name="" type="text" ng-model="data.DiseaseExclusionTemp" disabled="disabled" /> </div>
                        </div>
                    </li>

                </ul>


                <span class="res_subhd">Final Premium (Including Loading)</span>
                <ul class="planinfobox">
                    <li>
                        <div class="inpInline noMargn"><input name="ss" type="text" ng-model="data.FinalPremium" disabled="disabled" /></div>
                    </li>
                    <li> </li>
                </ul>

                <span class="res_subhd">Comments</span>
                <ul class="planinfobox">
                    <li><span><textarea name="" cols="" rows="" class="textarea_block" ng-model="data.InsurerRemarks" disabled="disabled"></textarea></span></li>
                </ul>

            </div>

        </div>
    </div>

</div>