﻿

<!--<div class="header">
    <div class="inner_container">
        <div class="logo"></div>

        <div class="login_block">
            <label>Hi {{UserDetails.Name}},</label>
            <span id="show">
                <em class="login_icon"></em>
                <div class="user_list">
                    <em class="arrow_box"></em>
                    <ul class="change_list">
                        <li><em class="edit_pro"></em><label>Edit Profile</label></li>
                        <li><em class="account"></em><label>Account</label></li>
                        <li><em class="setting"></em><label>Settings</label></li>
                        <li><a href="#/HealthExchange/PB/MarkHealthEx"> Mark Health Ex </a></li>
                        <li ng-click="LogOut()"><em class="logout"></em><label>Logout</label></li>
                    </ul>
                </div>
            </span>

        </div>
    </div>
</div>-->


<div class="container_block">

    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li><a href="">Dashboard »</a></li>

            </ul>
            <!--<button class="mark_health_ex_button">Mark for Health Ex</button>-->
        </div>

        <div class="form_container">
            <ul class="formbox">
                <li>
                    <label>Search Parameter</label>
                    <span>
                        <select class="insurer_box" ng-model="Selected.SearchParameterPBDashboard" ng-change="resetSelection()"
                                 ng-options="data.Name for data in CommonData.SearchParameterPBDashboard track by data.ID "></select>
                    </span>
                </li>
                <li>
                    <label>&nbsp;</label>
                    <span>
                        <!--<em class="error_mark"></em>-->
                        <em class="right_mark"></em>
                        <input name="" type="text" placeholder="{{Selected.SearchParameterPBDashboard.Name}}" ng-model="FilterParam" maxlength="150" />

                    </span>
                </li>
            </ul>

            <ul class="formbox">
                <li>
                    <label>Date Range</label>
                    <span>
                        <select class="insurer_box" ng-model="Selected.DateRange" ng-options="data.Name for data in CommonData.DateRange track by data.ID " ng-change="DateChange()"></select>
                    </span>
                </li>

                <li class="sml_field">
                    <label>From</label>
                    <span>
                        <!--<input name="" type="text" />
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open1()"></em>-->
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="FromDate" is-open="popup1.opened" readonly
                               datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open1()"></em>
                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->
                    </span>
                </li>
                <li class="sml_field">
                    <label>To</label>
                    <span>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="ToDate" is-open="popup2.opened" readonly
                               datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <em class="calendar_icon" data-provide="datepicker" ng-click="open2()"></em>
                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->
                    </span>
                </li>
            </ul>

            <ul class="formbox">
                <li>
                    <label>Status</label>
                    <span>
                        <select class="insurer_box" ng-model="Selected.PBDashboardStatus" ng-options="data.Name for data in CommonData.PBDashboardStatus track by data.ID "></select>
                    </span>
                </li>
                <li>
                    <label>Key Matrix</label>
                    <span>
                        <select class="insurer_box" ng-model="Selected.PBDashboardKey" ng-options="data.Name for data in CommonData.PBDashboardKey track by data.ID "></select>
                    </span>
                </li>
            </ul>
            <button class="savebutton" ng-click="GetLeadsForPBDashboard()">{{CommonData.ButtonLabel.Search}}</button>
        </div>




        <div class="form_container">
            <div class="heading">
                <h2>Search Result</h2>
                <button class="greyoutbutton" ng-click="exportData()" ng-if="AllLeadForHealthEx.GetLeadsForPBDashboardResult.length>0">Export to Excel</button>
            <!--</div>
            <select ng-model="pageSize" id="pageSize" class="insurer_box" style="width:100px">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>-->
                </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <!--<th class="th_bg"><input name="" type="checkbox" value="" /></th>-->
                            <th class="th_bg">SNo</th>
                            <th class="th_bg">Date/time</th>
                            <!--<th class="th_bg">Old Lead ID</th>-->
                            <th class="th_bg">New Lead ID</th>
                            <th class="th_bg">Proposer Name</th>
                            <!--<th class="th_bg">Old Proposal #</th>-->
                            <th class="th_bg">New Proposal</th>
                            <th class="th_bg">Customer ID</th>
                            <th class="th_bg">Status</th>
                            <th class="th_bg">Key matrix</th>
                            <th class="th_bg">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in AllLeadForHealthEx.GetLeadsForPBDashboardResult ">
                            <!--<td><input name="" type="checkbox" value="" /></td>-->
                            <td>{{$index + 1}}</td>
                             <td>{{data.HealthExMarkDate}}</td>
                            <!--<td>{{data.OldLeadID}}</td>-->
                            <td>{{data.NewLeadID}}</td>
                            <td>{{data.Name}}</td>
                            <!--<td>{{data.ProposalNo}}</td>-->
                            <td>{{data.ProposalNo}}</td>
                            <td>{{data.CustomerID}}</td>
                            <td>{{data.Remarks}}
                                <span ng-if="data.Customer_Acc>0">{{data.Customer_Acc}} case accepted By Cust </span> 
                                <!--<span ng-if="data.Customer_Rej>0">{{data.Customer_Rej}} case rejected By Cust </span>--> 
                            </td>
                            <td>

                                <!--{{Selected.PBDashboardKey.Name}}-->

                                <span ng-if="data.ALL_PENDING>0">{{data.ALL_PENDING}} Pending ,</span> 
                                <span ng-if="data.ACCEPT_COND>0">{{data.ACCEPT_COND}}  Accept With Cond. ,</span> 
                                <span ng-if="data.ADD_INFO>0">{{data.ADD_INFO}} Add Ifo Req ,</span>
                                <span ng-if="data.REJECTED>0">{{data.REJECTED}} Rejected ,</span>
                                <span ng-if="data.ACCEPTED>0">{{data.ACCEPTED}} Accepted</span>
                                
                            </td>

                           
                            <td>
                                <em class="view_icon" ng-click="OpenLead(data)"></em>
                                <!--<em class="cancel_icon" ng-click="RemoveFromHealthEx(data)" ng-if="data.ExStatusID==2"></em>-->
                             </td>
                        </tr>





                    </tbody>
                </table>

            </div>
            <!--<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button> {{currentPage+1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>-->
            <!--<div class="pagination_block">
                <ul class="pagination">
                    <li><a href="#" class="radiusblock">« Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#" class="radiusblocklast">Next » </a></li>
                </ul>
            </div>-->

        </div>

    </div>

</div>