﻿
<div class="fade_container" ng-if="PageLoad">
    <span class="loader_gif">

        <img src="../images/loading.gif" />
    </span>
    <div class="fade_bg">

    </div>
</div>

<div class="container_block">
    <div class="inner_container">
        <div class="breadcrum_strip">
            <ul class="breadcrum_hd">
                <li><a href="/home.html#/HealthExchange/PB/PBDashboard">Health Ex Dashboard »</a></li>
                <li>Upload Case to Insurer</li>
            </ul>

        </div>

        <div class="form_container">
            <div class="heading">
                <h2>Insured Members 
                    <b ng-if="LeadDetails.ExLeadType==1"> ({{LeadDetails.NewLeadID}})</b>
                    <b ng-if="LeadDetails.ExLeadType==2"> ({{LeadDetails.LeadID}})</b>
                </h2>

            </div>
            <ul class="uploadbox" ng-repeat="data in ExLeadDetailsForCaseSendData.ProposerDetails.CoveredMembers">
                <li>
                    <label>Name</label>
                    <span>
                        {{data.Name}}
                    </span>
                </li>
                <li>
                    <label>DOB</label>
                    <span>
                        {{data.DateOfBirth}}
                    </span>
                </li>
                <li>
                    <label>Relationship</label>
                    <span>
                        {{data.Relation.RelationShipName}}
                    </span>
                </li>
                <li>
                    <label>PED</label>
                    <span>
                        <em class="listing_data" ng-repeat="ped in data.PEDDetails">{{ped.PEDName}}</em>
                    </span>
                </li>
            </ul>


        </div>


        <div class="form_container" ng-if="LeadDetails.ExLeadType==1 && CustomerMedicalDetails !=undefined && CustomerMedicalDetails.length>0">
            <div class="heading">
                <h2>Medical Details</h2>

            </div>
            <ul class="uploadbox" ng-repeat="data in CustomerMedicalDetails">
                <li>
                    <label>Member Name</label>
                    <span>
                        {{data.MemberName}}
                    </span>
                </li>
                <li>
                    <label>Medical Test Name</label>
                    <span>
                        {{data.MedicalTest}}
                    </span>
                </li>
                <li>
                    <label>Date of Appointment</label>
                    <span>
                        {{data.DateofAppointment | date : "dd-MM-yyyy" }}
                    </span>
                </li>
                <li>
                    <label>Appointment Status</label>
                    <span>
                        {{data.AppointmentStatus}}
                    </span>
                </li>

            </ul>
        </div>



        <div class="form_container">
            <div class="heading">
                <h2>Plan Selection</h2>

            </div>
            <div class="table_responsive">
                <table class="table table-bordered no-margin">
                    <thead>
                        <tr>
                            <th class="th_bg">No</th>
                            <th class="th_bg">Insurer Name</th>
                            <th class="th_bg">Plan Name</th>
                            <th class="th_bg">Term</th>
                            <th class="th_bg">Sum Insured</th>
                            <th class="th_bg">Base Premium</th>
                            <th class="th_bg">Form</th>
                            <th class="th_bg">MPF</th>


                        </tr>
                    </thead>
                    <tbody ng-if="ExLeadDetailsForCaseSendData.StatusID==2">
                        <tr>
                            <td>1</td>
                            <td>
                                <select class="insurer_box" ng-init="Selected.SupplierDetailsList = UniqueSupplier[0]" ng-model="Selected.SupplierDetailsList" ng-options="data.SupplierName for data in UniqueSupplier track by data.SupplierId "
                                        ng-change="GetUniquePlan(Selected.SupplierDetailsList.SupplierId,0)"></select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-init="Selected.PlanDetailsList = UniquePlan[0]" ng-model="Selected.PlanDetailsList" ng-options="data.PlanName for data in UniquePlan track by data.PlanId "
                                        ng-change="GetUniqueTerm(Selected.SupplierDetailsList.SupplierId,Selected.PlanDetailsList.PlanId,0)"></select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-init="Selected.TermDetailsList = UniqueTerm[0]" ng-model="Selected.TermDetailsList" ng-options="data.PlanTermID for data in UniqueTerm track by data.PlanTermID "
                                        ng-change="GetUniqueSumInsured(Selected.SupplierDetailsList.SupplierId,Selected.PlanDetailsList.PlanId,Selected.TermDetailsList.PlanTermID,0)"></select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-model="Selected.SumInsuredDetails" ng-options="data.SumInsured for data in UniqueSumInsured track by data.SumInsured "></select>
                            </td>
                            <td>{{Selected.SumInsuredDetails.FinalPremium | INR}} </td>
                            <td>

                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&planid={{Selected.PlanDetailsList.PlanId}}" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>


                            <td>

                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&&view=1" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>


                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <select class="insurer_box" ng-model="Selected.SupplierDetailsList1" ng-init="Selected.SupplierDetailsList1 = UniqueSupplier1[0]" ng-options="data.SupplierName for data in UniqueSupplier1 track by data.SupplierId "
                                        ng-change="GetUniquePlan(Selected.SupplierDetailsList1.SupplierId,1)"></select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-init="Selected.PlanDetailsList1 = UniquePlan1[0]" ng-model="Selected.PlanDetailsList1" ng-options="data.PlanName for data in UniquePlan1 track by data.PlanId "
                                        ng-change="GetUniqueTerm(Selected.SupplierDetailsList1.SupplierId,Selected.PlanDetailsList1.PlanId,1)"></select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-init="Selected.TermDetailsList1 = UniqueTerm1[0]" ng-model="Selected.TermDetailsList1" ng-options="data.PlanTermID for data in UniqueTerm1 track by data.PlanTermID "
                                        ng-change="GetUniqueSumInsured(Selected.SupplierDetailsList1.SupplierId,Selected.PlanDetailsList1.PlanId,Selected.TermDetailsList1.PlanTermID,1)"></select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-model="Selected.SumInsuredDetails1" ng-options="data.SumInsured for data in UniqueSumInsured1 track by data.SumInsured "></select>
                            </td>
                            <td>{{Selected.SumInsuredDetails1.FinalPremium | INR}} </td>
                            <td>

                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&planid={{Selected.PlanDetailsList1.PlanId}}" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>


                            <td>

                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&&view=1" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>



                        </tr>

                        <tr>
                            <td>3</td>
                            <td>
                                <select class="insurer_box" ng-model="Selected.SupplierDetailsList2" ng-init="Selected.SupplierDetailsList2 = UniqueSupplier2[0]" ng-options="data.SupplierName for data in UniqueSupplier2 track by data.SupplierId "
                                        ng-change="GetUniquePlan(Selected.SupplierDetailsList2.SupplierId,2)"></select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-init="Selected.PlanDetailsList2 = UniquePlan2[0]" ng-model="Selected.PlanDetailsList2" ng-options="data.PlanName for data in UniquePlan2 track by data.PlanId "
                                        ng-change="GetUniqueTerm(Selected.SupplierDetailsList2.SupplierId , Selected.PlanDetailsList2.PlanId,2)"></select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-model="Selected.TermDetailsList2" ng-options="data.PlanTermID for data in UniqueTerm2 track by data.PlanTermID "
                                        ng-change="GetUniqueSumInsured(Selected.SupplierDetailsList2.SupplierId,Selected.PlanDetailsList2.PlanId,Selected.TermDetailsList2.PlanTermID,2)"></select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-init="Selected.TermDetailsList2 = UniqueTerm2[0]" ng-model="Selected.SumInsuredDetails2" ng-options="data.SumInsured for data in UniqueSumInsured2 track by data.SumInsured "></select>
                            </td>
                            <td>
                                {{Selected.SumInsuredDetails2.FinalPremium | INR}} 
                            </td>
                            <td>

                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&planid={{Selected.PlanDetailsList2.PlanId}}" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>


                            <td>

                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&&view=1" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>

                        </tr>
                       


                    </tbody>
                    <tbody ng-if="ExLeadDetailsForCaseSendData.StatusID > 2">
                        <tr ng-repeat="data in ExLeadDetailsForCaseSendData.SelectedInsurerDetailsList">
                            <td>{{$index +1}}</td>
                            <td>
                                {{data.InsurerName}}
                            </td>
                            <td>
                                {{data.PlanName}}
                            </td>
                            <td>
                                {{data.Term}}
                            </td>
                            <td>
                                {{data.SumInsured  | INR}}
                            </td>
                            <td>
                                {{data.BasePremium  | INR}}
                            </td>
                            <td>

                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&planid={{Selected.PlanDetailsList.PlanId}}" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>


                            <td>

                                <a href="http://healthqa.policybazaar.com/nstpproposal-detail?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}&&view=1" target="_blank">
                                    <em class="download_icon"></em>

                                </a>
                            </td>


                        </tr>
                    </tbody>
                </table>

            </div>
            <button ng-if="ExLeadDetailsForCaseSendData.StatusID==2" class="savebutton" ng-click="AddSupplierPlanForEx()" ng-disabled="!ExLeadDetailsForCaseSendData.StatusID==2">{{CommonData.ButtonLabel.Proceed}}</button>



        </div>

        <div class="form_container">
            <div class="heading">
                <h2>Documents</h2>
            </div>

            <h3 ng-if="LeadDetails.ExLeadType==2">Master Proposal Form</h3>
            <ul class="uploadocument" ng-if="LeadDetails.ExLeadType==2">
                <li>
                    <label>Link</label>
                    <span>
                        <div>
                            <a href="http://healthqa.policybazaar.com/nstpproposal?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}" target="_blank">
                                http://healthqa.policybazaar.com/nstpproposal?enquiryid={{ExLeadDetailsForCaseSendData.CustomerLead.EncryptEnquiryID}}
                            </a>
                        </div>

                    </span>
                </li>

                <li>
                    <label>Email ID</label>
                    <span>
                        <input name="" type="text" ng-model="SendToEmailID" />
                    </span>
                </li>
                <li><label>&nbsp;</label><span><button class="savebutton" ng-click="SendEmail('MPFDetailsHEX',SendToEmailID)">Send</button></span></li>
            </ul>

            <div class="heading" ng-if="LeadDetails.ExLeadType ==1 &&  GETPaymentDetailsForEx.length>0">
                <!--<div class="heading" >-->
                <h3>Reports</h3>
                <span class="add_button" ng-click="AddMoreDouments()" ng-if="ExLeadDetailsForCaseSendData.StatusID==4">+</span>
                <!--<span class="add_button" ng-click="AddMoreDouments()">+</span>-->
            </div>
            <div class="table_responsive" ng-if="ExLeadDetailsForCaseSendData.StatusID > 3">
            <!--<div class="table_responsive">-->
                <table class="table table-bordered no-margin">
                    <thead>

                    <th class="th_bg">Members</th>
                    <th class="th_bg">Document Type</th>
                    <th class="th_bg">Files</th>
                    <th class="th_bg">Comments</th>
                    <th class="th_bg">Action</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in ExLeadDetailsForCaseSendData.MemberDocumentDetailsList">

                            <td>
                                {{data.MemberName}}
                            </td>
                            <td>
                                {{data.DocumentName}}
                            </td>
                            <td>
                                <a href="{{data.DocURL}}" target="_blank">View</a>
                            </td>
                            <td> {{data.Comments}}</td>
                            <td></td>

                        </tr>

                        <tr ng-repeat="data in DocumentList" ng-if="ExLeadDetailsForCaseSendData.StatusID==4">
                        <!--<tr ng-repeat="data in DocumentList" >-->

                            <td>
                                <select class="insurer_box" ng-model="data.Selected.Member"
                                        ng-options="data.Name for data in ExLeadDetailsForCaseSendData.ProposerDetails.CoveredMembers track by data.MemberId ">
                                    <option value=''>Select Member</option>
                                </select>
                            </td>
                            <td>
                                <select class="insurer_box" ng-model="data.Selected.Document"
                                        ng-options="data.Document for data in ExLeadDetailsForCaseSendData.MasterDocumentList track by data.DocumentId ">
                                    <option value=''>Select Document</option>
                                </select>
                            </td>
                            <td>
                                <label for="fileField"></label>
                                <input type="file" onchange="angular.element(this).scope().file_changed(this)"
                                       id="{{data.Sno}}" required />
                            </td>
                            <td><input type="text" ng-model="data.Selected.Comments" required></td>
                            <td><em class="cancel_icon" ng-click="DeleteDoc($index)"></em></td>

                        </tr>



                    </tbody>
                </table>

            </div>
            <button class="savebutton" ng-click="AddMemberDouments()" ng-if="ExLeadDetailsForCaseSendData.StatusID==4 && DocumentList.length>0">Send Case</button>

            <span style="color:red">{{Error}}</span>
            <span style="color:green">{{Msg}}</span>
            <!--<button class="savebutton" ng-click="AddMemberDouments()" >Save</button>-->
        </div>

        


    </div>
