﻿
    
       
        <!-- Modal -->
        <div >
            <div>

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Alert</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-if="ModalType!=3">{{DisplayMsg}}</p>
                        <p ng-if="ModalType==3" style="color:red;">{{DisplayMsg}}</p>
                    </div>
                    <div class="modal-footer" ng-if="ModalType==1">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ClickPopupYesSaveDocStatus()">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ClickPopupNo(type)">No</button>
                    </div>
                    <div class="modal-footer" ng-if="ModalType==2 || ModalType==3">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ClickPopupOk(type)">Ok</button>

                    </div>
                </div>

            </div>
        </div>

