﻿<div class="modal-content-softcopy">
    <a href="javascript:void(0)" ng-click="cancel()" class="close_button"><em></em>X</a>
    <div class="container_block">
        <h3>Booking ID: {{LeadID}}
        </h3>
    </div>
  
    <div class="seprate_block">
        <ul class="endorsement_list">
            <li>
                <label>Document Category</label>

            </li>
            <li>
                <label>Document</label>

            </li>
            <li>
                <label>Status</label>
                

            </li>
            <li>
                <label>Email Remarks</label>


            </li>
            <li>
                <label>Created By</label>

            </li>


            <li class="last-box">
                <label>Created On</label>

            </li>

          

        </ul>

        <ul class="endorsement_list" ng-repeat="data in DocumentAuditTrail">
            <li>
                <span >
                    {{data.Documentcategory}}
                </span>

            </li>
            <li>
                <span>
                    {{data.Document}}
                </span>
            </li>
            <li>
                <span>
                    {{data.DocStatus}}
                </span>
            </li>

            <li>
                <span>
                    {{data.DocEmailRemarks}}
                </span>
            </li>
            <li>
                <span>
                    {{data.CreatedBy}}
                </span>
            </li>

            <li class="last-box">
                <span>
                    {{data.CreatedOn}}
                </span>

            </li>



        </ul>

    </div>
</div>