﻿<div class="header"> <h1>DOC point</h1></div>
<div class="container_block">

    <div class="inner_container_kyc">
        <div class="booking_detail_kyc">
            <span class="top_heading">Booking Id : ({{LeadID}})</span>
            <span class="top_heading last_block"><a href="#">Continue Journey (Doc Upload Page)</a></span>
        </div>
        <div class="booking_detail_kyc" ng-if="ErrorMsg!=undefined">
            <span class="top_heading">{{ErrorMsg}}</span>
        </div>
        <div class="inner_block">
            <h3>KYC Docs</h3>


            <div class="document_uploadtable_kyc">
                <ul class="heading">
                    <li class="block1">Document Category</li>
                    <li class="block2">Document Type</li>
                    <li class="block3">Original Documents</li>
                    <li class="block4">Merged Document</li>
                    <li class="block5">Status</li>
                    <li class="block6">Action</li>
                </ul>
                <!--dataDoc in data.docs-->
                <!--ng-repeat="data in Documentsdetails.KYC_Documents.availableDocs"-->
                <ul class="document_grid" ng-repeat="data in Documentsdetails.KYC_Documents.DocumentForResList">
                    <li class="block1">{{data.docCategoryName}}</li>

                    <li class="block2">{{data.docType}}</li>
                    <li class="block3">
                        <a href="{{files.FileDetails}}" ng-repeat="files in data.files" target="_blank">
                            <em ng-class="{'pdf_doc': files.extension == '.pdf','word_doc': files.extension == '.docx','img_file': files.extension == '.png','img_file': files.extension == '.jpg'}"></em> 
                            
                            <span>{{files.FileName}}</span>
                        </a>
                    </li>
                    <li class="block4">
                        <a href="{{data.MergedFile}}" ng-if="data.MergedFileName!=null && data.IsMerged=='True'" target="_blank"><em class="pdf_doc"></em> <span>{{data.MergedFileName}}</span></a>
                        <span ng-if="data.IsMerged=='False'">{{data.MergedMsg}}</span>
                    </li>
                    <li class="block5" ng-if="data.statusID != null"> {{data.statusName}} <i class="date_timeformat">({{data.CreatedON}})</i></li>
                    <li class="block5" ng-if="data.statusID == null"> NA</li>

                    <li class="block6" ng-if="data.IsMerged=='True'">

                        <button type="button" class="verify" ng-if="data.statusID==5" ng-click="SaveDocStatus(data,'6','2')">Verify</button>

                        <button type="button" class="rejected" ng-if="data.statusID != null && data.statusID != 8" ng-click="SaveDocStatus(data,'8','2')">Reject</button>
                        <a class="verify" href="{{TermLifeUploadURL}}" target="_blank">Upload</a>
                    </li>
                    <li class="block6" ng-if="data.IsMerged!='True'">


                        <a class="verify" href="{{TermLifeUploadURL}}" target="_blank">Upload</a>
                    </li>

                </ul>
</div>

<div class="button_block_kyc">
    <button ng-class="{'doc_submit': Documentsdetails.KYC_Documents.StatusID == 1}" class=" submit_button_kyc"
            ng-disabled="Documentsdetails.KYC_Documents.StatusID != 1"
            ng-click="SubmitDocumentToInsu(Documentsdetails.KYC_Documents.DocumentForResList,2)">
        Submit Docs To Insurer
    </button>
    <!--<input type="button" value="click" ng-click="SubmitDocumentToInsu(Documentsdetails.KYC_Documents.DocumentForResList,2)" />-->
</div>

        </div>


        <div class="inner_block" ng-if="Documentsdetails.Non_KYC_Documents.DocumentForResList.length>0">
            <h3>NON KYC Docs</h3>


            <div class="document_uploadtable_kyc">
                <ul class="heading">
                    <li class="block1">Questionnaire</li>
                    <li class="block2">Document Type</li>
                    <li class="block3">Original Documents</li>
                    <li class="block4">Merged Document</li>
                    <li class="block5">Status</li>
                    <li class="block6">Action</li>
                </ul>
                <!--dataDoc in data.docs-->
                <!--ng-repeat="data in Documentsdetails.KYC_Documents.availableDocs"-->
                <ul class="document_grid" ng-repeat="data in Documentsdetails.Non_KYC_Documents.DocumentForResList">
                    <li class="block1">{{data.docCategoryName}}</li>

                    <li class="block2">{{data.docType}}</li>
                    <li class="block3">
                        <a href="{{files.FileDetails}}" ng-repeat="files in data.files" target="_blank">
                            <em ng-class="{'pdf_doc': files.extension == '.pdf','word_doc': files.extension == '.docx','img_file': files.extension == '.png','img_file': files.extension == '.jpg'}"></em>

                            <span>{{files.FileName}}</span>
                        </a>
                    </li>
                    <li class="block4">
                        <a ng-if="data.MergedFileName!=null && data.IsMerged=='True'" href="{{data.MergedFile}}" ng-if="data.MergedFileName!=null" target="_blank"><em class="pdf_doc"></em> <span>{{data.MergedFileName}}</span></a>
                        <span ng-if="data.IsMerged=='False'">{{data.MergedMsg}}</span>
                    </li>
                    <li class="block5" ng-if="data.statusID != null"> {{data.statusName}} <i class="date_timeformat">({{data.CreatedON}})</i></li>
                    <li class="block5" ng-if="data.statusID == null"> NA</li>

                    <li class="block6">
                        <button type="button" class="verify" ng-if="data.statusID==5 &&  data.IsMerged=='True'" ng-click="SaveDocStatus(data,'6','3')">Verify</button>
                        <button ng-if="data.statusID==6" ng-class="{'verify': data.statusID==6}" class="submit_button_kyc"
                                ng-click="SubmitDocumentToInsu(data,3)">
                            Submit
                        </button>
                        <!--<button type="button" class="rejected"
                                ng-if="data.statusID != null && data.statusID != 8"
                                ng-click="SubmitDocument(data,3)">
                            Reject
                        </button>-->
                        <button type="button" class="rejected" ng-if="data.statusID != null && data.statusID != 8" ng-click="SaveDocStatus(data,'8','3')">Reject</button>
                        <a class="verify" href="{{TermLifeUploadURL}}" target="_blank">Upload</a>
                    </li>

                </ul>






            </div>

            <!--<div class="button_block_kyc">
            <button ng-class="{'verify': Documentsdetails.Non_KYC_Documents.StatusID == 1,}" class=" submit_button_kyc" ng-disabled="Documentsdetails.Non_KYC_Documents.StatusID != 1" ng-click="SubmitDocument(3)">Submit Docs To Insurer</button>
        </div>-->

        </div>

        <div class="inner_block" ng-if="Documentsdetails.Other_Documents.DocumentForResList.length>0">
            <h3>Other Questionnaires</h3>


            <div class="document_uploadtable_kyc">
                <ul class="heading">
                    <li class="block1">Document Category</li>
                    <li class="block2">Document Type</li>
                    <li class="block3">Original Documents</li>
                    <li class="block4">Merged Document</li>
                    <li class="block5">Status</li>
                    <li class="block6">Action</li>
                </ul>
                <!--dataDoc in data.docs-->
                <!--ng-repeat="data in Documentsdetails.KYC_Documents.availableDocs"-->
                <ul class="document_grid" ng-repeat="data in Documentsdetails.Other_Documents.DocumentForResList">
                    <li class="block1">{{data.docCategoryName}}</li>

                    <li class="block2">{{data.docType}}</li>
                    <li class="block3">
                        <a href="{{files.FileDetails}}" ng-repeat="files in data.files" target="_blank">
                            <em ng-class="{'pdf_doc': files.extension == '.pdf','word_doc': files.extension == '.docx','img_file': files.extension == '.png','img_file': files.extension == '.jpg'}"></em>

                            <span>{{files.FileName}}</span>
                        </a>
                    </li>
                    <li class="block4">
                        <a ng-if="data.MergedFileName!=null && data.IsMerged=='True'" href="{{data.MergedFile}}" ng-if="data.MergedFileName!=null" target="_blank"><em class="pdf_doc"></em> <span>{{data.MergedFileName}}</span></a>
                        <span ng-if="data.IsMerged=='False'">{{data.MergedMsg}}</span>
                    </li>
                    <li class="block5" ng-if="data.statusID != null"> {{data.statusName}} <i class="date_timeformat">({{data.CreatedON}})</i></li>
                    <li class="block5" ng-if="data.statusID == null"> NA</li>

                    <li class="block6">
                        <button type="button" class="verify" ng-if="data.statusID==5 && data.IsMerged=='True'" ng-click="SaveDocStatus(data,'6','4')">Verify</button>
                        <button ng-if="data.statusID==6" ng-class="{'verify': data.statusID==6}"
                                class="submit_button_kyc"
                                ng-click="SubmitDocumentToInsu(data,4)">
                            Submit
                        </button>
                        <button type="button" class="rejected" ng-if="data.statusID != null && data.statusID != 8" ng-click="SaveDocStatus(data,'8','4')">Reject</button>
                        <!--<button type="button" class="rejected" ng-if="data.statusID != null && data.statusID != 8" ng-click="SaveDocStatus(data,'8')">Reject</button>-->
                        <a class="verify" href="{{TermLifeUploadURL}}" target="_blank">Upload</a>
                    </li>

                </ul>






            </div>

            <!--<div class="button_block_kyc">
            <button ng-class="{'verify': Documentsdetails.Other_Documents.StatusID == 1,}" class=" submit_button_kyc" ng-disabled="Documentsdetails.Other_Documents.StatusID != 1" ng-click="SubmitDocument(4)">Submit Docs To Insurer</button>
        </div>-->

        </div>
</div>
</div>
