﻿<div class="header"> <h1>DOC point</h1></div>
<div class="container_block">
    <span class="top_heading">Booking Id : {{Documentsdetails.BookingID}}({{Documentsdetails.SupplierName}})</span>
    <span class="top_heading fr"> <a href="javascript:void(0);" ng-click="GetDocumentAuditTrail()">View Audit Trail</a></span>
    <div class="inner_container">
        <div class="inner_block">
          

            
            <div class="document_list" ng-if="Documentsdetails.RecDocumentsForCustomer.length>0">
                <h3>Existing Documents</h3>
                <ul>
                    <li ng-repeat="DocumentsForBooking in Documentsdetails.RecDocumentsForCustomer">
                        <input name="" type="checkbox" ng-change="SaveExistingDocs(DocumentsForBooking)" ng-model="docs.Checked" />
                        <a href="{{DocumentsForBooking.DocUrl}}" target="_blank">{{DocumentsForBooking.DocumentName}} {{DocumentsForBooking.DocName}}</a>
                    </li>
                </ul>
            </div>
            <div class="document_list" ng-if="Documentsdetails.RecDocumentsForBooking.length>0">
                <h3>Recieved Documents</h3>
                <ul>
                    <li ng-repeat="DocumentsForBooking in Documentsdetails.RecDocumentsForBooking"><a href="{{DocumentsForBooking.DocUrl}}" target="_blank">{{DocumentsForBooking.DocumentName}} {{DocumentsForBooking.DocName}}</a></li>
                </ul>
            </div>
            <div class="document_uploadtable">
                <ul class="heading">
                 
                    <li class="block2">Doc List</li>
                    <li class="block3">Doc Type</li>
                    <li class="block4">Status</li>
                    <li class="block5">Name</li>
                    <li class="block6">Upload</li>
                    <li class="block7">
                        <select ng-model="MailToList.Selected" ng-options="doc.Name for doc in MailToList track by doc.MailToID">
                           
                        </select>
                    </li>
                    <li class="block8">View</li></ul>

                <ul class="document_grid" ng-repeat="ReqDocCategory in Documentsdetails.ReqDocCategoryDetails">
                  
                    <li class="block2">
                        <input name="" type="text" disabled="disabled" value="{{ReqDocCategory.DocCategoryName}}" />
                      
                    </li>
                    <li class="block3">
                        <select ng-disabled="ReqDocCategory.CustDocWait" ng-model="ReqDocCategory.SelectedDoc" ng-options="doc.DocumentName for doc in ReqDocCategory.DocumentDetailsList track by doc.DocumentID">
                            <option value="0">--Select Document--</option>
                        </select>
                    </li>
                    <li class="block4">
                        <select ng-disabled="ReqDocCategory.CustDocWait" ng-model="ReqDocCategory.SelectedStatus" ng-options="Status.StatusName for Status in DocStatusList track by Status.StatusID">
                            <option value="-1">--Select Status--</option>
                        </select>
                    </li>
                    <li class="block5">
                        <input name="" type="text" ng-model="ReqDocCategory.NewDocName" ng-disabled="ReqDocCategory.CustDocWait" />
                    </li>
                    <li class="block6">
                        <input type="file" ng-disabled="ReqDocCategory.CustDocWait" onchange="angular.element(this).scope().file_changed(this)" id="{{ReqDocCategory.DocCategoryID}}:{{ReqDocCategory.SelectedDoc.DocumentID}}:{{ReqDocCategory.NewDocName}}" />
                    </li>
                    <li class="block7">
                        
                        <input name="" ng-disabled="ReqDocCategory.CustDocWait" type="text" ng-model="ReqDocCategory.DocComment" ng-init="ReqDocCategory.DocComment=ReqDocCategory.SelectedDoc.DocEmailRemarks" />
                    </li>
                    <li class="block8">
                        <a ng-if="ReqDocCategory.CurStatusDetails!=undefined && ReqDocCategory.CurStatusDetails.DocumentID>0 && ReqDocCategory.CurStatusDetails.DocURL!='' "
                           href="{{ReqDocCategory.CurStatusDetails.DocURL}}" target="_blank">
                            <em class="viewicon"></em>  
                        </a>
                        </li>
</ul>

                <ul class="button_section">
                    <li class="block1"></li>
                    <li class="block2"><button type="button" class="savebutton" ng-click="SaveDocumentsStatus()">Save</button></li>
                    <li class="block1"><button type="button" class="add_button" ng-click="SendEmail()">Send Email</button></li>
                </ul>

                </div>
            <div class="document_uploadtable" ng-if="Documentsdetails.WaitDocumentsForBooking.length>0">
                <ul class="heading">

                    <li class="block2">Doc List</li>
                    <li class="block3">Doc Type</li>
                    <li class="block4">Status</li>
                    <li class="block5">Name</li>
                    <li class="block6">Remarks</li>

                    <li class="block8">View</li>
                </ul>
                <ul class="document_grid" ng-repeat="WaitDocCategory in Documentsdetails.WaitDocumentsForBooking">

                    <li class="block2">
                        <input name="" type="text" disabled="disabled" value="{{WaitDocCategory.DocCategoryName}}" />

                    </li>
                    <li class="block3">
                        <input name="" type="text" disabled="disabled" value="{{WaitDocCategory.DocCategoryName}}" />
                    </li>
                    <li class="block4">
                        <select ng-model="WaitDocCategory.SelectedStatus" ng-options="Status.StatusName for Status in DocStatusListWait track by Status.StatusID">
                            <option value="-1">--Select Status--</option>
                        </select>
                    </li>
                    <li class="block5">
                        <input name="" type="text" ng-model="WaitDocCategory.DocName" disabled="disabled" />
                    </li>

                    <li class="block7">

                        <input name="" type="text" ng-model="WaitDocCategory.DocComment" ng-init="WaitDocCategory.DocComment=WaitDocCategory.SelectedDoc.DocEmailRemarks" />
                    </li>
                    <li class="block8">
                        <a href="{{WaitDocCategory.DocUrl}}" target="_blank">
                            <em class="viewicon"></em>
                        </a>
                    </li>
                </ul>
                <ul class="button_section">
                    <li class="block1"></li>
                    <li class="block2"><button type="button" class="savebutton" ng-click="UpdateDocStatus()">Save Status</button></li>

                </ul>
            </div>


        </div>
    </div>
</div>